In [3]:
import pandas as pd
import pathlib

In [5]:
dataset_path = pathlib.Path.cwd()/'Datasets'
WHS_path = dataset_path/'World_Health_Statistics_archive'

In [6]:
cancer_data = pd.read_csv(WHS_path/'30-70cancerChdEtc.csv')

In [33]:
cancer_data

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
1,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Male,31.8
2,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Female,27.7
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
4,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Male,31.9
...,...,...,...,...,...
2740,Zimbabwe,2005,Probability (%) of dying between age 30 and ex...,Male,22.1
2741,Zimbabwe,2005,Probability (%) of dying between age 30 and ex...,Female,22.9
2742,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Both sexes,21.6
2743,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Male,21.6
2744,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Female,21.7

There is no nulls in this dataset

In [9]:
cancer_data.isnull().count()

Location         2745
Period           2745
Indicator        2745
Dim1             2745
First Tooltip    2745
dtype: int64

The years in this dataset are 2000, 2005, 2010, 2015, and 2016. It appears to be every 5 years except in regards to 2016.

In [12]:
cancer_data['Period'].unique()

array([2016, 2015, 2010, 2005, 2000])

All data is about dying between the age 30 and 70 from cardiovascular disease, cancer, diabetes, or a chronic respiratory disease.

In [13]:
cancer_data['Indicator'].unique()

array(['Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease'],
      dtype=object)

In [14]:
if cancer_data['Dim1'] == 'Both Sexes':
    print

Location
Period
Indicator
Dim1
First Tooltip

In [17]:
cancer_data['Dim1'].str.contains("Both Sexes").count()

2745

In [29]:
cancer_data.iloc[[0]]

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8

In [40]:
cancer_both_sex = cancer_data[cancer_data['Dim1'] == 'Both sexes']
cancer_both_sex

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
6,Afghanistan,2010,Probability (%) of dying between age 30 and ex...,Both sexes,31.7
9,Afghanistan,2005,Probability (%) of dying between age 30 and ex...,Both sexes,34.1
12,Afghanistan,2000,Probability (%) of dying between age 30 and ex...,Both sexes,34.4
...,...,...,...,...,...
2730,Zimbabwe,2016,Probability (%) of dying between age 30 and ex...,Both sexes,19.3
2733,Zimbabwe,2015,Probability (%) of dying between age 30 and ex...,Both sexes,19.4
2736,Zimbabwe,2010,Probability (%) of dying between age 30 and ex...,Both sexes,21.1
2739,Zimbabwe,2005,Probability (%) of dying between age 30 and ex...,Both sexes,22.5
2742,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Both sexes,21.6

## This dataframe will need to be exported.

In [43]:
cancer_both_sex_2016 = cancer_both_sex[cancer_both_sex['Period'] == 2016]
cancer_both_sex_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
15,Albania,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.0
30,Algeria,2016,Probability (%) of dying between age 30 and ex...,Both sexes,14.2
45,Angola,2016,Probability (%) of dying between age 30 and ex...,Both sexes,16.5
60,Antigua and Barbuda,2016,Probability (%) of dying between age 30 and ex...,Both sexes,22.6
...,...,...,...,...,...
2670,Venezuela (Bolivarian Republic of),2016,Probability (%) of dying between age 30 and ex...,Both sexes,18.1
2685,Viet Nam,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.1
2700,Yemen,2016,Probability (%) of dying between age 30 and ex...,Both sexes,30.6
2715,Zambia,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.9
2730,Zimbabwe,2016,Probability (%) of dying between age 30 and ex...,Both sexes,19.3

## This dataframe will need to be exported.

In [45]:
cancer_both_sex_2015 = cancer_both_sex[cancer_both_sex['Period'] == 2015]
cancer_both_sex_2015

,Location,Period,Indicator,Dim1,First Tooltip
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
18,Albania,2015,Probability (%) of dying between age 30 and ex...,Both sexes,17.4
33,Algeria,2015,Probability (%) of dying between age 30 and ex...,Both sexes,14.4
48,Angola,2015,Probability (%) of dying between age 30 and ex...,Both sexes,16.9
63,Antigua and Barbuda,2015,Probability (%) of dying between age 30 and ex...,Both sexes,22.6
...,...,...,...,...,...
2673,Venezuela (Bolivarian Republic of),2015,Probability (%) of dying between age 30 and ex...,Both sexes,18.2
2688,Viet Nam,2015,Probability (%) of dying between age 30 and ex...,Both sexes,17.3
2703,Yemen,2015,Probability (%) of dying between age 30 and ex...,Both sexes,30.7
2718,Zambia,2015,Probability (%) of dying between age 30 and ex...,Both sexes,18.0
2733,Zimbabwe,2015,Probability (%) of dying between age 30 and ex...,Both sexes,19.4