## Data Notes:
The test set that is exported from this file is made up of the data in the New Data folder. The data is all from the year 2016 when we could with a few from 2018 and 2019 if the data was only recorded every handful of years.

In [3]:
import pandas as pd
import pathlib

In [4]:
new_data_path = pathlib.Path.cwd()/'New Data'

## Adolescent Birth Rate

In [5]:
ad_br_2016 = pd.read_csv(new_data_path/'ad_br_2016.csv')
ad_br_2016

,Location,Period,Indicator,First Tooltip
0,Albania,2016,Adolescent birth rate (per 1000 women aged 15-...,17.3
1,Andorra,2016,Adolescent birth rate (per 1000 women aged 15-...,2.6
2,Antigua and Barbuda,2016,Adolescent birth rate (per 1000 women aged 15-...,31.1
3,Armenia,2016,Adolescent birth rate (per 1000 women aged 15-...,24.5
4,Australia,2016,Adolescent birth rate (per 1000 women aged 15-...,10.3
...,...,...,...,...
103,United Kingdom of Great Britain and Northern I...,2016,Adolescent birth rate (per 1000 women aged 15-...,13.7
104,United Republic of Tanzania,2016,Adolescent birth rate (per 1000 women aged 15-...,138.9
105,United States of America,2016,Adolescent birth rate (per 1000 women aged 15-...,20.3
106,Uruguay,2016,Adolescent birth rate (per 1000 women aged 15-...,50.3
107,Uzbekistan,2016,Adolescent birth rate (per 1000 women aged 15-...,20.9

## Alcohol

In [6]:
alcohol_2018 = pd.read_csv(new_data_path/'alchohol_bs_2018.csv')
alcohol_2018

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Albania,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,7.170
2,Algeria,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.950
3,Andorra,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,11.020
4,Angola,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.940
...,...,...,...,...,...
183,Venezuela (Bolivarian Republic of),2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.140
184,Viet Nam,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,8.660
185,Yemen,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.051
186,Zambia,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.540
187,Zimbabwe,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.670

## Basic Sanitization

In [7]:
sani_2016 = pd.read_csv(new_data_path/'basic_sani_tot_2016.csv')
sani_2016

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population using at least basic sanitation ser...,2016,Total,42.05
1,Albania,Population using at least basic sanitation ser...,2016,Total,97.70
2,Algeria,Population using at least basic sanitation ser...,2016,Total,87.54
3,Andorra,Population using at least basic sanitation ser...,2016,Total,100.00
4,Angola,Population using at least basic sanitation ser...,2016,Total,48.63
...,...,...,...,...,...
186,Venezuela (Bolivarian Republic of),Population using at least basic sanitation ser...,2016,Total,93.94
187,Viet Nam,Population using at least basic sanitation ser...,2016,Total,81.86
188,Yemen,Population using at least basic sanitation ser...,2016,Total,58.77
189,Zambia,Population using at least basic sanitation ser...,2016,Total,26.09
190,Zimbabwe,Population using at least basic sanitation ser...,2016,Total,36.89

## Cancer

In [8]:
cancer_2016 = pd.read_csv(new_data_path/'cancer_bs_2016.csv')
cancer_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
1,Albania,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.0
2,Algeria,2016,Probability (%) of dying between age 30 and ex...,Both sexes,14.2
3,Angola,2016,Probability (%) of dying between age 30 and ex...,Both sexes,16.5
4,Antigua and Barbuda,2016,Probability (%) of dying between age 30 and ex...,Both sexes,22.6
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2016,Probability (%) of dying between age 30 and ex...,Both sexes,18.1
179,Viet Nam,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.1
180,Yemen,2016,Probability (%) of dying between age 30 and ex...,Both sexes,30.6
181,Zambia,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.9
182,Zimbabwe,2016,Probability (%) of dying between age 30 and ex...,Both sexes,19.3

## Medical Doctors

In [9]:
doc_2016 = pd.read_csv(new_data_path/'doc_2016.csv')
doc_2016

        Location  Period                     Indicator  First Tooltip
0    Afghanistan    2016  Medical doctors (per 10,000)           2.78
1        Albania    2016  Medical doctors (per 10,000)          12.16
2        Algeria    2016  Medical doctors (per 10,000)          18.33
3      Argentina    2016  Medical doctors (per 10,000)          40.01
4      Australia    2016  Medical doctors (per 10,000)          35.67
..           ...     ...                           ...            ...
105      Uruguay    2016  Medical doctors (per 10,000)          39.56
106      Vanuatu    2016  Medical doctors (per 10,000)           1.65
107     Viet Nam    2016  Medical doctors (per 10,000)           8.28
108       Zambia    2016  Medical doctors (per 10,000)           1.63
109     Zimbabwe    2016  Medical doctors (per 10,000)           1.79

[110 rows x 4 columns]

## Healthy Life Expectancy at Birth

In [10]:
hale_2019 = pd.read_csv(new_data_path/'HALE_bs_2019.csv')
hale_2019

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.95
1,Albania,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,69.08
2,Algeria,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,66.39
3,Angola,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,54.84
4,Antigua and Barbuda,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,66.97
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2019,Healthy life expectancy (HALE) at birth (years),Both sexes,64.44
179,Viet Nam,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,65.30
180,Yemen,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,57.53
181,Zambia,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,54.40
182,Zimbabwe,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.07

## New HIV Infections

In [11]:
hiv_2019 = pd.read_csv(new_data_path/'hiv_bs_2019.csv')
hiv_2019

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.01-0.15]
1,Albania,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.03
2,Algeria,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.05 [0.01-0.1]
3,Angola,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.84 [0.59-1.12]
4,Argentina,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.13 [0.1-0.19]
...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.19 [0.12-0.26]
166,Viet Nam,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.05 [0.05-0.06]
167,Yemen,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.02-0.08]
168,Zambia,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,3.17 [2.65-3.88]
169,Zimbabwe,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,2.81 [1.97-3.87]

## Infant Mortality Rate

In [12]:
inmort_2016 = pd.read_csv(new_data_path/'in_mort_bs_2016.csv')
inmort_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Infant mortality rate (probability of dying be...,Both sexes,51.32 [44.36-58.38]
1,Albania,2016,Infant mortality rate (probability of dying be...,Both sexes,8.38 [8.07-8.72]
2,Algeria,2016,Infant mortality rate (probability of dying be...,Both sexes,21.28 [20.81-21.75]
3,Andorra,2016,Infant mortality rate (probability of dying be...,Both sexes,3.2 [1.04-10.24]
4,Angola,2016,Infant mortality rate (probability of dying be...,Both sexes,55.56 [31.74-90.3]
...,...,...,...,...,...
167,Switzerland,2016,Infant mortality rate (probability of dying be...,Both sexes,3.74 [3.58-3.92]
168,Syrian Arab Republic,2016,Infant mortality rate (probability of dying be...,Both sexes,17.97 [11.75-21.82]
169,Tajikistan,2016,Infant mortality rate (probability of dying be...,Both sexes,32.1 [24.71-41.72]
170,Thailand,2016,Infant mortality rate (probability of dying be...,Both sexes,8.85 [7.76-10.65]
171,Timor-Leste,2016,Infant mortality rate (probability of dying be...,Both sexes,41.86 [28.15-60.63]

## Life Expectancy at Birth

In [13]:
leb_2019 = pd.read_csv(new_data_path/'leb_bs_2019.csv')
leb_2019

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
2,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
3,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
4,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2019,Life expectancy at birth (years),Both sexes,73.95
179,Viet Nam,2019,Life expectancy at birth (years),Both sexes,73.74
180,Yemen,2019,Life expectancy at birth (years),Both sexes,66.63
181,Zambia,2019,Life expectancy at birth (years),Both sexes,62.45
182,Zimbabwe,2019,Life expectancy at birth (years),Both sexes,60.68

## Malaria

In [14]:
malaria_2016 = pd.read_csv(new_data_path/'malaria_2016.csv')
malaria_2016

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Malaria incidence (per 1 000 population at risk),2016,26.110
1,Algeria,Malaria incidence (per 1 000 population at risk),2016,0.000
2,Angola,Malaria incidence (per 1 000 population at risk),2016,220.000
3,Argentina,Malaria incidence (per 1 000 population at risk),2016,0.000
4,Armenia,Malaria incidence (per 1 000 population at risk),2016,0.000
...,...,...,...,...
102,Venezuela (Bolivarian Republic of),Malaria incidence (per 1 000 population at risk),2016,18.790
103,Viet Nam,Malaria incidence (per 1 000 population at risk),2016,0.073
104,Yemen,Malaria incidence (per 1 000 population at risk),2016,37.750
105,Zambia,Malaria incidence (per 1 000 population at risk),2016,181.400
106,Zimbabwe,Malaria incidence (per 1 000 population at risk),2016,65.780

## Nursing and Midwife

In [15]:
midwife_2016 = pd.read_csv(new_data_path/'midwife_2016.csv')
midwife_2016

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2016,"Nursing and midwifery personnel (per 10,000)",1.48
1,Albania,2016,"Nursing and midwifery personnel (per 10,000)",36.50
2,Algeria,2016,"Nursing and midwifery personnel (per 10,000)",22.43
3,Antigua and Barbuda,2016,"Nursing and midwifery personnel (per 10,000)",44.87
4,Argentina,2016,"Nursing and midwifery personnel (per 10,000)",25.82
...,...,...,...,...
122,United Kingdom of Great Britain and Northern I...,2016,"Nursing and midwifery personnel (per 10,000)",82.75
123,Viet Nam,2016,"Nursing and midwifery personnel (per 10,000)",14.46
124,Yemen,2016,"Nursing and midwifery personnel (per 10,000)",7.49
125,Zambia,2016,"Nursing and midwifery personnel (per 10,000)",2.04
126,Zimbabwe,2016,"Nursing and midwifery personnel (per 10,000)",14.00

## Maternal Mortality Ratio

In [16]:
mmr_2016 = pd.read_csv(new_data_path/'mmr_2016.csv')
mmr_2016

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2016,Maternal mortality ratio (per 100 000 live bir...,673 [457-1040]
1,Albania,2016,Maternal mortality ratio (per 100 000 live bir...,16 [8-26]
2,Algeria,2016,Maternal mortality ratio (per 100 000 live bir...,113 [66-203]
3,Angola,2016,Maternal mortality ratio (per 100 000 live bir...,246 [172-349]
4,Antigua and Barbuda,2016,Maternal mortality ratio (per 100 000 live bir...,43 [25-70]
...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2016,Maternal mortality ratio (per 100 000 live bir...,121 [96-162]
179,Viet Nam,2016,Maternal mortality ratio (per 100 000 live bir...,44 [32-61]
180,Yemen,2016,Maternal mortality ratio (per 100 000 live bir...,165 [104-249]
181,Zambia,2016,Maternal mortality ratio (per 100 000 live bir...,222 [168-295]
182,Zimbabwe,2016,Maternal mortality ratio (per 100 000 live bir...,468 [372-580]

## Neonatal Mortality Rate

In [17]:
neo_2016 = pd.read_csv(new_data_path/'neo_mort_bs_2016.csv')
neo_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Neonatal mortality rate (per 1000 live births),Both sexes,39.05 [32.59-46.17]
1,Albania,2016,Neonatal mortality rate (per 1000 live births),Both sexes,6.33 [5.82-6.82]
2,Algeria,2016,Neonatal mortality rate (per 1000 live births),Both sexes,15.07 [14.46-15.67]
3,Andorra,2016,Neonatal mortality rate (per 1000 live births),Both sexes,1.63 [0.49-5.42]
4,Angola,2016,Neonatal mortality rate (per 1000 live births),Both sexes,29.78 [14.55-53.42]
...,...,...,...,...,...
188,Venezuela (Bolivarian Republic of),2016,Neonatal mortality rate (per 1000 live births),Both sexes,14.62 [13.24-16.09]
189,Viet Nam,2016,Neonatal mortality rate (per 1000 live births),Both sexes,11.19 [8.84-13.91]
190,Yemen,2016,Neonatal mortality rate (per 1000 live births),Both sexes,26.62 [18.58-37.89]
191,Zambia,2016,Neonatal mortality rate (per 1000 live births),Both sexes,24.25 [20.64-28.7]
192,Zimbabwe,2016,Neonatal mortality rate (per 1000 live births),Both sexes,27.33 [22.65-32.75]

## NTDs

In [18]:
ntd_2016 = pd.read_csv(new_data_path/'ntd_2016.csv')
ntd_2016

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Reported number of people requiring interventi...,2016,13275429
1,Albania,Reported number of people requiring interventi...,2016,21
2,Algeria,Reported number of people requiring interventi...,2016,10752
3,Andorra,Reported number of people requiring interventi...,2016,0
4,Angola,Reported number of people requiring interventi...,2016,14419092
...,...,...,...,...
189,Venezuela (Bolivarian Republic of),Reported number of people requiring interventi...,2016,282294
190,Viet Nam,Reported number of people requiring interventi...,2016,6953978
191,Yemen,Reported number of people requiring interventi...,2016,5985649
192,Zambia,Reported number of people requiring interventi...,2016,11573334
193,Zimbabwe,Reported number of people requiring interventi...,2016,9958235

## Mortality Rate by Poisoning

In [19]:
poison_2016 = pd.read_csv(new_data_path/'poison_bs_2016.csv')
poison_2016

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Both sexes,1.19
1,Albania,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.44
2,Algeria,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.77
3,Angola,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.70
4,Antigua and Barbuda,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.39
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),Mortality rate attributed to unintentional poi...,2016,Both sexes,0.29
179,Viet Nam,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.92
180,Yemen,Mortality rate attributed to unintentional poi...,2016,Both sexes,3.77
181,Zambia,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.94
182,Zimbabwe,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.23

## Tobacco Age 15

In [20]:
tob_2016 = pd.read_csv(new_data_path/'tob_2016.csv')
tob_2016

,Location,Indicator,Period,Dim1,First Tooltip
0,Albania,Age-standardized prevalence of current tobacco...,2016,Both sexes,29.7
1,Algeria,Age-standardized prevalence of current tobacco...,2016,Both sexes,19.1
2,Andorra,Age-standardized prevalence of current tobacco...,2016,Both sexes,33.9
3,Argentina,Age-standardized prevalence of current tobacco...,2016,Both sexes,23.6
4,Armenia,Age-standardized prevalence of current tobacco...,2016,Both sexes,27.5
...,...,...,...,...,...
144,Uzbekistan,Age-standardized prevalence of current tobacco...,2016,Both sexes,12.6
145,Vanuatu,Age-standardized prevalence of current tobacco...,2016,Both sexes,24.8
146,Yemen,Age-standardized prevalence of current tobacco...,2016,Both sexes,21.7
147,Zambia,Age-standardized prevalence of current tobacco...,2016,Both sexes,15.2
148,Zimbabwe,Age-standardized prevalence of current tobacco...,2016,Both sexes,14.3

## Tuberculosis

In [21]:
tuber_2016 = pd.read_csv(new_data_path/'tuber_2016.csv')
tuber_2016

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2016,189 [122-270]
1,Albania,Incidence of tuberculosis (per 100 000 populat...,2016,17 [14-19]
2,Algeria,Incidence of tuberculosis (per 100 000 populat...,2016,70 [54-89]
3,Andorra,Incidence of tuberculosis (per 100 000 populat...,2016,6 [5.1-6.9]
4,Angola,Incidence of tuberculosis (per 100 000 populat...,2016,362 [235-518]
...,...,...,...,...
189,Venezuela (Bolivarian Republic of),Incidence of tuberculosis (per 100 000 populat...,2016,34 [26-43]
190,Viet Nam,Incidence of tuberculosis (per 100 000 populat...,2016,193 [122-281]
191,Yemen,Incidence of tuberculosis (per 100 000 populat...,2016,48 [42-54]
192,Zambia,Incidence of tuberculosis (per 100 000 populat...,2016,376 [244-535]
193,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2016,233 [173-302]

## Under 5 Mortality Rate

In [22]:
under5_2016 = pd.read_csv(new_data_path/'under5_bs_2016.csv')
under5_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,67.57 [57.07-78.65]
1,Albania,2016,Under-five mortality rate (probability of dyin...,Both sexes,9.42 [9.08-9.8]
2,Algeria,2016,Under-five mortality rate (probability of dyin...,Both sexes,24.79 [24.25-25.34]
3,Andorra,2016,Under-five mortality rate (probability of dyin...,Both sexes,3.37 [1.1-10.78]
4,Angola,2016,Under-five mortality rate (probability of dyin...,Both sexes,84.21 [42.56-146.4]
...,...,...,...,...,...
167,Switzerland,2016,Under-five mortality rate (probability of dyin...,Both sexes,4.25 [4.06-4.45]
168,Syrian Arab Republic,2016,Under-five mortality rate (probability of dyin...,Both sexes,23.27 [15.09-28.55]
169,Tajikistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,36.82 [27.93-48.82]
170,Thailand,2016,Under-five mortality rate (probability of dyin...,Both sexes,10.32 [9.06-12.38]
171,Timor-Leste,2016,Under-five mortality rate (probability of dyin...,Both sexes,49.01 [32.03-74.01]

## Basic Drinking Water Services

In [23]:
water_2016 = pd.read_csv(new_data_path/'water_data_2016.csv')
water_2016

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2016,Population using at least basic drinking-water...,54.84
1,Albania,2016,Population using at least basic drinking-water...,89.88
2,Algeria,2016,Population using at least basic drinking-water...,88.69
3,Andorra,2016,Population using at least basic drinking-water...,100.00
4,Angola,2016,Population using at least basic drinking-water...,27.08
...,...,...,...,...
187,Venezuela (Bolivarian Republic of),2016,Population using at least basic drinking-water...,95.78
188,Viet Nam,2016,Population using at least basic drinking-water...,91.68
189,Yemen,2016,Population using at least basic drinking-water...,54.70
190,Zambia,2016,Population using at least basic drinking-water...,41.18
191,Zimbabwe,2016,Population using at least basic drinking-water...,50.42