## Data Notes:
The test set that is exported from this file is made up of the data in the New Data folder. The data is all from the year 2016 when we could with a few from 2018 and 2019 if the data was only recorded every handful of years.

In [2]:
import pandas as pd
import pathlib

In [3]:
new_data_path = pathlib.Path.cwd()/'New Data'

## Adolescent Birth Rate

In [4]:
ad_br_2016 = pd.read_csv(new_data_path/'ad_br_2016.csv')
ad_br_2016

,Location,Period,Indicator,First Tooltip
0,Albania,2016,Adolescent birth rate (per 1000 women aged 15-...,17.3
1,Andorra,2016,Adolescent birth rate (per 1000 women aged 15-...,2.6
2,Antigua and Barbuda,2016,Adolescent birth rate (per 1000 women aged 15-...,31.1
3,Armenia,2016,Adolescent birth rate (per 1000 women aged 15-...,24.5
4,Australia,2016,Adolescent birth rate (per 1000 women aged 15-...,10.3
...,...,...,...,...
103,United Kingdom of Great Britain and Northern I...,2016,Adolescent birth rate (per 1000 women aged 15-...,13.7
104,United Republic of Tanzania,2016,Adolescent birth rate (per 1000 women aged 15-...,138.9
105,United States of America,2016,Adolescent birth rate (per 1000 women aged 15-...,20.3
106,Uruguay,2016,Adolescent birth rate (per 1000 women aged 15-...,50.3
107,Uzbekistan,2016,Adolescent birth rate (per 1000 women aged 15-...,20.9

In [5]:
ad_br_2016.columns = ['Location', 'Period', 'Indicator', 'AdBirthRate']
ad_br_2016

,Location,Period,Indicator,AdBirthRate
0,Albania,2016,Adolescent birth rate (per 1000 women aged 15-...,17.3
1,Andorra,2016,Adolescent birth rate (per 1000 women aged 15-...,2.6
2,Antigua and Barbuda,2016,Adolescent birth rate (per 1000 women aged 15-...,31.1
3,Armenia,2016,Adolescent birth rate (per 1000 women aged 15-...,24.5
4,Australia,2016,Adolescent birth rate (per 1000 women aged 15-...,10.3
...,...,...,...,...
103,United Kingdom of Great Britain and Northern I...,2016,Adolescent birth rate (per 1000 women aged 15-...,13.7
104,United Republic of Tanzania,2016,Adolescent birth rate (per 1000 women aged 15-...,138.9
105,United States of America,2016,Adolescent birth rate (per 1000 women aged 15-...,20.3
106,Uruguay,2016,Adolescent birth rate (per 1000 women aged 15-...,50.3
107,Uzbekistan,2016,Adolescent birth rate (per 1000 women aged 15-...,20.9

In [6]:
ad_br_2016 = ad_br_2016.drop(['Period', 'Indicator'], 1)
ad_br_2016

                                              Location  AdBirthRate
0                                              Albania         17.3
1                                              Andorra          2.6
2                                  Antigua and Barbuda         31.1
3                                              Armenia         24.5
4                                            Australia         10.3
..                                                 ...          ...
103  United Kingdom of Great Britain and Northern I...         13.7
104                        United Republic of Tanzania        138.9
105                           United States of America         20.3
106                                            Uruguay         50.3
107                                         Uzbekistan         20.9

[108 rows x 2 columns]

## Alcohol

In [7]:
alcohol_2018 = pd.read_csv(new_data_path/'alchohol_bs_2018.csv')
alcohol_2018

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Albania,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,7.170
2,Algeria,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.950
3,Andorra,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,11.020
4,Angola,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.940
...,...,...,...,...,...
183,Venezuela (Bolivarian Republic of),2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.140
184,Viet Nam,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,8.660
185,Yemen,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.051
186,Zambia,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.540
187,Zimbabwe,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.670

In [8]:
alcohol_2018.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'Alcohol']
alcohol_2018

,Location,Period,Indicator,Dim1,Alcohol
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Albania,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,7.170
2,Algeria,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.950
3,Andorra,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,11.020
4,Angola,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.940
...,...,...,...,...,...
183,Venezuela (Bolivarian Republic of),2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.140
184,Viet Nam,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,8.660
185,Yemen,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.051
186,Zambia,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.540
187,Zimbabwe,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.670

In [9]:
alcohol_2018 = alcohol_2018.drop(['Period', 'Indicator', 'Dim1'], 1)
alcohol_2018

                               Location  Alcohol
0                           Afghanistan    0.210
1                               Albania    7.170
2                               Algeria    0.950
3                               Andorra   11.020
4                                Angola    6.940
..                                  ...      ...
183  Venezuela (Bolivarian Republic of)    4.140
184                            Viet Nam    8.660
185                               Yemen    0.051
186                              Zambia    6.540
187                            Zimbabwe    4.670

[188 rows x 2 columns]

## Basic Sanitization

In [10]:
sani_2016 = pd.read_csv(new_data_path/'basic_sani_tot_2016.csv')
sani_2016

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population using at least basic sanitation ser...,2016,Total,42.05
1,Albania,Population using at least basic sanitation ser...,2016,Total,97.70
2,Algeria,Population using at least basic sanitation ser...,2016,Total,87.54
3,Andorra,Population using at least basic sanitation ser...,2016,Total,100.00
4,Angola,Population using at least basic sanitation ser...,2016,Total,48.63
...,...,...,...,...,...
186,Venezuela (Bolivarian Republic of),Population using at least basic sanitation ser...,2016,Total,93.94
187,Viet Nam,Population using at least basic sanitation ser...,2016,Total,81.86
188,Yemen,Population using at least basic sanitation ser...,2016,Total,58.77
189,Zambia,Population using at least basic sanitation ser...,2016,Total,26.09
190,Zimbabwe,Population using at least basic sanitation ser...,2016,Total,36.89

In [11]:
sani_2016.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'BasicSanitization']
sani_2016

,Location,Period,Indicator,Dim1,BasicSanitization
0,Afghanistan,Population using at least basic sanitation ser...,2016,Total,42.05
1,Albania,Population using at least basic sanitation ser...,2016,Total,97.70
2,Algeria,Population using at least basic sanitation ser...,2016,Total,87.54
3,Andorra,Population using at least basic sanitation ser...,2016,Total,100.00
4,Angola,Population using at least basic sanitation ser...,2016,Total,48.63
...,...,...,...,...,...
186,Venezuela (Bolivarian Republic of),Population using at least basic sanitation ser...,2016,Total,93.94
187,Viet Nam,Population using at least basic sanitation ser...,2016,Total,81.86
188,Yemen,Population using at least basic sanitation ser...,2016,Total,58.77
189,Zambia,Population using at least basic sanitation ser...,2016,Total,26.09
190,Zimbabwe,Population using at least basic sanitation ser...,2016,Total,36.89

In [12]:
sani_2016 = sani_2016.drop(['Period', 'Indicator', 'Dim1'], 1)
sani_2016

                               Location  BasicSanitization
0                           Afghanistan              42.05
1                               Albania              97.70
2                               Algeria              87.54
3                               Andorra             100.00
4                                Angola              48.63
..                                  ...                ...
186  Venezuela (Bolivarian Republic of)              93.94
187                            Viet Nam              81.86
188                               Yemen              58.77
189                              Zambia              26.09
190                            Zimbabwe              36.89

[191 rows x 2 columns]

## Cancer

In [13]:
cancer_2016 = pd.read_csv(new_data_path/'cancer_bs_2016.csv')
cancer_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
1,Albania,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.0
2,Algeria,2016,Probability (%) of dying between age 30 and ex...,Both sexes,14.2
3,Angola,2016,Probability (%) of dying between age 30 and ex...,Both sexes,16.5
4,Antigua and Barbuda,2016,Probability (%) of dying between age 30 and ex...,Both sexes,22.6
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2016,Probability (%) of dying between age 30 and ex...,Both sexes,18.1
179,Viet Nam,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.1
180,Yemen,2016,Probability (%) of dying between age 30 and ex...,Both sexes,30.6
181,Zambia,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.9
182,Zimbabwe,2016,Probability (%) of dying between age 30 and ex...,Both sexes,19.3

In [14]:
cancer_2016.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'CancerEtc']
cancer_2016

,Location,Period,Indicator,Dim1,CancerEtc
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
1,Albania,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.0
2,Algeria,2016,Probability (%) of dying between age 30 and ex...,Both sexes,14.2
3,Angola,2016,Probability (%) of dying between age 30 and ex...,Both sexes,16.5
4,Antigua and Barbuda,2016,Probability (%) of dying between age 30 and ex...,Both sexes,22.6
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2016,Probability (%) of dying between age 30 and ex...,Both sexes,18.1
179,Viet Nam,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.1
180,Yemen,2016,Probability (%) of dying between age 30 and ex...,Both sexes,30.6
181,Zambia,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.9
182,Zimbabwe,2016,Probability (%) of dying between age 30 and ex...,Both sexes,19.3

In [15]:
cancer_2016 = cancer_2016.drop(['Period', 'Indicator', 'Dim1'], 1)
cancer_2016

                               Location  CancerEtc
0                           Afghanistan       29.8
1                               Albania       17.0
2                               Algeria       14.2
3                                Angola       16.5
4                   Antigua and Barbuda       22.6
..                                  ...        ...
178  Venezuela (Bolivarian Republic of)       18.1
179                            Viet Nam       17.1
180                               Yemen       30.6
181                              Zambia       17.9
182                            Zimbabwe       19.3

[183 rows x 2 columns]

## Medical Doctors

In [16]:
doc_2016 = pd.read_csv(new_data_path/'doc_2016.csv')
doc_2016

        Location  Period                     Indicator  First Tooltip
0    Afghanistan    2016  Medical doctors (per 10,000)           2.78
1        Albania    2016  Medical doctors (per 10,000)          12.16
2        Algeria    2016  Medical doctors (per 10,000)          18.33
3      Argentina    2016  Medical doctors (per 10,000)          40.01
4      Australia    2016  Medical doctors (per 10,000)          35.67
..           ...     ...                           ...            ...
105      Uruguay    2016  Medical doctors (per 10,000)          39.56
106      Vanuatu    2016  Medical doctors (per 10,000)           1.65
107     Viet Nam    2016  Medical doctors (per 10,000)           8.28
108       Zambia    2016  Medical doctors (per 10,000)           1.63
109     Zimbabwe    2016  Medical doctors (per 10,000)           1.79

[110 rows x 4 columns]

In [17]:
doc_2016.columns = ['Location', 'Period', 'Indicator', 'MedDocs']
doc_2016

        Location  Period                     Indicator  MedDocs
0    Afghanistan    2016  Medical doctors (per 10,000)     2.78
1        Albania    2016  Medical doctors (per 10,000)    12.16
2        Algeria    2016  Medical doctors (per 10,000)    18.33
3      Argentina    2016  Medical doctors (per 10,000)    40.01
4      Australia    2016  Medical doctors (per 10,000)    35.67
..           ...     ...                           ...      ...
105      Uruguay    2016  Medical doctors (per 10,000)    39.56
106      Vanuatu    2016  Medical doctors (per 10,000)     1.65
107     Viet Nam    2016  Medical doctors (per 10,000)     8.28
108       Zambia    2016  Medical doctors (per 10,000)     1.63
109     Zimbabwe    2016  Medical doctors (per 10,000)     1.79

[110 rows x 4 columns]

In [18]:
doc_2016 = doc_2016.drop(['Period', 'Indicator'], 1)
doc_2016

        Location  MedDocs
0    Afghanistan     2.78
1        Albania    12.16
2        Algeria    18.33
3      Argentina    40.01
4      Australia    35.67
..           ...      ...
105      Uruguay    39.56
106      Vanuatu     1.65
107     Viet Nam     8.28
108       Zambia     1.63
109     Zimbabwe     1.79

[110 rows x 2 columns]

## Healthy Life Expectancy at Birth

In [19]:
hale_2019 = pd.read_csv(new_data_path/'HALE_bs_2019.csv')
hale_2019

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.95
1,Albania,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,69.08
2,Algeria,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,66.39
3,Angola,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,54.84
4,Antigua and Barbuda,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,66.97
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2019,Healthy life expectancy (HALE) at birth (years),Both sexes,64.44
179,Viet Nam,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,65.30
180,Yemen,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,57.53
181,Zambia,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,54.40
182,Zimbabwe,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.07

In [20]:
hale_2019.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'HALE']
hale_2019

,Location,Period,Indicator,Dim1,HALE
0,Afghanistan,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.95
1,Albania,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,69.08
2,Algeria,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,66.39
3,Angola,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,54.84
4,Antigua and Barbuda,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,66.97
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2019,Healthy life expectancy (HALE) at birth (years),Both sexes,64.44
179,Viet Nam,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,65.30
180,Yemen,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,57.53
181,Zambia,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,54.40
182,Zimbabwe,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.07

In [21]:
hale_2019 = hale_2019.drop(['Period', 'Indicator', 'Dim1'], 1)
hale_2019

                               Location   HALE
0                           Afghanistan  53.95
1                               Albania  69.08
2                               Algeria  66.39
3                                Angola  54.84
4                   Antigua and Barbuda  66.97
..                                  ...    ...
178  Venezuela (Bolivarian Republic of)  64.44
179                            Viet Nam  65.30
180                               Yemen  57.53
181                              Zambia  54.40
182                            Zimbabwe  53.07

[183 rows x 2 columns]

## New HIV Infections

In [22]:
hiv_2019 = pd.read_csv(new_data_path/'hiv_bs_2019.csv')
hiv_2019

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.01-0.15]
1,Albania,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.03
2,Algeria,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.05 [0.01-0.1]
3,Angola,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.84 [0.59-1.12]
4,Argentina,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.13 [0.1-0.19]
...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.19 [0.12-0.26]
166,Viet Nam,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.05 [0.05-0.06]
167,Yemen,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.02-0.08]
168,Zambia,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,3.17 [2.65-3.88]
169,Zimbabwe,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,2.81 [1.97-3.87]

In [23]:
hiv_2019.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'HIV']
hiv_2019

,Location,Period,Indicator,Dim1,HIV
0,Afghanistan,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.01-0.15]
1,Albania,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.03
2,Algeria,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.05 [0.01-0.1]
3,Angola,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.84 [0.59-1.12]
4,Argentina,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.13 [0.1-0.19]
...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.19 [0.12-0.26]
166,Viet Nam,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.05 [0.05-0.06]
167,Yemen,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.02-0.08]
168,Zambia,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,3.17 [2.65-3.88]
169,Zimbabwe,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,2.81 [1.97-3.87]

In [24]:
hiv_2019 = hiv_2019.drop(['Period', 'Indicator', 'Dim1'], 1)
hiv_2019

                               Location               HIV
0                           Afghanistan  0.04 [0.01-0.15]
1                               Albania              0.03
2                               Algeria   0.05 [0.01-0.1]
3                                Angola  0.84 [0.59-1.12]
4                             Argentina   0.13 [0.1-0.19]
..                                  ...               ...
165  Venezuela (Bolivarian Republic of)  0.19 [0.12-0.26]
166                            Viet Nam  0.05 [0.05-0.06]
167                               Yemen  0.04 [0.02-0.08]
168                              Zambia  3.17 [2.65-3.88]
169                            Zimbabwe  2.81 [1.97-3.87]

[170 rows x 2 columns]

## Infant Mortality Rate

In [25]:
inmort_2016 = pd.read_csv(new_data_path/'in_mort_bs_2016.csv')
inmort_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Infant mortality rate (probability of dying be...,Both sexes,51.32 [44.36-58.38]
1,Albania,2016,Infant mortality rate (probability of dying be...,Both sexes,8.38 [8.07-8.72]
2,Algeria,2016,Infant mortality rate (probability of dying be...,Both sexes,21.28 [20.81-21.75]
3,Andorra,2016,Infant mortality rate (probability of dying be...,Both sexes,3.2 [1.04-10.24]
4,Angola,2016,Infant mortality rate (probability of dying be...,Both sexes,55.56 [31.74-90.3]
...,...,...,...,...,...
167,Switzerland,2016,Infant mortality rate (probability of dying be...,Both sexes,3.74 [3.58-3.92]
168,Syrian Arab Republic,2016,Infant mortality rate (probability of dying be...,Both sexes,17.97 [11.75-21.82]
169,Tajikistan,2016,Infant mortality rate (probability of dying be...,Both sexes,32.1 [24.71-41.72]
170,Thailand,2016,Infant mortality rate (probability of dying be...,Both sexes,8.85 [7.76-10.65]
171,Timor-Leste,2016,Infant mortality rate (probability of dying be...,Both sexes,41.86 [28.15-60.63]

In [26]:
inmort_2016.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'InfantMortality']
inmort_2016

,Location,Period,Indicator,Dim1,InfantMortality
0,Afghanistan,2016,Infant mortality rate (probability of dying be...,Both sexes,51.32 [44.36-58.38]
1,Albania,2016,Infant mortality rate (probability of dying be...,Both sexes,8.38 [8.07-8.72]
2,Algeria,2016,Infant mortality rate (probability of dying be...,Both sexes,21.28 [20.81-21.75]
3,Andorra,2016,Infant mortality rate (probability of dying be...,Both sexes,3.2 [1.04-10.24]
4,Angola,2016,Infant mortality rate (probability of dying be...,Both sexes,55.56 [31.74-90.3]
...,...,...,...,...,...
167,Switzerland,2016,Infant mortality rate (probability of dying be...,Both sexes,3.74 [3.58-3.92]
168,Syrian Arab Republic,2016,Infant mortality rate (probability of dying be...,Both sexes,17.97 [11.75-21.82]
169,Tajikistan,2016,Infant mortality rate (probability of dying be...,Both sexes,32.1 [24.71-41.72]
170,Thailand,2016,Infant mortality rate (probability of dying be...,Both sexes,8.85 [7.76-10.65]
171,Timor-Leste,2016,Infant mortality rate (probability of dying be...,Both sexes,41.86 [28.15-60.63]

In [27]:
inmort_2016 = inmort_2016.drop(['Period', 'Indicator', 'Dim1'], 1)
inmort_2016

                 Location      InfantMortality
0             Afghanistan  51.32 [44.36-58.38]
1                 Albania     8.38 [8.07-8.72]
2                 Algeria  21.28 [20.81-21.75]
3                 Andorra     3.2 [1.04-10.24]
4                  Angola   55.56 [31.74-90.3]
..                    ...                  ...
167           Switzerland     3.74 [3.58-3.92]
168  Syrian Arab Republic  17.97 [11.75-21.82]
169            Tajikistan   32.1 [24.71-41.72]
170              Thailand    8.85 [7.76-10.65]
171           Timor-Leste  41.86 [28.15-60.63]

[172 rows x 2 columns]

## Life Expectancy at Birth

In [28]:
leb_2019 = pd.read_csv(new_data_path/'leb_bs_2019.csv')
leb_2019

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
2,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
3,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
4,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2019,Life expectancy at birth (years),Both sexes,73.95
179,Viet Nam,2019,Life expectancy at birth (years),Both sexes,73.74
180,Yemen,2019,Life expectancy at birth (years),Both sexes,66.63
181,Zambia,2019,Life expectancy at birth (years),Both sexes,62.45
182,Zimbabwe,2019,Life expectancy at birth (years),Both sexes,60.68

In [29]:
leb_2019.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'LifeExpectancy']
leb_2019

,Location,Period,Indicator,Dim1,LifeExpectancy
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
2,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
3,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
4,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2019,Life expectancy at birth (years),Both sexes,73.95
179,Viet Nam,2019,Life expectancy at birth (years),Both sexes,73.74
180,Yemen,2019,Life expectancy at birth (years),Both sexes,66.63
181,Zambia,2019,Life expectancy at birth (years),Both sexes,62.45
182,Zimbabwe,2019,Life expectancy at birth (years),Both sexes,60.68

In [30]:
leb_2019 = leb_2019.drop(['Period', 'Indicator', 'Dim1'], 1)
leb_2019

                               Location  LifeExpectancy
0                           Afghanistan           63.21
1                               Albania           78.00
2                               Algeria           77.13
3                                Angola           63.06
4                   Antigua and Barbuda           76.45
..                                  ...             ...
178  Venezuela (Bolivarian Republic of)           73.95
179                            Viet Nam           73.74
180                               Yemen           66.63
181                              Zambia           62.45
182                            Zimbabwe           60.68

[183 rows x 2 columns]

## Malaria

In [31]:
malaria_2016 = pd.read_csv(new_data_path/'malaria_2016.csv')
malaria_2016

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Malaria incidence (per 1 000 population at risk),2016,26.110
1,Algeria,Malaria incidence (per 1 000 population at risk),2016,0.000
2,Angola,Malaria incidence (per 1 000 population at risk),2016,220.000
3,Argentina,Malaria incidence (per 1 000 population at risk),2016,0.000
4,Armenia,Malaria incidence (per 1 000 population at risk),2016,0.000
...,...,...,...,...
102,Venezuela (Bolivarian Republic of),Malaria incidence (per 1 000 population at risk),2016,18.790
103,Viet Nam,Malaria incidence (per 1 000 population at risk),2016,0.073
104,Yemen,Malaria incidence (per 1 000 population at risk),2016,37.750
105,Zambia,Malaria incidence (per 1 000 population at risk),2016,181.400
106,Zimbabwe,Malaria incidence (per 1 000 population at risk),2016,65.780

In [32]:
malaria_2016.columns = ['Location', 'Period', 'Indicator', 'Malaria']
malaria_2016

,Location,Period,Indicator,Malaria
0,Afghanistan,Malaria incidence (per 1 000 population at risk),2016,26.110
1,Algeria,Malaria incidence (per 1 000 population at risk),2016,0.000
2,Angola,Malaria incidence (per 1 000 population at risk),2016,220.000
3,Argentina,Malaria incidence (per 1 000 population at risk),2016,0.000
4,Armenia,Malaria incidence (per 1 000 population at risk),2016,0.000
...,...,...,...,...
102,Venezuela (Bolivarian Republic of),Malaria incidence (per 1 000 population at risk),2016,18.790
103,Viet Nam,Malaria incidence (per 1 000 population at risk),2016,0.073
104,Yemen,Malaria incidence (per 1 000 population at risk),2016,37.750
105,Zambia,Malaria incidence (per 1 000 population at risk),2016,181.400
106,Zimbabwe,Malaria incidence (per 1 000 population at risk),2016,65.780

In [33]:
malaria_2016 = malaria_2016.drop(['Period', 'Indicator'], 1)
malaria_2016

                               Location  Malaria
0                           Afghanistan   26.110
1                               Algeria    0.000
2                                Angola  220.000
3                             Argentina    0.000
4                               Armenia    0.000
..                                  ...      ...
102  Venezuela (Bolivarian Republic of)   18.790
103                            Viet Nam    0.073
104                               Yemen   37.750
105                              Zambia  181.400
106                            Zimbabwe   65.780

[107 rows x 2 columns]

## Nursing and Midwife

In [34]:
midwife_2016 = pd.read_csv(new_data_path/'midwife_2016.csv')
midwife_2016

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2016,"Nursing and midwifery personnel (per 10,000)",1.48
1,Albania,2016,"Nursing and midwifery personnel (per 10,000)",36.50
2,Algeria,2016,"Nursing and midwifery personnel (per 10,000)",22.43
3,Antigua and Barbuda,2016,"Nursing and midwifery personnel (per 10,000)",44.87
4,Argentina,2016,"Nursing and midwifery personnel (per 10,000)",25.82
...,...,...,...,...
122,United Kingdom of Great Britain and Northern I...,2016,"Nursing and midwifery personnel (per 10,000)",82.75
123,Viet Nam,2016,"Nursing and midwifery personnel (per 10,000)",14.46
124,Yemen,2016,"Nursing and midwifery personnel (per 10,000)",7.49
125,Zambia,2016,"Nursing and midwifery personnel (per 10,000)",2.04
126,Zimbabwe,2016,"Nursing and midwifery personnel (per 10,000)",14.00

In [35]:
midwife_2016.columns = ['Location', 'Period', 'Indicator', 'MidwifeNursing']
midwife_2016

,Location,Period,Indicator,MidwifeNursing
0,Afghanistan,2016,"Nursing and midwifery personnel (per 10,000)",1.48
1,Albania,2016,"Nursing and midwifery personnel (per 10,000)",36.50
2,Algeria,2016,"Nursing and midwifery personnel (per 10,000)",22.43
3,Antigua and Barbuda,2016,"Nursing and midwifery personnel (per 10,000)",44.87
4,Argentina,2016,"Nursing and midwifery personnel (per 10,000)",25.82
...,...,...,...,...
122,United Kingdom of Great Britain and Northern I...,2016,"Nursing and midwifery personnel (per 10,000)",82.75
123,Viet Nam,2016,"Nursing and midwifery personnel (per 10,000)",14.46
124,Yemen,2016,"Nursing and midwifery personnel (per 10,000)",7.49
125,Zambia,2016,"Nursing and midwifery personnel (per 10,000)",2.04
126,Zimbabwe,2016,"Nursing and midwifery personnel (per 10,000)",14.00

In [36]:
midwife_2016 = midwife_2016.drop(['Period', 'Indicator'], 1)
midwife_2016

                                              Location  MidwifeNursing
0                                          Afghanistan            1.48
1                                              Albania           36.50
2                                              Algeria           22.43
3                                  Antigua and Barbuda           44.87
4                                            Argentina           25.82
..                                                 ...             ...
122  United Kingdom of Great Britain and Northern I...           82.75
123                                           Viet Nam           14.46
124                                              Yemen            7.49
125                                             Zambia            2.04
126                                           Zimbabwe           14.00

[127 rows x 2 columns]

## Maternal Mortality Ratio

In [37]:
mmr_2016 = pd.read_csv(new_data_path/'mmr_2016.csv')
mmr_2016

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2016,Maternal mortality ratio (per 100 000 live bir...,673 [457-1040]
1,Albania,2016,Maternal mortality ratio (per 100 000 live bir...,16 [8-26]
2,Algeria,2016,Maternal mortality ratio (per 100 000 live bir...,113 [66-203]
3,Angola,2016,Maternal mortality ratio (per 100 000 live bir...,246 [172-349]
4,Antigua and Barbuda,2016,Maternal mortality ratio (per 100 000 live bir...,43 [25-70]
...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2016,Maternal mortality ratio (per 100 000 live bir...,121 [96-162]
179,Viet Nam,2016,Maternal mortality ratio (per 100 000 live bir...,44 [32-61]
180,Yemen,2016,Maternal mortality ratio (per 100 000 live bir...,165 [104-249]
181,Zambia,2016,Maternal mortality ratio (per 100 000 live bir...,222 [168-295]
182,Zimbabwe,2016,Maternal mortality ratio (per 100 000 live bir...,468 [372-580]

In [38]:
mmr_2016.columns = ['Location', 'Period', 'Indicator', 'MaternalMortality']
mmr_2016

,Location,Period,Indicator,MaternalMortality
0,Afghanistan,2016,Maternal mortality ratio (per 100 000 live bir...,673 [457-1040]
1,Albania,2016,Maternal mortality ratio (per 100 000 live bir...,16 [8-26]
2,Algeria,2016,Maternal mortality ratio (per 100 000 live bir...,113 [66-203]
3,Angola,2016,Maternal mortality ratio (per 100 000 live bir...,246 [172-349]
4,Antigua and Barbuda,2016,Maternal mortality ratio (per 100 000 live bir...,43 [25-70]
...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2016,Maternal mortality ratio (per 100 000 live bir...,121 [96-162]
179,Viet Nam,2016,Maternal mortality ratio (per 100 000 live bir...,44 [32-61]
180,Yemen,2016,Maternal mortality ratio (per 100 000 live bir...,165 [104-249]
181,Zambia,2016,Maternal mortality ratio (per 100 000 live bir...,222 [168-295]
182,Zimbabwe,2016,Maternal mortality ratio (per 100 000 live bir...,468 [372-580]

In [39]:
mmr_2016 = mmr_2016.drop(['Period', 'Indicator'], 1)
mmr_2016

                               Location MaternalMortality
0                           Afghanistan    673 [457-1040]
1                               Albania         16 [8-26]
2                               Algeria      113 [66-203]
3                                Angola     246 [172-349]
4                   Antigua and Barbuda        43 [25-70]
..                                  ...               ...
178  Venezuela (Bolivarian Republic of)      121 [96-162]
179                            Viet Nam        44 [32-61]
180                               Yemen     165 [104-249]
181                              Zambia     222 [168-295]
182                            Zimbabwe     468 [372-580]

[183 rows x 2 columns]

## Neonatal Mortality Rate

In [40]:
neo_2016 = pd.read_csv(new_data_path/'neo_mort_bs_2016.csv')
neo_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Neonatal mortality rate (per 1000 live births),Both sexes,39.05 [32.59-46.17]
1,Albania,2016,Neonatal mortality rate (per 1000 live births),Both sexes,6.33 [5.82-6.82]
2,Algeria,2016,Neonatal mortality rate (per 1000 live births),Both sexes,15.07 [14.46-15.67]
3,Andorra,2016,Neonatal mortality rate (per 1000 live births),Both sexes,1.63 [0.49-5.42]
4,Angola,2016,Neonatal mortality rate (per 1000 live births),Both sexes,29.78 [14.55-53.42]
...,...,...,...,...,...
188,Venezuela (Bolivarian Republic of),2016,Neonatal mortality rate (per 1000 live births),Both sexes,14.62 [13.24-16.09]
189,Viet Nam,2016,Neonatal mortality rate (per 1000 live births),Both sexes,11.19 [8.84-13.91]
190,Yemen,2016,Neonatal mortality rate (per 1000 live births),Both sexes,26.62 [18.58-37.89]
191,Zambia,2016,Neonatal mortality rate (per 1000 live births),Both sexes,24.25 [20.64-28.7]
192,Zimbabwe,2016,Neonatal mortality rate (per 1000 live births),Both sexes,27.33 [22.65-32.75]

In [41]:
neo_2016.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'NeonatalMortality']
neo_2016

,Location,Period,Indicator,Dim1,NeonatalMortality
0,Afghanistan,2016,Neonatal mortality rate (per 1000 live births),Both sexes,39.05 [32.59-46.17]
1,Albania,2016,Neonatal mortality rate (per 1000 live births),Both sexes,6.33 [5.82-6.82]
2,Algeria,2016,Neonatal mortality rate (per 1000 live births),Both sexes,15.07 [14.46-15.67]
3,Andorra,2016,Neonatal mortality rate (per 1000 live births),Both sexes,1.63 [0.49-5.42]
4,Angola,2016,Neonatal mortality rate (per 1000 live births),Both sexes,29.78 [14.55-53.42]
...,...,...,...,...,...
188,Venezuela (Bolivarian Republic of),2016,Neonatal mortality rate (per 1000 live births),Both sexes,14.62 [13.24-16.09]
189,Viet Nam,2016,Neonatal mortality rate (per 1000 live births),Both sexes,11.19 [8.84-13.91]
190,Yemen,2016,Neonatal mortality rate (per 1000 live births),Both sexes,26.62 [18.58-37.89]
191,Zambia,2016,Neonatal mortality rate (per 1000 live births),Both sexes,24.25 [20.64-28.7]
192,Zimbabwe,2016,Neonatal mortality rate (per 1000 live births),Both sexes,27.33 [22.65-32.75]

In [42]:
neo_2016 = neo_2016.drop(['Period', 'Indicator', 'Dim1'], 1)
neo_2016

                               Location    NeonatalMortality
0                           Afghanistan  39.05 [32.59-46.17]
1                               Albania     6.33 [5.82-6.82]
2                               Algeria  15.07 [14.46-15.67]
3                               Andorra     1.63 [0.49-5.42]
4                                Angola  29.78 [14.55-53.42]
..                                  ...                  ...
188  Venezuela (Bolivarian Republic of)  14.62 [13.24-16.09]
189                            Viet Nam   11.19 [8.84-13.91]
190                               Yemen  26.62 [18.58-37.89]
191                              Zambia   24.25 [20.64-28.7]
192                            Zimbabwe  27.33 [22.65-32.75]

[193 rows x 2 columns]

## NTDs

In [43]:
ntd_2016 = pd.read_csv(new_data_path/'ntd_2016.csv')
ntd_2016

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Reported number of people requiring interventi...,2016,13275429
1,Albania,Reported number of people requiring interventi...,2016,21
2,Algeria,Reported number of people requiring interventi...,2016,10752
3,Andorra,Reported number of people requiring interventi...,2016,0
4,Angola,Reported number of people requiring interventi...,2016,14419092
...,...,...,...,...
189,Venezuela (Bolivarian Republic of),Reported number of people requiring interventi...,2016,282294
190,Viet Nam,Reported number of people requiring interventi...,2016,6953978
191,Yemen,Reported number of people requiring interventi...,2016,5985649
192,Zambia,Reported number of people requiring interventi...,2016,11573334
193,Zimbabwe,Reported number of people requiring interventi...,2016,9958235

In [44]:
ntd_2016.columns = ['Location', 'Period', 'Indicator', 'NTDs']
ntd_2016

,Location,Period,Indicator,NTDs
0,Afghanistan,Reported number of people requiring interventi...,2016,13275429
1,Albania,Reported number of people requiring interventi...,2016,21
2,Algeria,Reported number of people requiring interventi...,2016,10752
3,Andorra,Reported number of people requiring interventi...,2016,0
4,Angola,Reported number of people requiring interventi...,2016,14419092
...,...,...,...,...
189,Venezuela (Bolivarian Republic of),Reported number of people requiring interventi...,2016,282294
190,Viet Nam,Reported number of people requiring interventi...,2016,6953978
191,Yemen,Reported number of people requiring interventi...,2016,5985649
192,Zambia,Reported number of people requiring interventi...,2016,11573334
193,Zimbabwe,Reported number of people requiring interventi...,2016,9958235

In [45]:
ntd_2016 = ntd_2016.drop(['Period', 'Indicator'], 1)
ntd_2016

                               Location      NTDs
0                           Afghanistan  13275429
1                               Albania        21
2                               Algeria     10752
3                               Andorra         0
4                                Angola  14419092
..                                  ...       ...
189  Venezuela (Bolivarian Republic of)    282294
190                            Viet Nam   6953978
191                               Yemen   5985649
192                              Zambia  11573334
193                            Zimbabwe   9958235

[194 rows x 2 columns]

## Mortality Rate by Poisoning

In [46]:
poison_2016 = pd.read_csv(new_data_path/'poison_bs_2016.csv')
poison_2016

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Both sexes,1.19
1,Albania,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.44
2,Algeria,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.77
3,Angola,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.70
4,Antigua and Barbuda,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.39
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),Mortality rate attributed to unintentional poi...,2016,Both sexes,0.29
179,Viet Nam,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.92
180,Yemen,Mortality rate attributed to unintentional poi...,2016,Both sexes,3.77
181,Zambia,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.94
182,Zimbabwe,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.23

In [47]:
poison_2016.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'Poisoning']
poison_2016

,Location,Period,Indicator,Dim1,Poisoning
0,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Both sexes,1.19
1,Albania,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.44
2,Algeria,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.77
3,Angola,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.70
4,Antigua and Barbuda,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.39
...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),Mortality rate attributed to unintentional poi...,2016,Both sexes,0.29
179,Viet Nam,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.92
180,Yemen,Mortality rate attributed to unintentional poi...,2016,Both sexes,3.77
181,Zambia,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.94
182,Zimbabwe,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.23

In [48]:
poison_2016 = poison_2016.drop(['Period', 'Indicator', 'Dim1'], 1)
poison_2016

                               Location  Poisoning
0                           Afghanistan       1.19
1                               Albania       0.44
2                               Algeria       0.77
3                                Angola       2.70
4                   Antigua and Barbuda       0.39
..                                  ...        ...
178  Venezuela (Bolivarian Republic of)       0.29
179                            Viet Nam       0.92
180                               Yemen       3.77
181                              Zambia       2.94
182                            Zimbabwe       2.23

[183 rows x 2 columns]

## Tobacco Age 15

In [49]:
tob_2016 = pd.read_csv(new_data_path/'tob_2016.csv')
tob_2016

,Location,Indicator,Period,Dim1,First Tooltip
0,Albania,Age-standardized prevalence of current tobacco...,2016,Both sexes,29.7
1,Algeria,Age-standardized prevalence of current tobacco...,2016,Both sexes,19.1
2,Andorra,Age-standardized prevalence of current tobacco...,2016,Both sexes,33.9
3,Argentina,Age-standardized prevalence of current tobacco...,2016,Both sexes,23.6
4,Armenia,Age-standardized prevalence of current tobacco...,2016,Both sexes,27.5
...,...,...,...,...,...
144,Uzbekistan,Age-standardized prevalence of current tobacco...,2016,Both sexes,12.6
145,Vanuatu,Age-standardized prevalence of current tobacco...,2016,Both sexes,24.8
146,Yemen,Age-standardized prevalence of current tobacco...,2016,Both sexes,21.7
147,Zambia,Age-standardized prevalence of current tobacco...,2016,Both sexes,15.2
148,Zimbabwe,Age-standardized prevalence of current tobacco...,2016,Both sexes,14.3

In [50]:
tob_2016.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'Tobacco']
tob_2016

,Location,Period,Indicator,Dim1,Tobacco
0,Albania,Age-standardized prevalence of current tobacco...,2016,Both sexes,29.7
1,Algeria,Age-standardized prevalence of current tobacco...,2016,Both sexes,19.1
2,Andorra,Age-standardized prevalence of current tobacco...,2016,Both sexes,33.9
3,Argentina,Age-standardized prevalence of current tobacco...,2016,Both sexes,23.6
4,Armenia,Age-standardized prevalence of current tobacco...,2016,Both sexes,27.5
...,...,...,...,...,...
144,Uzbekistan,Age-standardized prevalence of current tobacco...,2016,Both sexes,12.6
145,Vanuatu,Age-standardized prevalence of current tobacco...,2016,Both sexes,24.8
146,Yemen,Age-standardized prevalence of current tobacco...,2016,Both sexes,21.7
147,Zambia,Age-standardized prevalence of current tobacco...,2016,Both sexes,15.2
148,Zimbabwe,Age-standardized prevalence of current tobacco...,2016,Both sexes,14.3

In [51]:
tob_2016 = tob_2016.drop(['Period', 'Indicator', 'Dim1'], 1)
tob_2016

       Location  Tobacco
0       Albania     29.7
1       Algeria     19.1
2       Andorra     33.9
3     Argentina     23.6
4       Armenia     27.5
..          ...      ...
144  Uzbekistan     12.6
145     Vanuatu     24.8
146       Yemen     21.7
147      Zambia     15.2
148    Zimbabwe     14.3

[149 rows x 2 columns]

## Tuberculosis

In [52]:
tuber_2016 = pd.read_csv(new_data_path/'tuber_2016.csv')
tuber_2016

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2016,189 [122-270]
1,Albania,Incidence of tuberculosis (per 100 000 populat...,2016,17 [14-19]
2,Algeria,Incidence of tuberculosis (per 100 000 populat...,2016,70 [54-89]
3,Andorra,Incidence of tuberculosis (per 100 000 populat...,2016,6 [5.1-6.9]
4,Angola,Incidence of tuberculosis (per 100 000 populat...,2016,362 [235-518]
...,...,...,...,...
189,Venezuela (Bolivarian Republic of),Incidence of tuberculosis (per 100 000 populat...,2016,34 [26-43]
190,Viet Nam,Incidence of tuberculosis (per 100 000 populat...,2016,193 [122-281]
191,Yemen,Incidence of tuberculosis (per 100 000 populat...,2016,48 [42-54]
192,Zambia,Incidence of tuberculosis (per 100 000 populat...,2016,376 [244-535]
193,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2016,233 [173-302]

In [53]:
tuber_2016.columns = ['Location', 'Period', 'Indicator', 'Tuberculosis']
tuber_2016

,Location,Period,Indicator,Tuberculosis
0,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2016,189 [122-270]
1,Albania,Incidence of tuberculosis (per 100 000 populat...,2016,17 [14-19]
2,Algeria,Incidence of tuberculosis (per 100 000 populat...,2016,70 [54-89]
3,Andorra,Incidence of tuberculosis (per 100 000 populat...,2016,6 [5.1-6.9]
4,Angola,Incidence of tuberculosis (per 100 000 populat...,2016,362 [235-518]
...,...,...,...,...
189,Venezuela (Bolivarian Republic of),Incidence of tuberculosis (per 100 000 populat...,2016,34 [26-43]
190,Viet Nam,Incidence of tuberculosis (per 100 000 populat...,2016,193 [122-281]
191,Yemen,Incidence of tuberculosis (per 100 000 populat...,2016,48 [42-54]
192,Zambia,Incidence of tuberculosis (per 100 000 populat...,2016,376 [244-535]
193,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2016,233 [173-302]

In [54]:
tuber_2016 = tuber_2016.drop(['Period', 'Indicator'], 1)
tuber_2016

                               Location   Tuberculosis
0                           Afghanistan  189 [122-270]
1                               Albania     17 [14-19]
2                               Algeria     70 [54-89]
3                               Andorra    6 [5.1-6.9]
4                                Angola  362 [235-518]
..                                  ...            ...
189  Venezuela (Bolivarian Republic of)     34 [26-43]
190                            Viet Nam  193 [122-281]
191                               Yemen     48 [42-54]
192                              Zambia  376 [244-535]
193                            Zimbabwe  233 [173-302]

[194 rows x 2 columns]

## Under 5 Mortality Rate

In [55]:
under5_2016 = pd.read_csv(new_data_path/'under5_bs_2016.csv')
under5_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,67.57 [57.07-78.65]
1,Albania,2016,Under-five mortality rate (probability of dyin...,Both sexes,9.42 [9.08-9.8]
2,Algeria,2016,Under-five mortality rate (probability of dyin...,Both sexes,24.79 [24.25-25.34]
3,Andorra,2016,Under-five mortality rate (probability of dyin...,Both sexes,3.37 [1.1-10.78]
4,Angola,2016,Under-five mortality rate (probability of dyin...,Both sexes,84.21 [42.56-146.4]
...,...,...,...,...,...
167,Switzerland,2016,Under-five mortality rate (probability of dyin...,Both sexes,4.25 [4.06-4.45]
168,Syrian Arab Republic,2016,Under-five mortality rate (probability of dyin...,Both sexes,23.27 [15.09-28.55]
169,Tajikistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,36.82 [27.93-48.82]
170,Thailand,2016,Under-five mortality rate (probability of dyin...,Both sexes,10.32 [9.06-12.38]
171,Timor-Leste,2016,Under-five mortality rate (probability of dyin...,Both sexes,49.01 [32.03-74.01]

In [56]:
under5_2016.columns = ['Location', 'Period', 'Indicator', 'Dim1', 'Under5Mortality']
under5_2016

,Location,Period,Indicator,Dim1,Under5Mortality
0,Afghanistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,67.57 [57.07-78.65]
1,Albania,2016,Under-five mortality rate (probability of dyin...,Both sexes,9.42 [9.08-9.8]
2,Algeria,2016,Under-five mortality rate (probability of dyin...,Both sexes,24.79 [24.25-25.34]
3,Andorra,2016,Under-five mortality rate (probability of dyin...,Both sexes,3.37 [1.1-10.78]
4,Angola,2016,Under-five mortality rate (probability of dyin...,Both sexes,84.21 [42.56-146.4]
...,...,...,...,...,...
167,Switzerland,2016,Under-five mortality rate (probability of dyin...,Both sexes,4.25 [4.06-4.45]
168,Syrian Arab Republic,2016,Under-five mortality rate (probability of dyin...,Both sexes,23.27 [15.09-28.55]
169,Tajikistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,36.82 [27.93-48.82]
170,Thailand,2016,Under-five mortality rate (probability of dyin...,Both sexes,10.32 [9.06-12.38]
171,Timor-Leste,2016,Under-five mortality rate (probability of dyin...,Both sexes,49.01 [32.03-74.01]

In [57]:
under5_2016 = under5_2016.drop(['Period', 'Indicator', 'Dim1'], 1)
under5_2016

                 Location      Under5Mortality
0             Afghanistan  67.57 [57.07-78.65]
1                 Albania      9.42 [9.08-9.8]
2                 Algeria  24.79 [24.25-25.34]
3                 Andorra     3.37 [1.1-10.78]
4                  Angola  84.21 [42.56-146.4]
..                    ...                  ...
167           Switzerland     4.25 [4.06-4.45]
168  Syrian Arab Republic  23.27 [15.09-28.55]
169            Tajikistan  36.82 [27.93-48.82]
170              Thailand   10.32 [9.06-12.38]
171           Timor-Leste  49.01 [32.03-74.01]

[172 rows x 2 columns]

## Basic Drinking Water Services

In [58]:
water_2016 = pd.read_csv(new_data_path/'water_data_2016.csv')
water_2016

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2016,Population using at least basic drinking-water...,54.84
1,Albania,2016,Population using at least basic drinking-water...,89.88
2,Algeria,2016,Population using at least basic drinking-water...,88.69
3,Andorra,2016,Population using at least basic drinking-water...,100.00
4,Angola,2016,Population using at least basic drinking-water...,27.08
...,...,...,...,...
187,Venezuela (Bolivarian Republic of),2016,Population using at least basic drinking-water...,95.78
188,Viet Nam,2016,Population using at least basic drinking-water...,91.68
189,Yemen,2016,Population using at least basic drinking-water...,54.70
190,Zambia,2016,Population using at least basic drinking-water...,41.18
191,Zimbabwe,2016,Population using at least basic drinking-water...,50.42

In [59]:
water_2016.columns = ['Location', 'Period', 'Indicator', 'DrinkingWater']
water_2016

,Location,Period,Indicator,DrinkingWater
0,Afghanistan,2016,Population using at least basic drinking-water...,54.84
1,Albania,2016,Population using at least basic drinking-water...,89.88
2,Algeria,2016,Population using at least basic drinking-water...,88.69
3,Andorra,2016,Population using at least basic drinking-water...,100.00
4,Angola,2016,Population using at least basic drinking-water...,27.08
...,...,...,...,...
187,Venezuela (Bolivarian Republic of),2016,Population using at least basic drinking-water...,95.78
188,Viet Nam,2016,Population using at least basic drinking-water...,91.68
189,Yemen,2016,Population using at least basic drinking-water...,54.70
190,Zambia,2016,Population using at least basic drinking-water...,41.18
191,Zimbabwe,2016,Population using at least basic drinking-water...,50.42

In [60]:
water_2016 = water_2016.drop(['Period', 'Indicator'], 1)
water_2016

                               Location  DrinkingWater
0                           Afghanistan          54.84
1                               Albania          89.88
2                               Algeria          88.69
3                               Andorra         100.00
4                                Angola          27.08
..                                  ...            ...
187  Venezuela (Bolivarian Republic of)          95.78
188                            Viet Nam          91.68
189                               Yemen          54.70
190                              Zambia          41.18
191                            Zimbabwe          50.42

[192 rows x 2 columns]

In [65]:
big = pd.merge(ntd_2016, poison_2016, on = "Location", how = "left")

In [66]:
big1 = pd.merge(big, tob_2016, on = "Location", how = "left")

In [67]:
big2 = pd.merge(big1, tuber_2016, on = "Location", how = "left")

In [68]:
big3 = pd.merge(big2, under5_2016, on = "Location", how = "left")

In [69]:
big4 = pd.merge(big3, water_2016, on = "Location", how = "left")

In [70]:
big5 = pd.merge(big4, ad_br_2016, on = "Location", how = "left")

In [71]:
big6 = pd.merge(big5, alcohol_2018, on = "Location", how = "left")

In [72]:
big7 = pd.merge(big6, sani_2016, on = "Location", how = "left")

In [73]:
big8 = pd.merge(big7, cancer_2016, on = "Location", how = "left")

In [74]:
big9 = pd.merge(big8, doc_2016, on = "Location", how = "left")

In [75]:
big10 = pd.merge(big9, hale_2019, on = "Location", how = "left")

In [76]:
big11 = pd.merge(big10, hiv_2019, on = "Location", how = "left")

In [77]:
big12 = pd.merge(big11, inmort_2016, on = "Location", how = "left")

In [78]:
big13 = pd.merge(big12, leb_2019, on = "Location", how = "left")

In [79]:
big14 = pd.merge(big13, malaria_2016, on = "Location", how = "left")

In [80]:
big15 = pd.merge(big14, midwife_2016, on = "Location", how = "left")

In [81]:
big16 = pd.merge(big15, mmr_2016, on = "Location", how = "left")

In [82]:
big17 = pd.merge(big16, neo_2016, on = "Location", how = "left")

In [83]:
big17

,Location,NTDs,Poisoning,Tobacco,Tuberculosis,Under5Mortality,DrinkingWater,AdBirthRate,Alcohol,BasicSanitization,CancerEtc,MedDocs,HALE,HIV,InfantMortality,LifeExpectancy,Malaria,MidwifeNursing,MaternalMortality,NeonatalMortality
0,Afghanistan,13275429,1.19,NaN,189 [122-270],67.57 [57.07-78.65],54.84,NaN,0.210,42.05,29.8,2.78,53.95,0.04 [0.01-0.15],51.32 [44.36-58.38],63.21,26.110,1.48,673 [457-1040],39.05 [32.59-46.17]
1,Albania,21,0.44,29.7,17 [14-19],9.42 [9.08-9.8],89.88,17.3,7.170,97.70,17.0,12.16,69.08,0.03,8.38 [8.07-8.72],78.00,NaN,36.50,16 [8-26],6.33 [5.82-6.82]
2,Algeria,10752,0.77,19.1,70 [54-89],24.79 [24.25-25.34],88.69,NaN,0.950,87.54,14.2,18.33,66.39,0.05 [0.01-0.1],21.28 [20.81-21.75],77.13,0.000,22.43,113 [66-203],15.07 [14.46-15.67]
3,Andorra,0,NaN,33.9,6 [5.1-6.9],3.37 [1.1-10.78],100.00,2.6,11.020,100.00,NaN,NaN,NaN,NaN,3.2 [1.04-10.24],NaN,NaN,NaN,NaN,1.63 [0.49-5.42]
4,Angola,14419092,2.70,NaN,362 [235-518],84.21 [42.56-146.4],27.08,NaN,6.940,48.63,16.5,NaN,54.84,0.84 [0.59-1.12],55.56 [31.74-90.3],63.06,220.000,NaN,246 [172-349],29.78 [14.55-53.42]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela (Bolivarian Republic of),282294,0.29,NaN,34 [26-43],NaN,95.78,NaN,4.140,93.94,18.1,NaN,64.44,0.19 [0.12-0.26],NaN,73.95,18.790,NaN,121 [96-162],14.62 [13.24-16.09]
190,Viet Nam,6953978,0.92,NaN,193 [122-281],NaN,91.68,NaN,8.660,81.86,17.1,8.28,65.30,0.05 [0.05-0.06],NaN,73.74,0.073,14.46,44 [32-61],11.19 [8.84-13.91]
191,Yemen,5985649,3.77,21.7,48 [42-54],NaN,54.70,NaN,0.051,58.77,30.6,NaN,57.53,0.04 [0.02-0.08],NaN,66.63,37.750,7.49,165 [104-249],26.62 [18.58-37.89]
192,Zambia,11573334,2.94,15.2,376 [244-535],NaN,41.18,NaN,6.540,26.09,17.9,1.63,54.40,3.17 [2.65-3.88],NaN,62.45,181.400,2.04,222 [168-295],24.25 [20.64-28.7]
193,Zimbabwe,9958235,2.23,14.3,233 [173-302],NaN,50.42,NaN,4.670,36.89,19.3,1.79,53.07,2.81 [1.97-3.87],NaN,60.68,65.780,14.00,468 [372-580],27.33 [22.65-32.75]

In [84]:
big17.isnull().sum()

Location              0
NTDs                  0
Poisoning            11
Tobacco              45
Tuberculosis          0
Under5Mortality      22
DrinkingWater         2
AdBirthRate          86
Alcohol               6
BasicSanitization     3
CancerEtc            11
MedDocs              84
HALE                 11
HIV                  24
InfantMortality      22
LifeExpectancy       11
Malaria              87
MidwifeNursing       67
MaternalMortality    11
NeonatalMortality     1
dtype: int64

In [85]:
big17.to_csv('test_big_messy.csv', index = False)

In [62]:
test_big = pd.read_csv('test_big_messy.csv')
#test_big

In [94]:
test_small = test_big.drop(['Tobacco', 'MidwifeNursing', 'HIV', 'Malaria', 'AdBirthRate', 'MedDocs'], 1)
test_small

,Location,NTDs,Poisoning,Tuberculosis,Under5Mortality,DrinkingWater,Alcohol,BasicSanitization,CancerEtc,HALE,InfantMortality,LifeExpectancy,MaternalMortality,NeonatalMortality
0,Afghanistan,13275429,1.19,189 [122-270],67.57 [57.07-78.65],54.84,0.210,42.05,29.8,53.95,51.32 [44.36-58.38],63.21,673 [457-1040],39.05 [32.59-46.17]
1,Albania,21,0.44,17 [14-19],9.42 [9.08-9.8],89.88,7.170,97.70,17.0,69.08,8.38 [8.07-8.72],78.00,16 [8-26],6.33 [5.82-6.82]
2,Algeria,10752,0.77,70 [54-89],24.79 [24.25-25.34],88.69,0.950,87.54,14.2,66.39,21.28 [20.81-21.75],77.13,113 [66-203],15.07 [14.46-15.67]
3,Andorra,0,NaN,6 [5.1-6.9],3.37 [1.1-10.78],100.00,11.020,100.00,NaN,NaN,3.2 [1.04-10.24],NaN,NaN,1.63 [0.49-5.42]
4,Angola,14419092,2.70,362 [235-518],84.21 [42.56-146.4],27.08,6.940,48.63,16.5,54.84,55.56 [31.74-90.3],63.06,246 [172-349],29.78 [14.55-53.42]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela (Bolivarian Republic of),282294,0.29,34 [26-43],NaN,95.78,4.140,93.94,18.1,64.44,NaN,73.95,121 [96-162],14.62 [13.24-16.09]
190,Viet Nam,6953978,0.92,193 [122-281],NaN,91.68,8.660,81.86,17.1,65.30,NaN,73.74,44 [32-61],11.19 [8.84-13.91]
191,Yemen,5985649,3.77,48 [42-54],NaN,54.70,0.051,58.77,30.6,57.53,NaN,66.63,165 [104-249],26.62 [18.58-37.89]
192,Zambia,11573334,2.94,376 [244-535],NaN,41.18,6.540,26.09,17.9,54.40,NaN,62.45,222 [168-295],24.25 [20.64-28.7]
193,Zimbabwe,9958235,2.23,233 [173-302],NaN,50.42,4.670,36.89,19.3,53.07,NaN,60.68,468 [372-580],27.33 [22.65-32.75]

In [95]:
test_small.to_csv('test_small_messy.csv', index = False)

## Add tobacco back to small test set

In [ ]:
test_small_cleaner = pd.read_csv('test_small_cleaner.csv')
test_small_cleaner

In [63]:
tobacco_col = test_big['Tobacco']
tobacco_col

0       NaN
1      29.7
2      19.1
3      33.9
4       NaN
       ...
189     NaN
190     NaN
191    21.7
192    15.2
193    14.3
Name: Tobacco, Length: 194, dtype: float64

In [64]:
test_small_cleaner['Tobacco'] = tobacco_col

In [65]:
test_small_cleaner

,Location,NTDs,Poisoning,Tuberculosis,Under5Mortality,DrinkingWater,Alcohol,BasicSanitization,CancerEtc,HALE,InfantMortality,LifeExpectancy,MaternalMortality,NeonatalMortality,Tobacco
0,Afghanistan,13275429,1.19,189.0,67.57,54.84,0.210,42.05,29.8,53.95,51.32,63.21,673.0,39.05,NaN
1,Albania,21,0.44,17.0,9.42,89.88,7.170,97.70,17.0,69.08,8.38,78.00,16.0,6.33,29.7
2,Algeria,10752,0.77,70.0,24.79,88.69,0.950,87.54,14.2,66.39,21.28,77.13,113.0,15.07,19.1
3,Andorra,0,NaN,6.0,3.37,100.00,11.020,100.00,NaN,NaN,3.20,NaN,NaN,1.63,33.9
4,Angola,14419092,2.70,362.0,84.21,27.08,6.940,48.63,16.5,54.84,55.56,63.06,246.0,29.78,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela (Bolivarian Republic of),282294,0.29,34.0,NaN,95.78,4.140,93.94,18.1,64.44,NaN,73.95,121.0,14.62,NaN
190,Viet Nam,6953978,0.92,193.0,NaN,91.68,8.660,81.86,17.1,65.30,NaN,73.74,44.0,11.19,NaN
191,Yemen,5985649,3.77,48.0,NaN,54.70,0.051,58.77,30.6,57.53,NaN,66.63,165.0,26.62,21.7
192,Zambia,11573334,2.94,376.0,NaN,41.18,6.540,26.09,17.9,54.40,NaN,62.45,222.0,24.25,15.2
193,Zimbabwe,9958235,2.23,233.0,NaN,50.42,4.670,36.89,19.3,53.07,NaN,60.68,468.0,27.33,14.3

In [ ]:
test_small_cleaner.to_csv('test_cleaner_with_tobacco.csv', index = False)