In [1]:
import pandas as pd
import pathlib

In [2]:
dataset_path = pathlib.Path.cwd()/'Datasets'
WHS_path = dataset_path/'World_Health_Statistics_archive'

## Cancer

In [3]:
cancer_data = pd.read_csv(WHS_path/'30-70cancerChdEtc.csv')

In [4]:
cancer_data

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
1,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Male,31.8
2,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Female,27.7
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
4,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Male,31.9
...,...,...,...,...,...
2740,Zimbabwe,2005,Probability (%) of dying between age 30 and ex...,Male,22.1
2741,Zimbabwe,2005,Probability (%) of dying between age 30 and ex...,Female,22.9
2742,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Both sexes,21.6
2743,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Male,21.6
2744,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Female,21.7

There is no nulls in this dataset

In [5]:
cancer_data.isnull().count()

Location         2745
Period           2745
Indicator        2745
Dim1             2745
First Tooltip    2745
dtype: int64

In [191]:
cancer_data[cancer_data['First Tooltip'] == 0.0].count()

Location         0
Period           0
Indicator        0
Dim1             0
First Tooltip    0
dtype: int64

The years in this dataset are 2000, 2005, 2010, 2015, and 2016. It appears to be every 5 years except in regards to 2016.

In [6]:
cancer_data['Period'].unique()

array([2016, 2015, 2010, 2005, 2000])

All counts are the same for each year, so any year is a great choice.

In [7]:
cancer_data[cancer_data['Period'] == 2016].count()

Location         549
Period           549
Indicator        549
Dim1             549
First Tooltip    549
dtype: int64

In [8]:
cancer_data[cancer_data['Period'] == 2015].count()

Location         549
Period           549
Indicator        549
Dim1             549
First Tooltip    549
dtype: int64

In [9]:
cancer_data[cancer_data['Period'] == 2010].count()

Location         549
Period           549
Indicator        549
Dim1             549
First Tooltip    549
dtype: int64

In [10]:
cancer_data[cancer_data['Period'] == 2005].count()

Location         549
Period           549
Indicator        549
Dim1             549
First Tooltip    549
dtype: int64

In [11]:
cancer_data[cancer_data['Period'] == 2000].count()

Location         549
Period           549
Indicator        549
Dim1             549
First Tooltip    549
dtype: int64

All data is about dying between the age 30 and 70 from cardiovascular disease, cancer, diabetes, or a chronic respiratory disease.

In [12]:
cancer_data['Indicator'].unique()

array(['Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease'],
      dtype=object)

In [13]:
#cancer_data['Dim1'].str.contains("Both Sexes").count()

In [14]:
#cancer_data.iloc[[0]]

In [15]:
cancer_both_sex = cancer_data[cancer_data['Dim1'] == 'Both sexes']
cancer_both_sex

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
6,Afghanistan,2010,Probability (%) of dying between age 30 and ex...,Both sexes,31.7
9,Afghanistan,2005,Probability (%) of dying between age 30 and ex...,Both sexes,34.1
12,Afghanistan,2000,Probability (%) of dying between age 30 and ex...,Both sexes,34.4
...,...,...,...,...,...
2730,Zimbabwe,2016,Probability (%) of dying between age 30 and ex...,Both sexes,19.3
2733,Zimbabwe,2015,Probability (%) of dying between age 30 and ex...,Both sexes,19.4
2736,Zimbabwe,2010,Probability (%) of dying between age 30 and ex...,Both sexes,21.1
2739,Zimbabwe,2005,Probability (%) of dying between age 30 and ex...,Both sexes,22.5
2742,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Both sexes,21.6

## This dataframe will need to be exported.

In [16]:
cancer_both_sex_2016 = cancer_both_sex[cancer_both_sex['Period'] == 2016]
cancer_both_sex_2016

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
15,Albania,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.0
30,Algeria,2016,Probability (%) of dying between age 30 and ex...,Both sexes,14.2
45,Angola,2016,Probability (%) of dying between age 30 and ex...,Both sexes,16.5
60,Antigua and Barbuda,2016,Probability (%) of dying between age 30 and ex...,Both sexes,22.6
...,...,...,...,...,...
2670,Venezuela (Bolivarian Republic of),2016,Probability (%) of dying between age 30 and ex...,Both sexes,18.1
2685,Viet Nam,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.1
2700,Yemen,2016,Probability (%) of dying between age 30 and ex...,Both sexes,30.6
2715,Zambia,2016,Probability (%) of dying between age 30 and ex...,Both sexes,17.9
2730,Zimbabwe,2016,Probability (%) of dying between age 30 and ex...,Both sexes,19.3

## This dataframe will need to be exported.

In [17]:
cancer_both_sex_2015 = cancer_both_sex[cancer_both_sex['Period'] == 2015]
cancer_both_sex_2015

,Location,Period,Indicator,Dim1,First Tooltip
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
18,Albania,2015,Probability (%) of dying between age 30 and ex...,Both sexes,17.4
33,Algeria,2015,Probability (%) of dying between age 30 and ex...,Both sexes,14.4
48,Angola,2015,Probability (%) of dying between age 30 and ex...,Both sexes,16.9
63,Antigua and Barbuda,2015,Probability (%) of dying between age 30 and ex...,Both sexes,22.6
...,...,...,...,...,...
2673,Venezuela (Bolivarian Republic of),2015,Probability (%) of dying between age 30 and ex...,Both sexes,18.2
2688,Viet Nam,2015,Probability (%) of dying between age 30 and ex...,Both sexes,17.3
2703,Yemen,2015,Probability (%) of dying between age 30 and ex...,Both sexes,30.7
2718,Zambia,2015,Probability (%) of dying between age 30 and ex...,Both sexes,18.0
2733,Zimbabwe,2015,Probability (%) of dying between age 30 and ex...,Both sexes,19.4

## Adolescent Birth Rate

In [194]:
ad_br_data = pd.read_csv(WHS_path/'adolescentBirthRate.csv')
ad_br_data

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,Adolescent birth rate (per 1000 women aged 15-...,62.0
1,Afghanistan,2014,Adolescent birth rate (per 1000 women aged 15-...,77.2
2,Afghanistan,2013,Adolescent birth rate (per 1000 women aged 15-...,87.0
3,Afghanistan,2011,Adolescent birth rate (per 1000 women aged 15-...,125.7
4,Afghanistan,2009,Adolescent birth rate (per 1000 women aged 15-...,80.0
...,...,...,...,...
2184,Zimbabwe,2008,Adolescent birth rate (per 1000 women aged 15-...,112.0
2185,Zimbabwe,2007,Adolescent birth rate (per 1000 women aged 15-...,102.6
2186,Zimbabwe,2004,Adolescent birth rate (per 1000 women aged 15-...,98.7
2187,Zimbabwe,2003,Adolescent birth rate (per 1000 women aged 15-...,101.0
2188,Zimbabwe,2002,Adolescent birth rate (per 1000 women aged 15-...,102.6

In [189]:
ad_br_data.isnull().count()

Location         2189
Period           2189
Indicator        2189
First Tooltip    2189
dtype: int64

In [190]:
ad_br_data[ad_br_data['First Tooltip'] == 0.0].count()

Location         1
Period           1
Indicator        1
First Tooltip    1
dtype: int64

In [196]:
ad_br_data[ad_br_data['First Tooltip'] == 0.0]

,Location,Period,Indicator,First Tooltip
1707,San Marino,2012,Adolescent birth rate (per 1000 women aged 15-...,0.0

In [20]:
ad_br_data['Period'].unique()

array([2017, 2014, 2013, 2011, 2009, 2008, 2007, 2006, 2005, 2003, 2000,
       2016, 2015, 2012, 2010, 2004, 2002, 2001, 2018])

Data counts are all different for each year. This will need to be evaluated further since 2015 and 2016 might not be the best options.

In [21]:
ad_br_data[ad_br_data['Period'] == 2018].count()

Location         22
Period           22
Indicator        22
First Tooltip    22
dtype: int64

In [22]:
ad_br_data[ad_br_data['Period'] == 2017].count()

Location         99
Period           99
Indicator        99
First Tooltip    99
dtype: int64

In [23]:
ad_br_data[ad_br_data['Period'] == 2016].count()

Location         108
Period           108
Indicator        108
First Tooltip    108
dtype: int64

In [24]:
ad_br_data[ad_br_data['Period'] == 2015].count()

Location         106
Period           106
Indicator        106
First Tooltip    106
dtype: int64

In [25]:
ad_br_data[ad_br_data['Period'] == 2014].count()

Location         115
Period           115
Indicator        115
First Tooltip    115
dtype: int64

In [26]:
ad_br_data[ad_br_data['Period'] == 2013].count()

Location         116
Period           116
Indicator        116
First Tooltip    116
dtype: int64

In [27]:
ad_br_data[ad_br_data['Period'] == 2012].count()

Location         113
Period           113
Indicator        113
First Tooltip    113
dtype: int64

In [28]:
ad_br_data[ad_br_data['Period'] == 2011].count()

Location         117
Period           117
Indicator        117
First Tooltip    117
dtype: int64

In [29]:
ad_br_data[ad_br_data['Period'] == 2010].count()

Location         120
Period           120
Indicator        120
First Tooltip    120
dtype: int64

In [30]:
ad_br_data[ad_br_data['Period'] == 2009].count()

Location         133
Period           133
Indicator        133
First Tooltip    133
dtype: int64

In [31]:
ad_br_data[ad_br_data['Period'] == 2008].count()

Location         116
Period           116
Indicator        116
First Tooltip    116
dtype: int64

In [32]:
ad_br_data[ad_br_data['Period'] == 2007].count()

Location         121
Period           121
Indicator        121
First Tooltip    121
dtype: int64

In [33]:
ad_br_data[ad_br_data['Period'] == 2006].count()

Location         120
Period           120
Indicator        120
First Tooltip    120
dtype: int64

In [34]:
ad_br_data[ad_br_data['Period'] == 2005].count()

Location         130
Period           130
Indicator        130
First Tooltip    130
dtype: int64

In [35]:
ad_br_data[ad_br_data['Period'] == 2004].count()

Location         124
Period           124
Indicator        124
First Tooltip    124
dtype: int64

In [36]:
ad_br_data[ad_br_data['Period'] == 2003].count()

Location         120
Period           120
Indicator        120
First Tooltip    120
dtype: int64

In [37]:
ad_br_data[ad_br_data['Period'] == 2002].count()

Location         134
Period           134
Indicator        134
First Tooltip    134
dtype: int64

In [38]:
ad_br_data[ad_br_data['Period'] == 2001].count()

Location         133
Period           133
Indicator        133
First Tooltip    133
dtype: int64

In [39]:
ad_br_data[ad_br_data['Period'] == 2000].count()

Location         142
Period           142
Indicator        142
First Tooltip    142
dtype: int64

In [40]:
ad_br_data['Indicator'].unique()

array(['Adolescent birth rate (per 1000 women aged 15-19 years)'],
      dtype=object)

## Check if use this year

This year only has 108 rows

In [41]:
ad_br_2016 = ad_br_data[ad_br_data['Period'] == 2016]
ad_br_2016

,Location,Period,Indicator,First Tooltip
12,Albania,2016,Adolescent birth rate (per 1000 women aged 15-...,17.3
41,Andorra,2016,Adolescent birth rate (per 1000 women aged 15-...,2.6
66,Antigua and Barbuda,2016,Adolescent birth rate (per 1000 women aged 15-...,31.1
96,Armenia,2016,Adolescent birth rate (per 1000 women aged 15-...,24.5
114,Australia,2016,Adolescent birth rate (per 1000 women aged 15-...,10.3
...,...,...,...,...
2065,United Kingdom of Great Britain and Northern I...,2016,Adolescent birth rate (per 1000 women aged 15-...,13.7
2082,United Republic of Tanzania,2016,Adolescent birth rate (per 1000 women aged 15-...,138.9
2092,United States of America,2016,Adolescent birth rate (per 1000 women aged 15-...,20.3
2111,Uruguay,2016,Adolescent birth rate (per 1000 women aged 15-...,50.3
2129,Uzbekistan,2016,Adolescent birth rate (per 1000 women aged 15-...,20.9

## Check if use this year

This row has only 106 rows

In [42]:
ad_br_2015 = ad_br_data[ad_br_data['Period'] == 2015]
ad_br_2015

,Location,Period,Indicator,First Tooltip
13,Albania,2015,Adolescent birth rate (per 1000 women aged 15-...,20.2
28,Algeria,2015,Adolescent birth rate (per 1000 women aged 15-...,9.7
42,Andorra,2015,Adolescent birth rate (per 1000 women aged 15-...,3.1
67,Antigua and Barbuda,2015,Adolescent birth rate (per 1000 women aged 15-...,37.7
79,Argentina,2015,Adolescent birth rate (per 1000 women aged 15-...,65.1
...,...,...,...,...
2000,Turkey,2015,Adolescent birth rate (per 1000 women aged 15-...,24.9
2027,Uganda,2015,Adolescent birth rate (per 1000 women aged 15-...,131.5
2066,United Kingdom of Great Britain and Northern I...,2015,Adolescent birth rate (per 1000 women aged 15-...,14.4
2093,United States of America,2015,Adolescent birth rate (per 1000 women aged 15-...,22.3
2112,Uruguay,2015,Adolescent birth rate (per 1000 women aged 15-...,55.6

## Air Pollution Deaths

In [43]:
ap_data = pd.read_csv(WHS_path/'airPollutionDeathRate.csv')
ap_data

,Location,Dim2,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,95.12 [85.12-104.3]
1,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Male,95.58 [85.5-106]
2,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Female,94.63 [84.55-103.9]
3,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,211.1 [188.9-231.3]
4,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Male,228.7 [204.6-253.6]
...,...,...,...,...,...,...
6583,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Male,5.54 [2.74-7.66]
6584,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Female,6.19 [4.73-7.3]
6585,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Both sexes,16.09 [11.67-19.89]
6586,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Male,17.72 [8.75-24.51]
6587,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Female,14.95 [11.43-17.62]

In [44]:
ap_data.isnull().count()

Location         6588
Dim2             6588
Indicator        6588
Period           6588
Dim1             6588
First Tooltip    6588
dtype: int64

In [45]:
ap_data['Period'].unique()

array([2016])

In [46]:
ap_data['Dim2'].unique()

array(['Total', 'Lower respiratory infections',
       'Trachea, bronchus, lung cancers', 'Ischaemic heart disease',
       'Stroke', 'Chronic obstructive pulmonary disease'], dtype=object)

In [47]:
ap_data['Indicator'].unique()

array(['Ambient and household air pollution attributable death rate (per 100 000 population)',
       'Ambient and household air pollution attributable death rate (per 100 000 population, age-standardized)'],
      dtype=object)

I think it would be best to make each unique value in Dim2 as a column. That way we would have a single row for each country instead of a bunch of rows per country. Maybe see if the original dataset was set up like this.

In [48]:
ap_bs_data = ap_data[ap_data['Dim1'] == 'Both sexes']
ap_bs_data

,Location,Dim2,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,95.12 [85.12-104.3]
3,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,211.1 [188.9-231.3]
6,Afghanistan,Lower respiratory infections,Ambient and household air pollution attributab...,2016,Both sexes,31.26 [25.66-35.67]
9,Afghanistan,Lower respiratory infections,Ambient and household air pollution attributab...,2016,Both sexes,31.68 [26.01-36.15]
12,Afghanistan,"Trachea, bronchus, lung cancers",Ambient and household air pollution attributab...,2016,Both sexes,1.61 [1.21-1.96]
...,...,...,...,...,...,...
6573,Zimbabwe,Ischaemic heart disease,Ambient and household air pollution attributab...,2016,Both sexes,33.24 [28.49-38.1]
6576,Zimbabwe,Stroke,Ambient and household air pollution attributab...,2016,Both sexes,8.27 [7.07-9.64]
6579,Zimbabwe,Stroke,Ambient and household air pollution attributab...,2016,Both sexes,20.08 [17.15-23.4]
6582,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Both sexes,5.88 [4.26-7.26]
6585,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Both sexes,16.09 [11.67-19.89]

In [49]:
ap_bs_standardized = ap_bs_data[ap_bs_data['Indicator'] == 'Ambient and household air pollution attributable death rate (per 100 000 population, age-standardized)']
ap_bs_standardized

,Location,Dim2,Indicator,Period,Dim1,First Tooltip
3,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,211.1 [188.9-231.3]
9,Afghanistan,Lower respiratory infections,Ambient and household air pollution attributab...,2016,Both sexes,31.68 [26.01-36.15]
15,Afghanistan,"Trachea, bronchus, lung cancers",Ambient and household air pollution attributab...,2016,Both sexes,4.05 [3.03-4.92]
21,Afghanistan,Ischaemic heart disease,Ambient and household air pollution attributab...,2016,Both sexes,106.9 [91.91-121.1]
27,Afghanistan,Stroke,Ambient and household air pollution attributab...,2016,Both sexes,45.1 [38.59-51.65]
...,...,...,...,...,...,...
6561,Zimbabwe,Lower respiratory infections,Ambient and household air pollution attributab...,2016,Both sexes,61.68 [51.05-71.05]
6567,Zimbabwe,"Trachea, bronchus, lung cancers",Ambient and household air pollution attributab...,2016,Both sexes,1.89 [1.42-2.33]
6573,Zimbabwe,Ischaemic heart disease,Ambient and household air pollution attributab...,2016,Both sexes,33.24 [28.49-38.1]
6579,Zimbabwe,Stroke,Ambient and household air pollution attributab...,2016,Both sexes,20.08 [17.15-23.4]
6585,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Both sexes,16.09 [11.67-19.89]

In [50]:
ap_bs_standardized['Indicator'].unique()

array(['Ambient and household air pollution attributable death rate (per 100 000 population, age-standardized)'],
      dtype=object)

## This data has only 1 year. Maybe best to ignore.

In [159]:
ap_bs_tot = ap_bs_standardized[ap_bs_standardized['Dim2'] == 'Total']
ap_bs_tot

,Location,Dim2,Indicator,Period,Dim1,First Tooltip
3,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,211.1 [188.9-231.3]
39,Albania,Total,Ambient and household air pollution attributab...,2016,Both sexes,67.99 [45.61-95.6]
75,Algeria,Total,Ambient and household air pollution attributab...,2016,Both sexes,49.68 [38.61-86.22]
111,Angola,Total,Ambient and household air pollution attributab...,2016,Both sexes,118.5 [101.9-134.7]
147,Antigua and Barbuda,Total,Ambient and household air pollution attributab...,2016,Both sexes,29.9 [25.18-35.55]
...,...,...,...,...,...,...
6411,Venezuela (Bolivarian Republic of),Total,Ambient and household air pollution attributab...,2016,Both sexes,34.65 [28.14-43.04]
6447,Viet Nam,Total,Ambient and household air pollution attributab...,2016,Both sexes,64.48 [54.72-75.04]
6483,Yemen,Total,Ambient and household air pollution attributab...,2016,Both sexes,194.2 [167.8-221.6]
6519,Zambia,Total,Ambient and household air pollution attributab...,2016,Both sexes,127.2 [113.8-139.7]
6555,Zimbabwe,Total,Ambient and household air pollution attributab...,2016,Both sexes,133 [117.5-147.7]

## Alcohol Substance Abuse

In [51]:
alcohol_data = pd.read_csv(WHS_path/'alcoholSubstanceAbuse.csv')
alcohol_data

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Male,0.360
2,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Female,0.055
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
4,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Male,0.350
...,...,...,...,...,...
2782,Zimbabwe,2005,Total (recorded+unrecorded) alcohol per capita...,Male,4.720
2783,Zimbabwe,2005,Total (recorded+unrecorded) alcohol per capita...,Female,0.990
2784,Zimbabwe,2000,Total (recorded+unrecorded) alcohol per capita...,Both sexes,2.460
2785,Zimbabwe,2000,Total (recorded+unrecorded) alcohol per capita...,Male,4.160
2786,Zimbabwe,2000,Total (recorded+unrecorded) alcohol per capita...,Female,0.880

In [52]:
alcohol_data.isnull().count()

Location         2787
Period           2787
Indicator        2787
Dim1             2787
First Tooltip    2787
dtype: int64

In [53]:
alcohol_data['Period'].unique()

array([2018, 2015, 2010, 2005, 2000])

The years to use are 2018 and 2015.

In [54]:
alcohol_data[alcohol_data['Period'] == 2018].count()

Location         564
Period           564
Indicator        564
Dim1             564
First Tooltip    564
dtype: int64

In [55]:
alcohol_data[alcohol_data['Period'] == 2015].count()

Location         564
Period           564
Indicator        564
Dim1             564
First Tooltip    564
dtype: int64

In [56]:
alcohol_data[alcohol_data['Period'] == 2010].count()

Location         561
Period           561
Indicator        561
Dim1             561
First Tooltip    561
dtype: int64

In [57]:
alcohol_data[alcohol_data['Period'] == 2005].count()

Location         549
Period           549
Indicator        549
Dim1             549
First Tooltip    549
dtype: int64

In [58]:
alcohol_data[alcohol_data['Period'] == 2000].count()

Location         549
Period           549
Indicator        549
Dim1             549
First Tooltip    549
dtype: int64

In [59]:
alcohol_data['Indicator'].unique()

array(['Total (recorded+unrecorded) alcohol per capita (15+) consumption'],
      dtype=object)

In [60]:
alcohol_both_sex = alcohol_data[alcohol_data['Dim1'] == 'Both sexes']
alcohol_both_sex

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.21
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.21
6,Afghanistan,2010,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.21
9,Albania,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,7.17
12,Albania,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.74
...,...,...,...,...,...
2772,Zimbabwe,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.67
2775,Zimbabwe,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.92
2778,Zimbabwe,2010,Total (recorded+unrecorded) alcohol per capita...,Both sexes,3.93
2781,Zimbabwe,2005,Total (recorded+unrecorded) alcohol per capita...,Both sexes,2.77
2784,Zimbabwe,2000,Total (recorded+unrecorded) alcohol per capita...,Both sexes,2.46

## Dataset to export

In [61]:
alcohol_both_sex_2018 = alcohol_both_sex[alcohol_both_sex['Period'] == 2018]
alcohol_both_sex_2018

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
9,Albania,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,7.170
24,Algeria,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.950
39,Andorra,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,11.020
54,Angola,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.940
...,...,...,...,...,...
2712,Venezuela (Bolivarian Republic of),2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.140
2727,Viet Nam,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,8.660
2742,Yemen,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.051
2757,Zambia,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.540
2772,Zimbabwe,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.670

## Dataset to export

In [62]:
alcohol_both_sex_2015 = alcohol_both_sex[alcohol_both_sex['Period'] == 2015]
alcohol_both_sex_2015

,Location,Period,Indicator,Dim1,First Tooltip
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
12,Albania,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.740
27,Algeria,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.930
42,Andorra,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,11.010
57,Angola,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,7.960
...,...,...,...,...,...
2715,Venezuela (Bolivarian Republic of),2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.820
2730,Viet Nam,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,7.860
2745,Yemen,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.055
2760,Zambia,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.890
2775,Zimbabwe,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.920

## Basic Sanitization

In [63]:
sani_data = pd.read_csv(WHS_path/'atLeastBasicSanitizationServices.csv')
sani_data

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population using at least basic sanitation ser...,2017,Total,43.42
1,Afghanistan,Population using at least basic sanitation ser...,2017,Urban,62.26
2,Afghanistan,Population using at least basic sanitation ser...,2017,Rural,37.05
3,Afghanistan,Population using at least basic sanitation ser...,2016,Total,42.05
4,Afghanistan,Population using at least basic sanitation ser...,2016,Urban,59.92
...,...,...,...,...,...
9363,Zimbabwe,Population using at least basic sanitation ser...,2001,Urban,65.05
9364,Zimbabwe,Population using at least basic sanitation ser...,2001,Rural,36.19
9365,Zimbabwe,Population using at least basic sanitation ser...,2000,Total,45.93
9366,Zimbabwe,Population using at least basic sanitation ser...,2000,Urban,65.05
9367,Zimbabwe,Population using at least basic sanitation ser...,2000,Rural,36.19

In [67]:
sani_data.isnull().count()

Location         9368
Indicator        9368
Period           9368
Dim1             9368
First Tooltip    9368
dtype: int64

The years 2013, 2012, and 2011 are slightly better than 2015 and 2016.

In [66]:
sani_data['Period'].unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2002, 2001, 2000])

In [69]:
sani_data[sani_data['Period'] == 2017].count()

Location         516
Indicator        516
Period           516
Dim1             516
First Tooltip    516
dtype: int64

In [70]:
sani_data[sani_data['Period'] == 2016].count()

Location         524
Indicator        524
Period           524
Dim1             524
First Tooltip    524
dtype: int64

In [71]:
sani_data[sani_data['Period'] == 2015].count()

Location         526
Indicator        526
Period           526
Dim1             526
First Tooltip    526
dtype: int64

In [72]:
sani_data[sani_data['Period'] == 2014].count()

Location         526
Indicator        526
Period           526
Dim1             526
First Tooltip    526
dtype: int64

In [73]:
sani_data[sani_data['Period'] == 2013].count()

Location         527
Indicator        527
Period           527
Dim1             527
First Tooltip    527
dtype: int64

In [74]:
sani_data[sani_data['Period'] == 2012].count()

Location         527
Indicator        527
Period           527
Dim1             527
First Tooltip    527
dtype: int64

In [75]:
sani_data[sani_data['Period'] == 2011].count()

Location         527
Indicator        527
Period           527
Dim1             527
First Tooltip    527
dtype: int64

In [76]:
sani_data[sani_data['Period'] == 2010].count()

Location         524
Indicator        524
Period           524
Dim1             524
First Tooltip    524
dtype: int64

In [77]:
sani_data[sani_data['Period'] == 2009].count()

Location         524
Indicator        524
Period           524
Dim1             524
First Tooltip    524
dtype: int64

In [78]:
sani_data[sani_data['Period'] == 2008].count()

Location         524
Indicator        524
Period           524
Dim1             524
First Tooltip    524
dtype: int64

In [79]:
sani_data[sani_data['Period'] == 2007].count()

Location         524
Indicator        524
Period           524
Dim1             524
First Tooltip    524
dtype: int64

In [80]:
sani_data[sani_data['Period'] == 2006].count()

Location         523
Indicator        523
Period           523
Dim1             523
First Tooltip    523
dtype: int64

In [81]:
sani_data[sani_data['Period'] == 2005].count()

Location         517
Indicator        517
Period           517
Dim1             517
First Tooltip    517
dtype: int64

In [82]:
sani_data[sani_data['Period'] == 2004].count()

Location         516
Indicator        516
Period           516
Dim1             516
First Tooltip    516
dtype: int64

In [83]:
sani_data[sani_data['Period'] == 2003].count()

Location         516
Indicator        516
Period           516
Dim1             516
First Tooltip    516
dtype: int64

In [84]:
sani_data[sani_data['Period'] == 2002].count()

Location         516
Indicator        516
Period           516
Dim1             516
First Tooltip    516
dtype: int64

In [85]:
sani_data[sani_data['Period'] == 2001].count()

Location         510
Indicator        510
Period           510
Dim1             510
First Tooltip    510
dtype: int64

In [86]:
sani_data[sani_data['Period'] == 2000].count()

Location         501
Indicator        501
Period           501
Dim1             501
First Tooltip    501
dtype: int64

In [89]:
sani_data['Indicator'].unique()

array(['Population using at least basic sanitation services (%)'],
      dtype=object)

In [90]:
sani_data_tot = sani_data[sani_data['Dim1'] == "Total"]
sani_data_tot

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population using at least basic sanitation ser...,2017,Total,43.42
3,Afghanistan,Population using at least basic sanitation ser...,2016,Total,42.05
6,Afghanistan,Population using at least basic sanitation ser...,2015,Total,40.71
9,Afghanistan,Population using at least basic sanitation ser...,2014,Total,39.37
12,Afghanistan,Population using at least basic sanitation ser...,2013,Total,38.06
...,...,...,...,...,...
9353,Zimbabwe,Population using at least basic sanitation ser...,2004,Total,45.37
9356,Zimbabwe,Population using at least basic sanitation ser...,2003,Total,46.11
9359,Zimbabwe,Population using at least basic sanitation ser...,2002,Total,46.15
9362,Zimbabwe,Population using at least basic sanitation ser...,2001,Total,46.05
9365,Zimbabwe,Population using at least basic sanitation ser...,2000,Total,45.93

## Dataset to export

In [93]:
sani_data_2013 = sani_data_tot[sani_data_tot['Period'] == 2013]
sani_data_2013

,Location,Indicator,Period,Dim1,First Tooltip
12,Afghanistan,Population using at least basic sanitation ser...,2013,Total,38.06
66,Albania,Population using at least basic sanitation ser...,2013,Total,97.31
120,Algeria,Population using at least basic sanitation ser...,2013,Total,87.16
174,Andorra,Population using at least basic sanitation ser...,2013,Total,100.00
228,Angola,Population using at least basic sanitation ser...,2013,Total,44.85
...,...,...,...,...,...
9143,Venezuela (Bolivarian Republic of),Population using at least basic sanitation ser...,2013,Total,93.94
9164,Viet Nam,Population using at least basic sanitation ser...,2013,Total,76.49
9218,Yemen,Population using at least basic sanitation ser...,2013,Total,56.31
9272,Zambia,Population using at least basic sanitation ser...,2013,Total,25.74
9326,Zimbabwe,Population using at least basic sanitation ser...,2013,Total,38.94

## Dataset to export

In [94]:
sani_data_2012 = sani_data_tot[sani_data_tot['Period'] == 2012]
sani_data_2012

,Location,Indicator,Period,Dim1,First Tooltip
15,Afghanistan,Population using at least basic sanitation ser...,2012,Total,36.75
69,Albania,Population using at least basic sanitation ser...,2012,Total,96.78
123,Algeria,Population using at least basic sanitation ser...,2012,Total,86.97
177,Andorra,Population using at least basic sanitation ser...,2012,Total,100.00
231,Angola,Population using at least basic sanitation ser...,2012,Total,43.59
...,...,...,...,...,...
9144,Venezuela (Bolivarian Republic of),Population using at least basic sanitation ser...,2012,Total,93.94
9167,Viet Nam,Population using at least basic sanitation ser...,2012,Total,74.68
9221,Yemen,Population using at least basic sanitation ser...,2012,Total,55.19
9275,Zambia,Population using at least basic sanitation ser...,2012,Total,25.61
9329,Zimbabwe,Population using at least basic sanitation ser...,2012,Total,39.64

## Basic Drinking Water Services

In [95]:
water_data = pd.read_csv(WHS_path/'basicDrinkingWaterServices.csv')
water_data

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,Population using at least basic drinking-water...,57.32
1,Afghanistan,2016,Population using at least basic drinking-water...,54.84
2,Afghanistan,2015,Population using at least basic drinking-water...,52.39
3,Afghanistan,2014,Population using at least basic drinking-water...,49.96
4,Afghanistan,2013,Population using at least basic drinking-water...,47.56
...,...,...,...,...
3450,Zimbabwe,2004,Population using at least basic drinking-water...,57.94
3451,Zimbabwe,2003,Population using at least basic drinking-water...,58.59
3452,Zimbabwe,2002,Population using at least basic drinking-water...,59.23
3453,Zimbabwe,2001,Population using at least basic drinking-water...,59.88
3454,Zimbabwe,2000,Population using at least basic drinking-water...,59.88

In [96]:
water_data.isnull().count()

Location         3455
Period           3455
Indicator        3455
First Tooltip    3455
dtype: int64

Year 2013 and 2012 are slightly better than 2015 and 2016

In [97]:
water_data['Period'].unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2002, 2001, 2000])

In [99]:
water_data[water_data['Period'] == 2017].count()

Location         190
Period           190
Indicator        190
First Tooltip    190
dtype: int64

In [100]:
water_data[water_data['Period'] == 2016].count()

Location         192
Period           192
Indicator        192
First Tooltip    192
dtype: int64

In [101]:
water_data[water_data['Period'] == 2015].count()

Location         193
Period           193
Indicator        193
First Tooltip    193
dtype: int64

In [102]:
water_data[water_data['Period'] == 2014].count()

Location         193
Period           193
Indicator        193
First Tooltip    193
dtype: int64

In [103]:
water_data[water_data['Period'] == 2013].count()

Location         194
Period           194
Indicator        194
First Tooltip    194
dtype: int64

In [104]:
water_data[water_data['Period'] == 2012].count()

Location         194
Period           194
Indicator        194
First Tooltip    194
dtype: int64

In [105]:
water_data[water_data['Period'] == 2011].count()

Location         194
Period           194
Indicator        194
First Tooltip    194
dtype: int64

In [106]:
water_data[water_data['Period'] == 2010].count()

Location         193
Period           193
Indicator        193
First Tooltip    193
dtype: int64

In [107]:
water_data[water_data['Period'] == 2009].count()

Location         193
Period           193
Indicator        193
First Tooltip    193
dtype: int64

In [108]:
water_data[water_data['Period'] == 2008].count()

Location         193
Period           193
Indicator        193
First Tooltip    193
dtype: int64

In [109]:
water_data[water_data['Period'] == 2007].count()

Location         193
Period           193
Indicator        193
First Tooltip    193
dtype: int64

In [110]:
water_data[water_data['Period'] == 2006].count()

Location         193
Period           193
Indicator        193
First Tooltip    193
dtype: int64

In [111]:
water_data[water_data['Period'] == 2005].count()

Location         192
Period           192
Indicator        192
First Tooltip    192
dtype: int64

In [112]:
water_data[water_data['Period'] == 2004].count()

Location         191
Period           191
Indicator        191
First Tooltip    191
dtype: int64

In [113]:
water_data[water_data['Period'] == 2003].count()

Location         191
Period           191
Indicator        191
First Tooltip    191
dtype: int64

In [114]:
water_data[water_data['Period'] == 2002].count()

Location         191
Period           191
Indicator        191
First Tooltip    191
dtype: int64

In [115]:
water_data[water_data['Period'] == 2001].count()

Location         189
Period           189
Indicator        189
First Tooltip    189
dtype: int64

In [116]:
water_data[water_data['Period'] == 2000].count()

Location         186
Period           186
Indicator        186
First Tooltip    186
dtype: int64

In [117]:
water_data['Indicator'].unique()

array(['Population using at least basic drinking-water services (%)'],
      dtype=object)

## Dataset to export

In [118]:
water_data_2013 = water_data[water_data['Period'] == 2013]
water_data_2013

,Location,Period,Indicator,First Tooltip
4,Afghanistan,2013,Population using at least basic drinking-water...,47.56
22,Albania,2013,Population using at least basic drinking-water...,86.23
40,Algeria,2013,Population using at least basic drinking-water...,87.98
58,Andorra,2013,Population using at least basic drinking-water...,100.00
76,Angola,2013,Population using at least basic drinking-water...,25.98
...,...,...,...,...
3369,Venezuela (Bolivarian Republic of),2013,Population using at least basic drinking-water...,95.94
3387,Viet Nam,2013,Population using at least basic drinking-water...,88.29
3405,Yemen,2013,Population using at least basic drinking-water...,50.23
3423,Zambia,2013,Population using at least basic drinking-water...,39.39
3441,Zimbabwe,2013,Population using at least basic drinking-water...,52.27

## Dataset to export

In [119]:
water_data_2012 = water_data[water_data['Period'] == 2012]
water_data_2012

,Location,Period,Indicator,First Tooltip
5,Afghanistan,2012,Population using at least basic drinking-water...,45.19
23,Albania,2012,Population using at least basic drinking-water...,82.59
41,Algeria,2012,Population using at least basic drinking-water...,87.62
59,Andorra,2012,Population using at least basic drinking-water...,100.00
77,Angola,2012,Population using at least basic drinking-water...,25.61
...,...,...,...,...
3370,Venezuela (Bolivarian Republic of),2012,Population using at least basic drinking-water...,96.00
3388,Viet Nam,2012,Population using at least basic drinking-water...,87.30
3406,Yemen,2012,Population using at least basic drinking-water...,48.00
3424,Zambia,2012,Population using at least basic drinking-water...,38.78
3442,Zimbabwe,2012,Population using at least basic drinking-water...,52.89

## Basic Hand Washing

In [120]:
hand_data = pd.read_csv(WHS_path/'basicHandWashing.csv')
hand_data

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population with basic handwashing facilities a...,2017,Total,37.75
1,Afghanistan,Population with basic handwashing facilities a...,2017,Urban,63.58
2,Afghanistan,Population with basic handwashing facilities a...,2017,Rural,29.02
3,Afghanistan,Population with basic handwashing facilities a...,2016,Total,37.67
4,Afghanistan,Population with basic handwashing facilities a...,2016,Urban,63.58
...,...,...,...,...,...
2721,Zimbabwe,Population with basic handwashing facilities a...,2012,Urban,48.54
2722,Zimbabwe,Population with basic handwashing facilities a...,2012,Rural,31.20
2723,Zimbabwe,Population with basic handwashing facilities a...,2011,Total,36.93
2724,Zimbabwe,Population with basic handwashing facilities a...,2011,Urban,48.54
2725,Zimbabwe,Population with basic handwashing facilities a...,2011,Rural,31.20

In [121]:
hand_data.isnull().count()

Location         2726
Indicator        2726
Period           2726
Dim1             2726
First Tooltip    2726
dtype: int64

Year 2014 and 2013 are looking the best. Better than 2016 and 2015.

In [122]:
hand_data['Period'].unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2002, 2001, 2000])

In [124]:
hand_data[hand_data['Period'] == 2017].count()

Location         231
Indicator        231
Period           231
Dim1             231
First Tooltip    231
dtype: int64

In [125]:
hand_data[hand_data['Period'] == 2016].count()

Location         247
Indicator        247
Period           247
Dim1             247
First Tooltip    247
dtype: int64

In [126]:
hand_data[hand_data['Period'] == 2015].count()

Location         265
Indicator        265
Period           265
Dim1             265
First Tooltip    265
dtype: int64

In [127]:
hand_data[hand_data['Period'] == 2014].count()

Location         277
Indicator        277
Period           277
Dim1             277
First Tooltip    277
dtype: int64

In [128]:
hand_data[hand_data['Period'] == 2013].count()

Location         274
Indicator        274
Period           274
Dim1             274
First Tooltip    274
dtype: int64

In [129]:
hand_data[hand_data['Period'] == 2012].count()

Location         252
Indicator        252
Period           252
Dim1             252
First Tooltip    252
dtype: int64

In [130]:
hand_data[hand_data['Period'] == 2011].count()

Location         225
Indicator        225
Period           225
Dim1             225
First Tooltip    225
dtype: int64

In [131]:
hand_data[hand_data['Period'] == 2010].count()

Location         192
Indicator        192
Period           192
Dim1             192
First Tooltip    192
dtype: int64

In [132]:
hand_data[hand_data['Period'] == 2009].count()

Location         159
Indicator        159
Period           159
Dim1             159
First Tooltip    159
dtype: int64

In [133]:
hand_data[hand_data['Period'] == 2008].count()

Location         139
Indicator        139
Period           139
Dim1             139
First Tooltip    139
dtype: int64

In [134]:
hand_data[hand_data['Period'] == 2007].count()

Location         120
Indicator        120
Period           120
Dim1             120
First Tooltip    120
dtype: int64

In [135]:
hand_data[hand_data['Period'] == 2006].count()

Location         105
Indicator        105
Period           105
Dim1             105
First Tooltip    105
dtype: int64

In [136]:
hand_data[hand_data['Period'] == 2005].count()

Location         72
Indicator        72
Period           72
Dim1             72
First Tooltip    72
dtype: int64

In [137]:
hand_data[hand_data['Period'] == 2004].count()

Location         54
Indicator        54
Period           54
Dim1             54
First Tooltip    54
dtype: int64

In [138]:
hand_data[hand_data['Period'] == 2003].count()

Location         30
Indicator        30
Period           30
Dim1             30
First Tooltip    30
dtype: int64

In [139]:
hand_data[hand_data['Period'] == 2002].count()

Location         30
Indicator        30
Period           30
Dim1             30
First Tooltip    30
dtype: int64

In [140]:
hand_data[hand_data['Period'] == 2001].count()

Location         27
Indicator        27
Period           27
Dim1             27
First Tooltip    27
dtype: int64

In [141]:
hand_data[hand_data['Period'] == 2000].count()

Location         27
Indicator        27
Period           27
Dim1             27
First Tooltip    27
dtype: int64

In [142]:
hand_data['Indicator'].unique()

array(['Population with basic handwashing facilities at home (%)'],
      dtype=object)

In [143]:
hand_data['Dim1'].unique()

array(['Total', 'Urban', 'Rural'], dtype=object)

In [145]:
hand_data_tot = hand_data[hand_data['Dim1'] == 'Total']
hand_data_tot

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population with basic handwashing facilities a...,2017,Total,37.75
3,Afghanistan,Population with basic handwashing facilities a...,2016,Total,37.67
6,Afghanistan,Population with basic handwashing facilities a...,2015,Total,37.59
9,Afghanistan,Population with basic handwashing facilities a...,2014,Total,37.52
12,Afghanistan,Population with basic handwashing facilities a...,2013,Total,37.44
...,...,...,...,...,...
2711,Zimbabwe,Population with basic handwashing facilities a...,2015,Total,36.82
2714,Zimbabwe,Population with basic handwashing facilities a...,2014,Total,36.84
2717,Zimbabwe,Population with basic handwashing facilities a...,2013,Total,36.86
2720,Zimbabwe,Population with basic handwashing facilities a...,2012,Total,36.89
2723,Zimbabwe,Population with basic handwashing facilities a...,2011,Total,36.93

In [149]:
hand_data_tot[hand_data_tot['Period'] == 2017].count()

Location         78
Indicator        78
Period           78
Dim1             78
First Tooltip    78
dtype: int64

In [150]:
hand_data_tot[hand_data_tot['Period'] == 2016].count()

Location         84
Indicator        84
Period           84
Dim1             84
First Tooltip    84
dtype: int64

In [151]:
hand_data_tot[hand_data_tot['Period'] == 2015].count()

Location         90
Indicator        90
Period           90
Dim1             90
First Tooltip    90
dtype: int64

In [152]:
hand_data_tot[hand_data_tot['Period'] == 2014].count()

Location         94
Indicator        94
Period           94
Dim1             94
First Tooltip    94
dtype: int64

In [153]:
hand_data_tot[hand_data_tot['Period'] == 2013].count()

Location         93
Indicator        93
Period           93
Dim1             93
First Tooltip    93
dtype: int64

In [154]:
hand_data_tot[hand_data_tot['Period'] == 2012].count()

Location         85
Indicator        85
Period           85
Dim1             85
First Tooltip    85
dtype: int64

## Dataset to export

In [147]:
hand_data_2014 = hand_data_tot[hand_data_tot['Period'] == 2014]
hand_data_2014

,Location,Indicator,Period,Dim1,First Tooltip
9,Afghanistan,Population with basic handwashing facilities a...,2014,Total,37.52
48,Algeria,Population with basic handwashing facilities a...,2014,Total,83.47
75,Angola,Population with basic handwashing facilities a...,2014,Total,26.23
93,Armenia,Population with basic handwashing facilities a...,2014,Total,92.06
141,Azerbaijan,Population with basic handwashing facilities a...,2014,Total,83.24
...,...,...,...,...,...
2597,Vanuatu,Population with basic handwashing facilities a...,2014,Total,25.12
2624,Viet Nam,Population with basic handwashing facilities a...,2014,Total,85.63
2663,Yemen,Population with basic handwashing facilities a...,2014,Total,48.93
2690,Zambia,Population with basic handwashing facilities a...,2014,Total,13.61
2714,Zimbabwe,Population with basic handwashing facilities a...,2014,Total,36.84

## Dataset to export

In [148]:
hand_data_2013 = hand_data_tot[hand_data_tot['Period'] == 2013]
hand_data_2013

,Location,Indicator,Period,Dim1,First Tooltip
12,Afghanistan,Population with basic handwashing facilities a...,2013,Total,37.44
51,Algeria,Population with basic handwashing facilities a...,2013,Total,83.37
78,Angola,Population with basic handwashing facilities a...,2013,Total,26.08
96,Armenia,Population with basic handwashing facilities a...,2013,Total,91.41
142,Azerbaijan,Population with basic handwashing facilities a...,2013,Total,83.24
...,...,...,...,...,...
2600,Vanuatu,Population with basic handwashing facilities a...,2013,Total,25.09
2627,Viet Nam,Population with basic handwashing facilities a...,2013,Total,85.56
2666,Yemen,Population with basic handwashing facilities a...,2013,Total,48.72
2693,Zambia,Population with basic handwashing facilities a...,2013,Total,13.51
2717,Zimbabwe,Population with basic handwashing facilities a...,2013,Total,36.86

## Birth Attended by Skilled Personnel

In [155]:
basp_data = pd.read_csv(WHS_path/'birthAttendedBySkilledPersonal.csv')
basp_data

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2018,Births attended by skilled health personnel (%),58.8
1,Afghanistan,2017,Births attended by skilled health personnel (%),53.4
2,Afghanistan,2015,Births attended by skilled health personnel (%),50.5
3,Afghanistan,2014,Births attended by skilled health personnel (%),45.2
4,Afghanistan,2012,Births attended by skilled health personnel (%),39.9
...,...,...,...,...
1750,Zimbabwe,2015,Births attended by skilled health personnel (%),78.1
1751,Zimbabwe,2014,Births attended by skilled health personnel (%),80.0
1752,Zimbabwe,2011,Births attended by skilled health personnel (%),66.2
1753,Zimbabwe,2009,Births attended by skilled health personnel (%),60.2
1754,Zimbabwe,2006,Births attended by skilled health personnel (%),68.5

In [156]:
basp_data.isnull().count()

Location         1755
Period           1755
Indicator        1755
First Tooltip    1755
dtype: int64

In [157]:
basp_data['Indicator'].unique()

array(['Births attended by skilled health personnel (%)'], dtype=object)

In [184]:
basp_data[basp_data['First Tooltip'] == 0.0].count()

Location         0
Period           0
Indicator        0
First Tooltip    0
dtype: int64

The best aren't next to each other. They are 2014, 2010, and 2006. Of those next to each other, 2006 and 2007 are the winners.

In [160]:
basp_data['Period'].unique()

array([2018, 2017, 2015, 2014, 2012, 2011, 2010, 2003, 2009, 2005, 2013,
       2006, 2016, 2007, 2008, 2004, 2001, 2000, 2002, 2019])

In [161]:
basp_data[basp_data['Period'] == 2019].count()

Location         6
Period           6
Indicator        6
First Tooltip    6
dtype: int64

In [162]:
basp_data[basp_data['Period'] == 2018].count()

Location         60
Period           60
Indicator        60
First Tooltip    60
dtype: int64

In [163]:
basp_data[basp_data['Period'] == 2017].count()

Location         81
Period           81
Indicator        81
First Tooltip    81
dtype: int64

In [164]:
basp_data[basp_data['Period'] == 2016].count()

Location         90
Period           90
Indicator        90
First Tooltip    90
dtype: int64

In [165]:
basp_data[basp_data['Period'] == 2015].count()

Location         94
Period           94
Indicator        94
First Tooltip    94
dtype: int64

In [166]:
basp_data[basp_data['Period'] == 2014].count()

Location         112
Period           112
Indicator        112
First Tooltip    112
dtype: int64

In [167]:
basp_data[basp_data['Period'] == 2013].count()

Location         98
Period           98
Indicator        98
First Tooltip    98
dtype: int64

In [168]:
basp_data[basp_data['Period'] == 2012].count()

Location         104
Period           104
Indicator        104
First Tooltip    104
dtype: int64

In [169]:
basp_data[basp_data['Period'] == 2011].count()

Location         103
Period           103
Indicator        103
First Tooltip    103
dtype: int64

In [170]:
basp_data[basp_data['Period'] == 2010].count()

Location         113
Period           113
Indicator        113
First Tooltip    113
dtype: int64

In [171]:
basp_data[basp_data['Period'] == 2009].count()

Location         102
Period           102
Indicator        102
First Tooltip    102
dtype: int64

In [172]:
basp_data[basp_data['Period'] == 2008].count()

Location         99
Period           99
Indicator        99
First Tooltip    99
dtype: int64

In [173]:
basp_data[basp_data['Period'] == 2007].count()

Location         107
Period           107
Indicator        107
First Tooltip    107
dtype: int64

In [174]:
basp_data[basp_data['Period'] == 2006].count()

Location         118
Period           118
Indicator        118
First Tooltip    118
dtype: int64

In [175]:
basp_data[basp_data['Period'] == 2005].count()

Location         99
Period           99
Indicator        99
First Tooltip    99
dtype: int64

In [176]:
basp_data[basp_data['Period'] == 2004].count()

Location         78
Period           78
Indicator        78
First Tooltip    78
dtype: int64

In [177]:
basp_data[basp_data['Period'] == 2003].count()

Location         77
Period           77
Indicator        77
First Tooltip    77
dtype: int64

In [178]:
basp_data[basp_data['Period'] == 2002].count()

Location         75
Period           75
Indicator        75
First Tooltip    75
dtype: int64

In [179]:
basp_data[basp_data['Period'] == 2001].count()

Location         63
Period           63
Indicator        63
First Tooltip    63
dtype: int64

In [180]:
basp_data[basp_data['Period'] == 2000].count()

Location         76
Period           76
Indicator        76
First Tooltip    76
dtype: int64

## Dataset to export

In [197]:
basp_data_2007 = basp_data[basp_data['Period'] == 2007]
basp_data_2007

,Location,Period,Indicator,First Tooltip
17,Angola,2007,Births attended by skilled health personnel (%),47.3
26,Antigua and Barbuda,2007,Births attended by skilled health personnel (%),100.0
43,Argentina,2007,Births attended by skilled health personnel (%),99.4
59,Armenia,2007,Births attended by skilled health personnel (%),99.9
76,Australia,2007,Births attended by skilled health personnel (%),99.2
...,...,...,...,...
1684,United States of America,2007,Births attended by skilled health personnel (%),99.3
1702,Uruguay,2007,Births attended by skilled health personnel (%),98.6
1721,Uzbekistan,2007,Births attended by skilled health personnel (%),100.0
1729,Vanuatu,2007,Births attended by skilled health personnel (%),74.0
1748,Zambia,2007,Births attended by skilled health personnel (%),45.2

## Dataset to export

In [198]:
basp_data_2006= basp_data[basp_data['Period'] == 2006]
basp_data_2006

,Location,Period,Indicator,First Tooltip
12,Algeria,2006,Births attended by skilled health personnel (%),95.2
27,Antigua and Barbuda,2006,Births attended by skilled health personnel (%),99.9
44,Argentina,2006,Births attended by skilled health personnel (%),99.4
60,Armenia,2006,Births attended by skilled health personnel (%),99.7
77,Australia,2006,Births attended by skilled health personnel (%),99.3
...,...,...,...,...
1722,Uzbekistan,2006,Births attended by skilled health personnel (%),99.6
1730,Vanuatu,2006,Births attended by skilled health personnel (%),92.9
1743,Viet Nam,2006,Births attended by skilled health personnel (%),83.8
1746,Yemen,2006,Births attended by skilled health personnel (%),35.7
1754,Zimbabwe,2006,Births attended by skilled health personnel (%),68.5

## Clean Fuel and Tech - IGNORE

## Crude Suicide Rates - IGNORE

## Data Availability for UHC - IGNORE

## Dentists

In [200]:
dentist_data = pd.read_csv(WHS_path/'dentists.csv')
dentist_data

         Location  Period              Indicator  First Tooltip
0     Afghanistan    2016  Dentists (per 10,000)          0.034
1     Afghanistan    2015  Dentists (per 10,000)          0.036
2     Afghanistan    2014  Dentists (per 10,000)          0.033
3     Afghanistan    2008  Dentists (per 10,000)          0.140
4     Afghanistan    2007  Dentists (per 10,000)          0.120
...           ...     ...                    ...            ...
2129     Zimbabwe    2009  Dentists (per 10,000)          0.150
2130     Zimbabwe    2008  Dentists (per 10,000)          0.150
2131     Zimbabwe    2007  Dentists (per 10,000)          0.160
2132     Zimbabwe    1995  Dentists (per 10,000)          0.130
2133     Zimbabwe    1990  Dentists (per 10,000)          0.130

[2134 rows x 4 columns]

In [202]:
dentist_data.isnull().count()

Location         2134
Period           2134
Indicator        2134
First Tooltip    2134
dtype: int64

In [255]:
dentist_data[dentist_data['First Tooltip'] == 0.0]

Empty DataFrame
Columns: [Location, Period, Indicator, First Tooltip]
Index: []

In [201]:
dentist_data['Indicator'].unique()

array(['Dentists (per 10,000)'], dtype=object)

I ignored the data from the 90s because I don't have time for that. Best consecutive datasets are 2009 and 2010.

In [204]:
dentist_data['Period'].unique()

array([2016, 2015, 2014, 2008, 2007, 2006, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 2018, 2005,
       2009, 2004, 2017, 2013, 2012, 2011, 2010, 2019])

In [206]:
dentist_data[dentist_data['Period'] == 2019].count()

Location         32
Period           32
Indicator        32
First Tooltip    32
dtype: int64

In [207]:
dentist_data[dentist_data['Period'] == 2018].count()

Location         63
Period           63
Indicator        63
First Tooltip    63
dtype: int64

In [208]:
dentist_data[dentist_data['Period'] == 2017].count()

Location         80
Period           80
Indicator        80
First Tooltip    80
dtype: int64

In [210]:
dentist_data[dentist_data['Period'] == 2016].count()

Location         83
Period           83
Indicator        83
First Tooltip    83
dtype: int64

In [211]:
dentist_data[dentist_data['Period'] == 2015].count()

Location         87
Period           87
Indicator        87
First Tooltip    87
dtype: int64

In [212]:
dentist_data[dentist_data['Period'] == 2014].count()

Location         92
Period           92
Indicator        92
First Tooltip    92
dtype: int64

In [213]:
dentist_data[dentist_data['Period'] == 2013].count()

Location         85
Period           85
Indicator        85
First Tooltip    85
dtype: int64

In [214]:
dentist_data[dentist_data['Period'] == 2012].count()

Location         93
Period           93
Indicator        93
First Tooltip    93
dtype: int64

In [215]:
dentist_data[dentist_data['Period'] == 2011].count()

Location         97
Period           97
Indicator        97
First Tooltip    97
dtype: int64

In [216]:
dentist_data[dentist_data['Period'] == 2010].count()

Location         108
Period           108
Indicator        108
First Tooltip    108
dtype: int64

In [217]:
dentist_data[dentist_data['Period'] == 2009].count()

Location         114
Period           114
Indicator        114
First Tooltip    114
dtype: int64

In [218]:
dentist_data[dentist_data['Period'] == 2008].count()

Location         110
Period           110
Indicator        110
First Tooltip    110
dtype: int64

In [219]:
dentist_data[dentist_data['Period'] == 2007].count()

Location         88
Period           88
Indicator        88
First Tooltip    88
dtype: int64

In [220]:
dentist_data[dentist_data['Period'] == 2006].count()

Location         80
Period           80
Indicator        80
First Tooltip    80
dtype: int64

In [221]:
dentist_data[dentist_data['Period'] == 2005].count()

Location         82
Period           82
Indicator        82
First Tooltip    82
dtype: int64

In [222]:
dentist_data[dentist_data['Period'] == 2004].count()

Location         113
Period           113
Indicator        113
First Tooltip    113
dtype: int64

In [223]:
dentist_data[dentist_data['Period'] == 2003].count()

Location         70
Period           70
Indicator        70
First Tooltip    70
dtype: int64

In [224]:
dentist_data[dentist_data['Period'] == 2002].count()

Location         73
Period           73
Indicator        73
First Tooltip    73
dtype: int64

In [225]:
dentist_data[dentist_data['Period'] == 2001].count()

Location         70
Period           70
Indicator        70
First Tooltip    70
dtype: int64

In [226]:
dentist_data[dentist_data['Period'] == 2000].count()

Location         74
Period           74
Indicator        74
First Tooltip    74
dtype: int64

## Dataset to export

In [227]:
d_data_2010 = dentist_data[dentist_data['Period'] == 2010]
d_data_2010

                      Location  Period              Indicator  First Tooltip
53                     Armenia    2010  Dentists (per 10,000)          4.370
71                   Australia    2010  Dentists (per 10,000)          5.180
84                     Austria    2010  Dentists (per 10,000)          5.570
109                 Azerbaijan    2010  Dentists (per 10,000)          2.730
138                    Bahrain    2010  Dentists (per 10,000)          0.980
...                        ...     ...                    ...            ...
2080  United States of America    2010  Dentists (per 10,000)          5.780
2091                Uzbekistan    2010  Dentists (per 10,000)          1.650
2110                     Yemen    2010  Dentists (per 10,000)          0.250
2117                    Zambia    2010  Dentists (per 10,000)          0.180
2128                  Zimbabwe    2010  Dentists (per 10,000)          0.035

[108 rows x 4 columns]

## Dataset to export

In [228]:
d_data_2009 = dentist_data[dentist_data['Period'] == 2009]
d_data_2009

,Location,Period,Indicator,First Tooltip
26,Andorra,2009,"Dentists (per 10,000)",6.04
54,Armenia,2009,"Dentists (per 10,000)",4.31
72,Australia,2009,"Dentists (per 10,000)",5.27
85,Austria,2009,"Dentists (per 10,000)",5.52
110,Azerbaijan,2009,"Dentists (per 10,000)",2.75
...,...,...,...,...
2052,United Arab Emirates,2009,"Dentists (per 10,000)",3.63
2071,United Kingdom of Great Britain and Northern I...,2009,"Dentists (per 10,000)",5.00
2092,Uzbekistan,2009,"Dentists (per 10,000)",1.59
2118,Zambia,2009,"Dentists (per 10,000)",0.18
2129,Zimbabwe,2009,"Dentists (per 10,000)",0.15

## Violence Against Women - IGNORE

## Healthy Life Expectancy at Birth

In [231]:
hleb_data = pd.read_csv(WHS_path/'HALElifeExpectancyAtBirth.csv')
hleb_data

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.95
1,Afghanistan,2019,Healthy life expectancy (HALE) at birth (years),Male,54.73
2,Afghanistan,2019,Healthy life expectancy (HALE) at birth (years),Female,53.15
3,Afghanistan,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,52.60
4,Afghanistan,2015,Healthy life expectancy (HALE) at birth (years),Male,52.78
...,...,...,...,...,...
2191,Zimbabwe,2010,Healthy life expectancy (HALE) at birth (years),Male,44.25
2192,Zimbabwe,2010,Healthy life expectancy (HALE) at birth (years),Female,46.12
2193,Zimbabwe,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,41.03
2194,Zimbabwe,2000,Healthy life expectancy (HALE) at birth (years),Male,40.39
2195,Zimbabwe,2000,Healthy life expectancy (HALE) at birth (years),Female,41.77

In [232]:
hleb_data.isnull().count()

Location         2196
Period           2196
Indicator        2196
Dim1             2196
First Tooltip    2196
dtype: int64

In [233]:
hleb_data[hleb_data['First Tooltip'] == 0.0]

Empty DataFrame
Columns: [Location, Period, Indicator, Dim1, First Tooltip]
Index: []

In [234]:
hleb_data['Indicator'].unique()

array(['Healthy life expectancy (HALE) at birth (years)'], dtype=object)

In [238]:
hleb_bs = hleb_data[hleb_data['Dim1'] == "Both sexes"]
hleb_bs

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.95
3,Afghanistan,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,52.60
6,Afghanistan,2010,Healthy life expectancy (HALE) at birth (years),Both sexes,51.13
9,Afghanistan,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,46.76
12,Albania,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,69.08
...,...,...,...,...,...
2181,Zambia,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,38.95
2184,Zimbabwe,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.07
2187,Zimbabwe,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,51.17
2190,Zimbabwe,2010,Healthy life expectancy (HALE) at birth (years),Both sexes,45.22
2193,Zimbabwe,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,41.03

All years have the same number! A great number too. For that reason, I'll select the most recent: 2019 and 2015.

In [239]:
hleb_bs['Period'].unique()

array([2019, 2015, 2010, 2000])

In [240]:
hleb_bs[hleb_bs['Period'] == 2019].count()

Location         183
Period           183
Indicator        183
Dim1             183
First Tooltip    183
dtype: int64

In [241]:
hleb_bs[hleb_bs['Period'] == 2015].count()

Location         183
Period           183
Indicator        183
Dim1             183
First Tooltip    183
dtype: int64

In [242]:
hleb_bs[hleb_bs['Period'] == 2010].count()

Location         183
Period           183
Indicator        183
Dim1             183
First Tooltip    183
dtype: int64

In [243]:
hleb_bs[hleb_bs['Period'] == 2000].count()

Location         183
Period           183
Indicator        183
Dim1             183
First Tooltip    183
dtype: int64

## Dataset to export

In [244]:
hleb_2019 = hleb_bs[hleb_bs['Period'] == 2019]
hleb_2019

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.95
12,Albania,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,69.08
24,Algeria,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,66.39
36,Angola,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,54.84
48,Antigua and Barbuda,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,66.97
...,...,...,...,...,...
2136,Venezuela (Bolivarian Republic of),2019,Healthy life expectancy (HALE) at birth (years),Both sexes,64.44
2148,Viet Nam,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,65.30
2160,Yemen,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,57.53
2172,Zambia,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,54.40
2184,Zimbabwe,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.07

## Dataset to export

In [245]:
hleb_2015 = hleb_bs[hleb_bs['Period'] == 2015]
hleb_2015

,Location,Period,Indicator,Dim1,First Tooltip
3,Afghanistan,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,52.60
15,Albania,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,69.03
27,Algeria,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,65.99
39,Angola,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,53.66
51,Antigua and Barbuda,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,66.81
...,...,...,...,...,...
2139,Venezuela (Bolivarian Republic of),2015,Healthy life expectancy (HALE) at birth (years),Both sexes,65.10
2151,Viet Nam,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,64.89
2163,Yemen,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,58.38
2175,Zambia,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,52.71
2187,Zimbabwe,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,51.17

## Healthy Life Expectancy at Birth WHO Region - IGNORE

## Hepatitis B Surface Antigen

In [247]:
hepb_data = pd.read_csv(WHS_path/'hepatitusBsurfaceAntigen.csv')
hepb_data

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Hepatitis B surface antigen (HBsAg) prevalence...,2015,0.5 [0.29-0.78]
1,Albania,Hepatitis B surface antigen (HBsAg) prevalence...,2015,1.29 [0.83-1.91]
2,Algeria,Hepatitis B surface antigen (HBsAg) prevalence...,2015,0.22 [0.12-0.34]
3,Andorra,Hepatitis B surface antigen (HBsAg) prevalence...,2015,0.08 [0-1.65]
4,Angola,Hepatitis B surface antigen (HBsAg) prevalence...,2015,4.85 [3.29-6.81]
...,...,...,...,...
189,Venezuela (Bolivarian Republic of),Hepatitis B surface antigen (HBsAg) prevalence...,2015,0.62 [0.41-0.91]
190,Viet Nam,Hepatitis B surface antigen (HBsAg) prevalence...,2015,1.2 [0.84-1.62]
191,Yemen,Hepatitis B surface antigen (HBsAg) prevalence...,2015,2.54 [1.82-3.54]
192,Zambia,Hepatitis B surface antigen (HBsAg) prevalence...,2015,1.84 [1.17-2.76]
193,Zimbabwe,Hepatitis B surface antigen (HBsAg) prevalence...,2015,4.38 [2.92-6.33]

In [248]:
hepb_data.isnull().count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [249]:
hepb_data[hepb_data['First Tooltip'] == 0.0]

Empty DataFrame
Columns: [Location, Indicator, Period, First Tooltip]
Index: []

In [250]:
hepb_data['Indicator'].unique()

array(['Hepatitis B surface antigen (HBsAg) prevalence among children under 5 years (%)'],
      dtype=object)

The only year is in 2015

In [251]:
hepb_data['Period'].unique()

array([2015])

## HepB data only has 1 year. May be best to ignore.

## Malaria

In [256]:
malaria_data = pd.read_csv(WHS_path/'incedenceOfMalaria.csv')
malaria_data

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Malaria incidence (per 1 000 population at risk),2018,29.01
1,Afghanistan,Malaria incidence (per 1 000 population at risk),2017,27.07
2,Afghanistan,Malaria incidence (per 1 000 population at risk),2016,26.11
3,Afghanistan,Malaria incidence (per 1 000 population at risk),2015,14.91
4,Afghanistan,Malaria incidence (per 1 000 population at risk),2014,12.67
...,...,...,...,...
2028,Zimbabwe,Malaria incidence (per 1 000 population at risk),2004,120.20
2029,Zimbabwe,Malaria incidence (per 1 000 population at risk),2003,120.90
2030,Zimbabwe,Malaria incidence (per 1 000 population at risk),2002,121.50
2031,Zimbabwe,Malaria incidence (per 1 000 population at risk),2001,122.10
2032,Zimbabwe,Malaria incidence (per 1 000 population at risk),2000,123.00

In [257]:
malaria_data.isnull().count()

Location         2033
Indicator        2033
Period           2033
First Tooltip    2033
dtype: int64

This dataset has a high number of zeros. The data has a chance of being accurrate or inaccurate. I guess it depends if mosquitos can be found in that country.

In [261]:
malaria_data[malaria_data['First Tooltip'] == 0.0]

,Location,Indicator,Period,First Tooltip
19,Algeria,Malaria incidence (per 1 000 population at risk),2018,0.0
20,Algeria,Malaria incidence (per 1 000 population at risk),2017,0.0
21,Algeria,Malaria incidence (per 1 000 population at risk),2016,0.0
22,Algeria,Malaria incidence (per 1 000 population at risk),2015,0.0
23,Algeria,Malaria incidence (per 1 000 population at risk),2014,0.0
...,...,...,...,...
1904,Uzbekistan,Malaria incidence (per 1 000 population at risk),2014,0.0
1905,Uzbekistan,Malaria incidence (per 1 000 population at risk),2013,0.0
1906,Uzbekistan,Malaria incidence (per 1 000 population at risk),2012,0.0
1907,Uzbekistan,Malaria incidence (per 1 000 population at risk),2011,0.0
1909,Uzbekistan,Malaria incidence (per 1 000 population at risk),2009,0.0

In [262]:
malaria_data['Indicator'].unique()

array(['Malaria incidence (per 1 000 population at risk)'], dtype=object)

All years have the exact same number at 107! For that reason, I'm just selecting 2015 and 2016.

In [263]:
malaria_data['Period'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000])

In [265]:
malaria_data[malaria_data['Period'] == 2018].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [266]:
malaria_data[malaria_data['Period'] == 2017].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [267]:
malaria_data[malaria_data['Period'] == 2016].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [268]:
malaria_data[malaria_data['Period'] == 2015].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [269]:
malaria_data[malaria_data['Period'] == 2014].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [270]:
malaria_data[malaria_data['Period'] == 2013].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [271]:
malaria_data[malaria_data['Period'] == 2012].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [272]:
malaria_data[malaria_data['Period'] == 2011].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [273]:
malaria_data[malaria_data['Period'] == 2010].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [274]:
malaria_data[malaria_data['Period'] == 2009].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [275]:
malaria_data[malaria_data['Period'] == 2008].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [276]:
malaria_data[malaria_data['Period'] == 2007].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [277]:
malaria_data[malaria_data['Period'] == 2006].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [278]:
malaria_data[malaria_data['Period'] == 2005].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [279]:
malaria_data[malaria_data['Period'] == 2004].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [280]:
malaria_data[malaria_data['Period'] == 2003].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [281]:
malaria_data[malaria_data['Period'] == 2002].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [282]:
malaria_data[malaria_data['Period'] == 2001].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

In [283]:
malaria_data[malaria_data['Period'] == 2000].count()

Location         107
Indicator        107
Period           107
First Tooltip    107
dtype: int64

## Dataset to export - look into zero values

In [284]:
malaria_2016 = malaria_data[malaria_data['Period'] == 2016]
malaria_2016

,Location,Indicator,Period,First Tooltip
2,Afghanistan,Malaria incidence (per 1 000 population at risk),2016,26.110
21,Algeria,Malaria incidence (per 1 000 population at risk),2016,0.000
40,Angola,Malaria incidence (per 1 000 population at risk),2016,220.000
59,Argentina,Malaria incidence (per 1 000 population at risk),2016,0.000
78,Armenia,Malaria incidence (per 1 000 population at risk),2016,0.000
...,...,...,...,...
1940,Venezuela (Bolivarian Republic of),Malaria incidence (per 1 000 population at risk),2016,18.790
1959,Viet Nam,Malaria incidence (per 1 000 population at risk),2016,0.073
1978,Yemen,Malaria incidence (per 1 000 population at risk),2016,37.750
1997,Zambia,Malaria incidence (per 1 000 population at risk),2016,181.400
2016,Zimbabwe,Malaria incidence (per 1 000 population at risk),2016,65.780

## Dataset to export - look into zero values

In [285]:
malaria_2015 = malaria_data[malaria_data['Period'] == 2015]
malaria_2015

,Location,Indicator,Period,First Tooltip
3,Afghanistan,Malaria incidence (per 1 000 population at risk),2015,14.91
22,Algeria,Malaria incidence (per 1 000 population at risk),2015,0.00
41,Angola,Malaria incidence (per 1 000 population at risk),2015,200.00
60,Argentina,Malaria incidence (per 1 000 population at risk),2015,0.00
79,Armenia,Malaria incidence (per 1 000 population at risk),2015,0.00
...,...,...,...,...
1941,Venezuela (Bolivarian Republic of),Malaria incidence (per 1 000 population at risk),2015,10.57
1960,Viet Nam,Malaria incidence (per 1 000 population at risk),2015,0.17
1979,Yemen,Malaria incidence (per 1 000 population at risk),2015,24.90
1998,Zambia,Malaria incidence (per 1 000 population at risk),2015,202.50
2017,Zimbabwe,Malaria incidence (per 1 000 population at risk),2015,97.65

## Tuberculosis

In [286]:
tuber_data = pd.read_csv(WHS_path/'incedenceOfTuberculosis.csv')
tuber_data

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2019,189 [122-270]
1,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2018,189 [122-270]
2,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2017,189 [122-270]
3,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2016,189 [122-270]
4,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2015,189 [122-270]
...,...,...,...,...
3852,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2004,607 [451-786]
3853,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2003,617 [462-794]
3854,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2002,617 [478-773]
3855,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2001,617 [461-795]
3856,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2000,605 [426-813]

In [287]:
tuber_data.isnull().count()

Location         3857
Indicator        3857
Period           3857
First Tooltip    3857
dtype: int64

There are 59 zero values scattered about. This could be accurate. Tuberculosis isn't in every country anymore, and the countries listed with 0 are all small islands where I could see that being a possibility.

In [292]:
tuber_data[tuber_data['First Tooltip'] == '0 [0-0]']

,Location,Indicator,Period,First Tooltip
100,Antigua and Barbuda,Incidence of tuberculosis (per 100 000 populat...,2019,0 [0-0]
280,Barbados,Incidence of tuberculosis (per 100 000 populat...,2019,0 [0-0]
282,Barbados,Incidence of tuberculosis (per 100 000 populat...,2017,0 [0-0]
284,Barbados,Incidence of tuberculosis (per 100 000 populat...,2015,0 [0-0]
288,Barbados,Incidence of tuberculosis (per 100 000 populat...,2011,0 [0-0]
781,Cook Islands,Incidence of tuberculosis (per 100 000 populat...,2018,0 [0-0]
782,Cook Islands,Incidence of tuberculosis (per 100 000 populat...,2017,0 [0-0]
784,Cook Islands,Incidence of tuberculosis (per 100 000 populat...,2015,0 [0-0]
789,Cook Islands,Incidence of tuberculosis (per 100 000 populat...,2010,0 [0-0]
796,Cook Islands,Incidence of tuberculosis (per 100 000 populat...,2003,0 [0-0]
1385,Grenada,Incidence of tuberculosis (per 100 000 populat...,2014,0 [0-0]
1399,Grenada,Incidence of tuberculosis (per 100 000 populat...,2000,0 [0-0]
2240,Monaco,Incidence of tuberculosis (per 100 000 populat...,2019,0 [0-0]
2241,Monaco,Incidence of tuberculosis (per 100 000 populat...,2018,0 [0-0]
2242,Monaco,Incidence of tuberculosis (per 100 000 populat...,2017,0 [0-0]
2243,Monaco,Incidence of tuberculosis (per 100 000 populat...,2016,0 [0-0]
2244,Monaco,Incidence of tuberculosis (per 100 000 populat...,2015,0 [0-0]
2245,Monaco,Incidence of tuberculosis (per 100 000 populat...,2014,0 [0-0]
2257,Monaco,Incidence of tuberculosis (per 100 000 populat...,2002,0 [0-0]
2258,Monaco,Incidence of tuberculosis (per 100 000 populat...,2001,0 [0-0]
2259,Monaco,Incidence of tuberculosis (per 100 000 populat...,2000,0 [0-0]
2515,Niue,Incidence of tuberculosis (per 100 000 populat...,2019,0 [0-0]
2517,Niue,Incidence of tuberculosis (per 100 000 populat...,2017,0 [0-0]
2519,Niue,Incidence of tuberculosis (per 100 000 populat...,2015,0 [0-0]
2520,Niue,Incidence of tuberculosis (per 100 000 populat...,2014,0 [0-0]
2521,Niue,Incidence of tuberculosis (per 100 000 populat...,2013,0 [0-0]
2522,Niue,Incidence of tuberculosis (per 100 000 populat...,2012,0 [0-0]
2524,Niue,Incidence of tuberculosis (per 100 000 populat...,2010,0 [0-0]
2525,Niue,Incidence of tuberculosis (per 100 000 populat...,2009,0 [0-0]
2526,Niue,Incidence of tuberculosis (per 100 000 populat...,2008,0 [0-0]
2527,Niue,Incidence of tuberculosis (per 100 000 populat...,2007,0 [0-0]
2528,Niue,Incidence of tuberculosis (per 100 000 populat...,2006,0 [0-0]
2529,Niue,Incidence of tuberculosis (per 100 000 populat...,2005,0 [0-0]
2530,Niue,Incidence of tuberculosis (per 100 000 populat...,2004,0 [0-0]
2531,Niue,Incidence of tuberculosis (per 100 000 populat...,2003,0 [0-0]
2533,Niue,Incidence of tuberculosis (per 100 000 populat...,2001,0 [0-0]
2534,Niue,Incidence of tuberculosis (per 100 000 populat...,2000,0 [0-0]
2896,Saint Kitts and Nevis,Incidence of tuberculosis (per 100 000 populat...,2018,0 [0-0]
2898,Saint Kitts and Nevis,Incidence of tuberculosis (per 100 000 populat...,2016,0 [0-0]
2901,Saint Kitts and Nevis,Incidence of tuberculosis (per 100 000 populat...,2013,0 [0-0]
2909,Saint Kitts and Nevis,Incidence of tuberculosis (per 100 000 populat...,2005,0 [0-0]
2914,Saint Kitts and Nevis,Incidence of tuberculosis (per 100 000 populat...,2000,0 [0-0]
2975,San Marino,Incidence of tuberculosis (per 100 000 populat...,2019,0 [0-0]
2976,San Marino,Incidence of tuberculosis (per 100 000 populat...,2018,0 [0-0]
2977,San Marino,Incidence of tuberculosis (per 100 000 populat...,2017,0 [0-0]
2978,San Marino,Incidence of tuberculosis (per 100 000 populat...,2016,0 [0-0]
2979,San Marino,Incidence of tuberculosis (per 100 000 populat...,2015,0 [0-0]
2980,San Marino,Incidence of tuberculosis (per 100 000 populat...,2014,0 [0-0]
2981,San Marino,Incidence of tuberculosis (per 100 000 populat...,2013,0 [0-0]
2982,San Marino,Incidence of tuberculosis (per 100 000 populat...,2012,0 [0-0]
2983,San Marino,Incidence of tuberculosis (per 100 000 populat...,2011,0 [0-0]
2984,San Marino,Incidence of tuberculosis (per 100 000 populat...,2010,0 [0-0]
2985,San Marino,Incidence of tuberculosis (per 100 000 populat...,2009,0 [0-0]
2986,San Marino,Incidence of tuberculosis (per 100 000 populat...,2008,0 [0-0]
2987,San Marino,Incidence of tuberculosis (per 100 000 populat...,2007,0 [0-0]
2988,San Marino,Incidence of tuberculosis (per 100 000 populat...,2006,0 [0-0]
2989,San Marino,Incidence of tuberculosis (per 100 000 populat...,2005,0 [0-0]
2990,San Marino,Incidence of tuberculosis (per 100 000 populat...,2004,0 [0-0]
2993,San Marino,Incidence of tuberculosis (per 100 000 populat...,2001,0 [0-0]

In [293]:
tuber_data[tuber_data['First Tooltip'] == '0 [0-0]'].count()

Location         59
Indicator        59
Period           59
First Tooltip    59
dtype: int64

In [294]:
tuber_data['Indicator'].unique()

array(['Incidence of tuberculosis (per 100 000 population per year)'],
      dtype=object)

While the years aren't exactly the same, they are extremely close. For that reason, I just picked 2015 and 2016.

In [295]:
tuber_data['Period'].unique()

array([2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009,
       2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000])

In [296]:
tuber_data[tuber_data['Period'] == 2019].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [297]:
tuber_data[tuber_data['Period'] == 2018].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [298]:
tuber_data[tuber_data['Period'] == 2017].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [299]:
tuber_data[tuber_data['Period'] == 2016].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [300]:
tuber_data[tuber_data['Period'] == 2015].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [301]:
tuber_data[tuber_data['Period'] == 2014].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [302]:
tuber_data[tuber_data['Period'] == 2013].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [303]:
tuber_data[tuber_data['Period'] == 2012].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [304]:
tuber_data[tuber_data['Period'] == 2011].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [305]:
tuber_data[tuber_data['Period'] == 2010].count()

Location         193
Indicator        193
Period           193
First Tooltip    193
dtype: int64

In [306]:
tuber_data[tuber_data['Period'] == 2009].count()

Location         193
Indicator        193
Period           193
First Tooltip    193
dtype: int64

In [307]:
tuber_data[tuber_data['Period'] == 2008].count()

Location         193
Indicator        193
Period           193
First Tooltip    193
dtype: int64

In [308]:
tuber_data[tuber_data['Period'] == 2007].count()

Location         193
Indicator        193
Period           193
First Tooltip    193
dtype: int64

In [309]:
tuber_data[tuber_data['Period'] == 2006].count()

Location         193
Indicator        193
Period           193
First Tooltip    193
dtype: int64

In [310]:
tuber_data[tuber_data['Period'] == 2005].count()

Location         193
Indicator        193
Period           193
First Tooltip    193
dtype: int64

In [311]:
tuber_data[tuber_data['Period'] == 2004].count()

Location         191
Indicator        191
Period           191
First Tooltip    191
dtype: int64

In [312]:
tuber_data[tuber_data['Period'] == 2003].count()

Location         191
Indicator        191
Period           191
First Tooltip    191
dtype: int64

In [313]:
tuber_data[tuber_data['Period'] == 2002].count()

Location         191
Indicator        191
Period           191
First Tooltip    191
dtype: int64

In [314]:
tuber_data[tuber_data['Period'] == 2001].count()

Location         190
Indicator        190
Period           190
First Tooltip    190
dtype: int64

In [315]:
tuber_data[tuber_data['Period'] == 2000].count()

Location         190
Indicator        190
Period           190
First Tooltip    190
dtype: int64

## Dataset to export

In [316]:
tuber_2016 = tuber_data[tuber_data['Period'] == 2016]
tuber_2016

,Location,Indicator,Period,First Tooltip
3,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2016,189 [122-270]
23,Albania,Incidence of tuberculosis (per 100 000 populat...,2016,17 [14-19]
43,Algeria,Incidence of tuberculosis (per 100 000 populat...,2016,70 [54-89]
63,Andorra,Incidence of tuberculosis (per 100 000 populat...,2016,6 [5.1-6.9]
83,Angola,Incidence of tuberculosis (per 100 000 populat...,2016,362 [235-518]
...,...,...,...,...
3760,Venezuela (Bolivarian Republic of),Incidence of tuberculosis (per 100 000 populat...,2016,34 [26-43]
3780,Viet Nam,Incidence of tuberculosis (per 100 000 populat...,2016,193 [122-281]
3800,Yemen,Incidence of tuberculosis (per 100 000 populat...,2016,48 [42-54]
3820,Zambia,Incidence of tuberculosis (per 100 000 populat...,2016,376 [244-535]
3840,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2016,233 [173-302]

In [317]:
tuber_2015 = tuber_data[tuber_data['Period'] == 2015]
tuber_2015

,Location,Indicator,Period,First Tooltip
4,Afghanistan,Incidence of tuberculosis (per 100 000 populat...,2015,189 [122-270]
24,Albania,Incidence of tuberculosis (per 100 000 populat...,2015,17 [14-19]
44,Algeria,Incidence of tuberculosis (per 100 000 populat...,2015,75 [57-94]
64,Andorra,Incidence of tuberculosis (per 100 000 populat...,2015,5.9 [5-6.8]
84,Angola,Incidence of tuberculosis (per 100 000 populat...,2015,366 [237-523]
...,...,...,...,...
3761,Venezuela (Bolivarian Republic of),Incidence of tuberculosis (per 100 000 populat...,2015,30 [23-38]
3781,Viet Nam,Incidence of tuberculosis (per 100 000 populat...,2015,199 [125-290]
3801,Yemen,Incidence of tuberculosis (per 100 000 populat...,2015,48 [42-54]
3821,Zambia,Incidence of tuberculosis (per 100 000 populat...,2015,391 [253-558]
3841,Zimbabwe,Incidence of tuberculosis (per 100 000 populat...,2015,242 [179-314]

## Infant Mortality Rate

In [318]:
infant_mort = pd.read_csv(WHS_path/'infantMortalityRate.csv')
infant_mort

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,Both sexes,46.51 [37.71-55.82]
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,Male,49.8 [40.2-59.95]
2,Afghanistan,2019,Infant mortality rate (probability of dying be...,Female,43.05 [34.82-51.96]
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,Both sexes,48.04 [39.94-56.32]
4,Afghanistan,2018,Infant mortality rate (probability of dying be...,Male,51.35 [42.56-60.4]
...,...,...,...,...,...
29994,Timor-Leste,2002,Infant mortality rate (probability of dying be...,Both sexes,77.08 [70.29-84.49]
29995,Timor-Leste,2002,Infant mortality rate (probability of dying be...,Male,82.53 [74.86-90.67]
29996,Timor-Leste,2002,Infant mortality rate (probability of dying be...,Female,71.37 [64.81-78.76]
29997,Timor-Leste,2001,Infant mortality rate (probability of dying be...,Both sexes,80.96 [74.1-88.4]
29998,Timor-Leste,2001,Infant mortality rate (probability of dying be...,Male,86.46 [78.83-94.89]

In [319]:
infant_mort.isnull().count()

Location         29999
Period           29999
Indicator        29999
Dim1             29999
First Tooltip    29999
dtype: int64

In [325]:
infant_mort[infant_mort['First Tooltip'] == '0.0[0.0-0.0]']

Empty DataFrame
Columns: [Location, Period, Indicator, Dim1, First Tooltip]
Index: []

In [326]:
infant_mort['Indicator'].unique()

array(['Infant mortality rate (probability of dying between birth and age 1 per 1000 live births)'],
      dtype=object)

In [348]:
infant_mort_bs = infant_mort[infant_mort['Dim1'] == 'Both sexes']
infant_mort_bs

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,Both sexes,46.51 [37.71-55.82]
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,Both sexes,48.04 [39.94-56.32]
6,Afghanistan,2017,Infant mortality rate (probability of dying be...,Both sexes,49.61 [42.08-57.23]
9,Afghanistan,2016,Infant mortality rate (probability of dying be...,Both sexes,51.32 [44.36-58.38]
12,Afghanistan,2015,Infant mortality rate (probability of dying be...,Both sexes,53.17 [46.81-59.79]
...,...,...,...,...,...
29985,Timor-Leste,2005,Infant mortality rate (probability of dying be...,Both sexes,65.92 [58.83-73.66]
29988,Timor-Leste,2004,Infant mortality rate (probability of dying be...,Both sexes,69.57 [62.62-77.06]
29991,Timor-Leste,2003,Infant mortality rate (probability of dying be...,Both sexes,73.3 [66.44-80.69]
29994,Timor-Leste,2002,Infant mortality rate (probability of dying be...,Both sexes,77.08 [70.29-84.49]
29997,Timor-Leste,2001,Infant mortality rate (probability of dying be...,Both sexes,80.96 [74.1-88.4]

I ignored the years before 2000 because I know we won't use those. The years are almost all the same, so I just picked 2015 and 2016.

In [349]:
infant_mort_bs['Period'].unique()

array([2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009,
       2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998,
       1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987,
       1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965,
       1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954,
       1953, 1952, 1951, 1950])

In [350]:
infant_mort_bs[infant_mort_bs['Period'] == 2019].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [351]:
infant_mort_bs[infant_mort_bs['Period'] == 2018].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [352]:
infant_mort_bs[infant_mort_bs['Period'] == 2017].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [353]:
infant_mort_bs[infant_mort_bs['Period'] == 2016].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [354]:
infant_mort_bs[infant_mort_bs['Period'] == 2015].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [355]:
infant_mort_bs[infant_mort_bs['Period'] == 2014].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [356]:
infant_mort_bs[infant_mort_bs['Period'] == 2013].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [357]:
infant_mort_bs[infant_mort_bs['Period'] == 2012].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [358]:
infant_mort_bs[infant_mort_bs['Period'] == 2011].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [359]:
infant_mort_bs[infant_mort_bs['Period'] == 2010].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [360]:
infant_mort_bs[infant_mort_bs['Period'] == 2009].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [361]:
infant_mort_bs[infant_mort_bs['Period'] == 2008].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [362]:
infant_mort_bs[infant_mort_bs['Period'] == 2007].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [363]:
infant_mort_bs[infant_mort_bs['Period'] == 2006].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [364]:
infant_mort_bs[infant_mort_bs['Period'] == 2005].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [365]:
infant_mort_bs[infant_mort_bs['Period'] == 2004].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [366]:
infant_mort_bs[infant_mort_bs['Period'] == 2003].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [367]:
infant_mort_bs[infant_mort_bs['Period'] == 2002].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [368]:
infant_mort_bs[infant_mort_bs['Period'] == 2001].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [369]:
infant_mort_bs[infant_mort_bs['Period'] == 2000].count()

Location         171
Period           171
Indicator        171
Dim1             171
First Tooltip    171
dtype: int64

## Dataset to export

In [370]:
in_mort_2016 = infant_mort_bs[infant_mort_bs['Period'] == 2016]
in_mort_2016

,Location,Period,Indicator,Dim1,First Tooltip
9,Afghanistan,2016,Infant mortality rate (probability of dying be...,Both sexes,51.32 [44.36-58.38]
183,Albania,2016,Infant mortality rate (probability of dying be...,Both sexes,8.38 [8.07-8.72]
309,Algeria,2016,Infant mortality rate (probability of dying be...,Both sexes,21.28 [20.81-21.75]
507,Andorra,2016,Infant mortality rate (probability of dying be...,Both sexes,3.2 [1.04-10.24]
612,Angola,2016,Infant mortality rate (probability of dying be...,Both sexes,55.56 [31.74-90.3]
...,...,...,...,...,...
29187,Switzerland,2016,Infant mortality rate (probability of dying be...,Both sexes,3.74 [3.58-3.92]
29397,Syrian Arab Republic,2016,Infant mortality rate (probability of dying be...,Both sexes,17.97 [11.75-21.82]
29598,Tajikistan,2016,Infant mortality rate (probability of dying be...,Both sexes,32.1 [24.71-41.72]
29742,Thailand,2016,Infant mortality rate (probability of dying be...,Both sexes,8.85 [7.76-10.65]
29952,Timor-Leste,2016,Infant mortality rate (probability of dying be...,Both sexes,41.86 [28.15-60.63]

## Dataset to export

In [371]:
in_mort_2015 = infant_mort_bs[infant_mort_bs['Period'] == 2015]
in_mort_2015

,Location,Period,Indicator,Dim1,First Tooltip
12,Afghanistan,2015,Infant mortality rate (probability of dying be...,Both sexes,53.17 [46.81-59.79]
186,Albania,2015,Infant mortality rate (probability of dying be...,Both sexes,8.51 [8.21-8.84]
312,Algeria,2015,Infant mortality rate (probability of dying be...,Both sexes,21.61 [21.13-22.1]
510,Andorra,2015,Infant mortality rate (probability of dying be...,Both sexes,3.34 [1.17-10.03]
615,Angola,2015,Infant mortality rate (probability of dying be...,Both sexes,57.82 [34.14-91.99]
...,...,...,...,...,...
29190,Switzerland,2015,Infant mortality rate (probability of dying be...,Both sexes,3.78 [3.64-3.93]
29400,Syrian Arab Republic,2015,Infant mortality rate (probability of dying be...,Both sexes,17.76 [12.16-21.37]
29601,Tajikistan,2015,Infant mortality rate (probability of dying be...,Both sexes,32.86 [26.55-40.87]
29745,Thailand,2015,Infant mortality rate (probability of dying be...,Both sexes,9.27 [8.14-10.97]
29955,Timor-Leste,2015,Infant mortality rate (probability of dying be...,Both sexes,43.24 [30.19-60.58]

## NTDs

In [373]:
ntd_data = pd.read_csv(WHS_path/'interventionAgianstNTDs.csv')
ntd_data

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Reported number of people requiring interventi...,2018,14834701
1,Afghanistan,Reported number of people requiring interventi...,2017,14786722
2,Afghanistan,Reported number of people requiring interventi...,2016,13275429
3,Afghanistan,Reported number of people requiring interventi...,2015,13765392
4,Afghanistan,Reported number of people requiring interventi...,2014,13384908
...,...,...,...,...
1741,Zimbabwe,Reported number of people requiring interventi...,2014,7044667
1742,Zimbabwe,Reported number of people requiring interventi...,2013,6958826
1743,Zimbabwe,Reported number of people requiring interventi...,2012,6496297
1744,Zimbabwe,Reported number of people requiring interventi...,2011,6472357
1745,Zimbabwe,Reported number of people requiring interventi...,2010,6437391

In [374]:
ntd_data.isnull().count()

Location         1746
Indicator        1746
Period           1746
First Tooltip    1746
dtype: int64

There are 154 zero values, but this is all possible. You likely won't find many tropical diseases in small countries that aren't tropical.

In [377]:
ntd_data[ntd_data['First Tooltip'] == 0]

,Location,Indicator,Period,First Tooltip
27,Andorra,Reported number of people requiring interventi...,2018,0
28,Andorra,Reported number of people requiring interventi...,2017,0
29,Andorra,Reported number of people requiring interventi...,2016,0
30,Andorra,Reported number of people requiring interventi...,2015,0
31,Andorra,Reported number of people requiring interventi...,2014,0
...,...,...,...,...
1639,United Arab Emirates,Reported number of people requiring interventi...,2017,0
1641,United Arab Emirates,Reported number of people requiring interventi...,2015,0
1642,United Arab Emirates,Reported number of people requiring interventi...,2014,0
1644,United Arab Emirates,Reported number of people requiring interventi...,2012,0
1645,United Arab Emirates,Reported number of people requiring interventi...,2011,0

In [378]:
ntd_data['Indicator'].unique()

array(['Reported number of people requiring interventions against NTDs'],
      dtype=object)

Same value for all years, so I'll just do 2015 and 2016

In [380]:
ntd_data['Period'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010])

In [381]:
ntd_data[ntd_data['Period'] == 2018].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [382]:
ntd_data[ntd_data['Period'] == 2017].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [383]:
ntd_data[ntd_data['Period'] == 2016].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [384]:
ntd_data[ntd_data['Period'] == 2015].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [385]:
ntd_data[ntd_data['Period'] == 2014].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [386]:
ntd_data[ntd_data['Period'] == 2013].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [387]:
ntd_data[ntd_data['Period'] == 2012].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [388]:
ntd_data[ntd_data['Period'] == 2011].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

In [389]:
ntd_data[ntd_data['Period'] == 2010].count()

Location         194
Indicator        194
Period           194
First Tooltip    194
dtype: int64

## Dataset to export

In [391]:
ntd_2016 = ntd_data[ntd_data['Period'] == 2016]
ntd_2016

,Location,Indicator,Period,First Tooltip
2,Afghanistan,Reported number of people requiring interventi...,2016,13275429
11,Albania,Reported number of people requiring interventi...,2016,21
20,Algeria,Reported number of people requiring interventi...,2016,10752
29,Andorra,Reported number of people requiring interventi...,2016,0
38,Angola,Reported number of people requiring interventi...,2016,14419092
...,...,...,...,...
1703,Venezuela (Bolivarian Republic of),Reported number of people requiring interventi...,2016,282294
1712,Viet Nam,Reported number of people requiring interventi...,2016,6953978
1721,Yemen,Reported number of people requiring interventi...,2016,5985649
1730,Zambia,Reported number of people requiring interventi...,2016,11573334
1739,Zimbabwe,Reported number of people requiring interventi...,2016,9958235

## Dataset to export

In [392]:
ntd_2015 = ntd_data[ntd_data['Period'] == 2015]
ntd_2015

,Location,Indicator,Period,First Tooltip
3,Afghanistan,Reported number of people requiring interventi...,2015,13765392
12,Albania,Reported number of people requiring interventi...,2015,16
21,Algeria,Reported number of people requiring interventi...,2015,7561
30,Andorra,Reported number of people requiring interventi...,2015,0
39,Angola,Reported number of people requiring interventi...,2015,18534219
...,...,...,...,...
1704,Venezuela (Bolivarian Republic of),Reported number of people requiring interventi...,2015,280243
1713,Viet Nam,Reported number of people requiring interventi...,2015,4468764
1722,Yemen,Reported number of people requiring interventi...,2015,5840695
1731,Zambia,Reported number of people requiring interventi...,2015,11830416
1740,Zimbabwe,Reported number of people requiring interventi...,2015,10346543

## Life Expectancy at Birth

In [393]:
leb_data = pd.read_csv(WHS_path/'lifeExpectancyAtBirth.csv')
leb_data

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04
...,...,...,...,...,...
2192,Zimbabwe,2010,Life expectancy at birth (years),Male,49.58
2193,Zimbabwe,2010,Life expectancy at birth (years),Female,53.21
2194,Zimbabwe,2000,Life expectancy at birth (years),Both sexes,46.57
2195,Zimbabwe,2000,Life expectancy at birth (years),Male,45.15
2196,Zimbabwe,2000,Life expectancy at birth (years),Female,48.12

In [394]:
leb_data.isnull().count()

Location         2197
Period           2197
Indicator        2197
Dim1             2197
First Tooltip    2197
dtype: int64

In [395]:
leb_data[leb_data['First Tooltip'] == 0.0]

Empty DataFrame
Columns: [Location, Period, Indicator, Dim1, First Tooltip]
Index: []

In [396]:
leb_bs = leb_data[leb_data['Dim1'] == 'Both sexes']
leb_bs

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
6,Afghanistan,2010,Life expectancy at birth (years),Both sexes,59.94
9,Afghanistan,2000,Life expectancy at birth (years),Both sexes,54.99
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
...,...,...,...,...,...
2182,Zambia,2000,Life expectancy at birth (years),Both sexes,44.46
2185,Zimbabwe,2019,Life expectancy at birth (years),Both sexes,60.68
2188,Zimbabwe,2015,Life expectancy at birth (years),Both sexes,58.48
2191,Zimbabwe,2010,Life expectancy at birth (years),Both sexes,51.49
2194,Zimbabwe,2000,Life expectancy at birth (years),Both sexes,46.57

I ignored the 1920 year since we won't use that. All years have the same number of values, so I selected 2019 and 2015.

In [397]:
leb_bs['Period'].unique()

array([2019, 2015, 2010, 2000, 1920])

In [398]:
leb_bs[leb_bs['Period'] == 2019].count()

Location         183
Period           183
Indicator        183
Dim1             183
First Tooltip    183
dtype: int64

In [399]:
leb_bs[leb_bs['Period'] == 2015].count()

Location         183
Period           183
Indicator        183
Dim1             183
First Tooltip    183
dtype: int64

In [400]:
leb_bs[leb_bs['Period'] == 2010].count()

Location         183
Period           183
Indicator        183
Dim1             183
First Tooltip    183
dtype: int64

In [401]:
leb_bs[leb_bs['Period'] == 2000].count()

Location         183
Period           183
Indicator        183
Dim1             183
First Tooltip    183
dtype: int64

## Dataset to export

In [402]:
leb_2019 = leb_bs[leb_bs['Period'] == 2019]
leb_2019

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
24,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
36,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
48,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45
...,...,...,...,...,...
2137,Venezuela (Bolivarian Republic of),2019,Life expectancy at birth (years),Both sexes,73.95
2149,Viet Nam,2019,Life expectancy at birth (years),Both sexes,73.74
2161,Yemen,2019,Life expectancy at birth (years),Both sexes,66.63
2173,Zambia,2019,Life expectancy at birth (years),Both sexes,62.45
2185,Zimbabwe,2019,Life expectancy at birth (years),Both sexes,60.68

## Dataset to export

In [403]:
leb_2015 = leb_bs[leb_bs['Period'] == 2015]
leb_2015

,Location,Period,Indicator,Dim1,First Tooltip
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
15,Albania,2015,Life expectancy at birth (years),Both sexes,77.84
27,Algeria,2015,Life expectancy at birth (years),Both sexes,76.54
39,Angola,2015,Life expectancy at birth (years),Both sexes,61.72
51,Antigua and Barbuda,2015,Life expectancy at birth (years),Both sexes,76.14
...,...,...,...,...,...
2140,Venezuela (Bolivarian Republic of),2015,Life expectancy at birth (years),Both sexes,74.66
2152,Viet Nam,2015,Life expectancy at birth (years),Both sexes,73.16
2164,Yemen,2015,Life expectancy at birth (years),Both sexes,67.47
2176,Zambia,2015,Life expectancy at birth (years),Both sexes,60.50
2188,Zimbabwe,2015,Life expectancy at birth (years),Both sexes,58.48

## Maternal Mortality Ratio

In [404]:
mmr_data = pd.read_csv(WHS_path/'maternalMortalityRatio.csv')
mmr_data

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,Maternal mortality ratio (per 100 000 live bir...,638 [427-1010]
1,Afghanistan,2016,Maternal mortality ratio (per 100 000 live bir...,673 [457-1040]
2,Afghanistan,2015,Maternal mortality ratio (per 100 000 live bir...,701 [501-1020]
3,Afghanistan,2014,Maternal mortality ratio (per 100 000 live bir...,786 [592-1080]
4,Afghanistan,2013,Maternal mortality ratio (per 100 000 live bir...,810 [617-1080]
...,...,...,...,...
3289,Zimbabwe,2004,Maternal mortality ratio (per 100 000 live bir...,686 [597-784]
3290,Zimbabwe,2003,Maternal mortality ratio (per 100 000 live bir...,680 [590-779]
3291,Zimbabwe,2002,Maternal mortality ratio (per 100 000 live bir...,666 [577-766]
3292,Zimbabwe,2001,Maternal mortality ratio (per 100 000 live bir...,629 [544-723]
3293,Zimbabwe,2000,Maternal mortality ratio (per 100 000 live bir...,579 [500-667]

In [407]:
mmr_data.isnull().count()

Location         3294
Period           3294
Indicator        3294
First Tooltip    3294
dtype: int64

In [408]:
mmr_data[mmr_data['First Tooltip'] == '0 [0-0]']

Empty DataFrame
Columns: [Location, Period, Indicator, First Tooltip]
Index: []

In [410]:
mmr_data['Indicator'].unique()

array(['Maternal mortality ratio (per 100 000 live births)'], dtype=object)

All year values are the same at 183, so I picked 2015 and 2016.

In [409]:
mmr_data['Period'].unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2002, 2001, 2000])

In [411]:
mmr_data[mmr_data['Period'] == 2017].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [412]:
mmr_data[mmr_data['Period'] == 2016].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [413]:
mmr_data[mmr_data['Period'] == 2015].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [414]:
mmr_data[mmr_data['Period'] == 2014].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [415]:
mmr_data[mmr_data['Period'] == 2013].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [416]:
mmr_data[mmr_data['Period'] == 2012].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [417]:
mmr_data[mmr_data['Period'] == 2011].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [418]:
mmr_data[mmr_data['Period'] == 2010].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [419]:
mmr_data[mmr_data['Period'] == 2009].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [420]:
mmr_data[mmr_data['Period'] == 2008].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [421]:
mmr_data[mmr_data['Period'] == 2007].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [422]:
mmr_data[mmr_data['Period'] == 2006].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [423]:
mmr_data[mmr_data['Period'] == 2005].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [424]:
mmr_data[mmr_data['Period'] == 2004].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [425]:
mmr_data[mmr_data['Period'] == 2003].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [426]:
mmr_data[mmr_data['Period'] == 2002].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [427]:
mmr_data[mmr_data['Period'] == 2001].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

In [428]:
mmr_data[mmr_data['Period'] == 2000].count()

Location         183
Period           183
Indicator        183
First Tooltip    183
dtype: int64

## Dataset to export

In [429]:
mmr_2016 = mmr_data[mmr_data['Period'] == 2016]
mmr_2016

,Location,Period,Indicator,First Tooltip
1,Afghanistan,2016,Maternal mortality ratio (per 100 000 live bir...,673 [457-1040]
19,Albania,2016,Maternal mortality ratio (per 100 000 live bir...,16 [8-26]
37,Algeria,2016,Maternal mortality ratio (per 100 000 live bir...,113 [66-203]
55,Angola,2016,Maternal mortality ratio (per 100 000 live bir...,246 [172-349]
73,Antigua and Barbuda,2016,Maternal mortality ratio (per 100 000 live bir...,43 [25-70]
...,...,...,...,...
3205,Venezuela (Bolivarian Republic of),2016,Maternal mortality ratio (per 100 000 live bir...,121 [96-162]
3223,Viet Nam,2016,Maternal mortality ratio (per 100 000 live bir...,44 [32-61]
3241,Yemen,2016,Maternal mortality ratio (per 100 000 live bir...,165 [104-249]
3259,Zambia,2016,Maternal mortality ratio (per 100 000 live bir...,222 [168-295]
3277,Zimbabwe,2016,Maternal mortality ratio (per 100 000 live bir...,468 [372-580]

## Dataset to export

In [430]:
mmr_2015 = mmr_data[mmr_data['Period'] == 2015]
mmr_2015

,Location,Period,Indicator,First Tooltip
2,Afghanistan,2015,Maternal mortality ratio (per 100 000 live bir...,701 [501-1020]
20,Albania,2015,Maternal mortality ratio (per 100 000 live bir...,15 [8-25]
38,Algeria,2015,Maternal mortality ratio (per 100 000 live bir...,114 [67-199]
56,Angola,2015,Maternal mortality ratio (per 100 000 live bir...,251 [178-353]
74,Antigua and Barbuda,2015,Maternal mortality ratio (per 100 000 live bir...,43 [25-70]
...,...,...,...,...
3206,Venezuela (Bolivarian Republic of),2015,Maternal mortality ratio (per 100 000 live bir...,115 [92-151]
3224,Viet Nam,2015,Maternal mortality ratio (per 100 000 live bir...,45 [33-62]
3242,Yemen,2015,Maternal mortality ratio (per 100 000 live bir...,169 [105-264]
3260,Zambia,2015,Maternal mortality ratio (per 100 000 live bir...,232 [178-305]
3278,Zimbabwe,2015,Maternal mortality ratio (per 100 000 live bir...,480 [385-588]

## Medical Doctors

In [431]:
doc_data = pd.read_csv(WHS_path/'medicalDoctors.csv')
doc_data

         Location  Period                     Indicator  First Tooltip
0     Afghanistan    2016  Medical doctors (per 10,000)           2.78
1     Afghanistan    2015  Medical doctors (per 10,000)           2.85
2     Afghanistan    2014  Medical doctors (per 10,000)           2.98
3     Afghanistan    2013  Medical doctors (per 10,000)           2.85
4     Afghanistan    2012  Medical doctors (per 10,000)           2.41
...           ...     ...                           ...            ...
2501     Zimbabwe    2005  Medical doctors (per 10,000)           1.26
2502     Zimbabwe    2004  Medical doctors (per 10,000)           1.74
2503     Zimbabwe    2000  Medical doctors (per 10,000)           1.26
2504     Zimbabwe    1995  Medical doctors (per 10,000)           1.43
2505     Zimbabwe    1990  Medical doctors (per 10,000)           1.27

[2506 rows x 4 columns]

In [432]:
doc_data.isnull().count()

Location         2506
Period           2506
Indicator        2506
First Tooltip    2506
dtype: int64

In [433]:
doc_data[doc_data['First Tooltip'] == 0.0]

Empty DataFrame
Columns: [Location, Period, Indicator, First Tooltip]
Index: []

In [435]:
doc_data['Indicator'].unique()

array(['Medical doctors (per 10,000)'], dtype=object)

I ignored the years before 2000. The best years are 2008 and 2009.

In [436]:
doc_data['Period'].unique()

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2001, 2004, 2003, 2002, 2000, 1998, 1997, 1996, 1995, 1994, 1993,
       1992, 1991, 1990, 2018, 2017, 2005, 1999])

In [437]:
doc_data[doc_data['Period'] == 2016].count()

Location         110
Period           110
Indicator        110
First Tooltip    110
dtype: int64

In [438]:
doc_data[doc_data['Period'] == 2015].count()

Location         105
Period           105
Indicator        105
First Tooltip    105
dtype: int64

In [439]:
doc_data[doc_data['Period'] == 2014].count()

Location         114
Period           114
Indicator        114
First Tooltip    114
dtype: int64

In [440]:
doc_data[doc_data['Period'] == 2013].count()

Location         109
Period           109
Indicator        109
First Tooltip    109
dtype: int64

In [441]:
doc_data[doc_data['Period'] == 2012].count()

Location         112
Period           112
Indicator        112
First Tooltip    112
dtype: int64

In [442]:
doc_data[doc_data['Period'] == 2011].count()

Location         114
Period           114
Indicator        114
First Tooltip    114
dtype: int64

In [443]:
doc_data[doc_data['Period'] == 2010].count()

Location         128
Period           128
Indicator        128
First Tooltip    128
dtype: int64

In [444]:
doc_data[doc_data['Period'] == 2009].count()

Location         132
Period           132
Indicator        132
First Tooltip    132
dtype: int64

In [445]:
doc_data[doc_data['Period'] == 2008].count()

Location         133
Period           133
Indicator        133
First Tooltip    133
dtype: int64

In [446]:
doc_data[doc_data['Period'] == 2007].count()

Location         109
Period           109
Indicator        109
First Tooltip    109
dtype: int64

In [447]:
doc_data[doc_data['Period'] == 2006].count()

Location         99
Period           99
Indicator        99
First Tooltip    99
dtype: int64

In [448]:
doc_data[doc_data['Period'] == 2005].count()

Location         101
Period           101
Indicator        101
First Tooltip    101
dtype: int64

In [449]:
doc_data[doc_data['Period'] == 2004].count()

Location         127
Period           127
Indicator        127
First Tooltip    127
dtype: int64

In [450]:
doc_data[doc_data['Period'] == 2003].count()

Location         84
Period           84
Indicator        84
First Tooltip    84
dtype: int64

In [451]:
doc_data[doc_data['Period'] == 2002].count()

Location         83
Period           83
Indicator        83
First Tooltip    83
dtype: int64

In [452]:
doc_data[doc_data['Period'] == 2001].count()

Location         82
Period           82
Indicator        82
First Tooltip    82
dtype: int64

In [453]:
doc_data[doc_data['Period'] == 2000].count()

Location         86
Period           86
Indicator        86
First Tooltip    86
dtype: int64

## Dataset to export

In [455]:
doc_2009 = doc_data[doc_data['Period'] == 2009]
doc_2009

         Location  Period                     Indicator  First Tooltip
7     Afghanistan    2009  Medical doctors (per 10,000)           2.13
17        Albania    2009  Medical doctors (per 10,000)          12.30
41        Andorra    2009  Medical doctors (per 10,000)          31.48
54         Angola    2009  Medical doctors (per 10,000)           1.31
75        Armenia    2009  Medical doctors (per 10,000)          27.68
...           ...     ...                           ...            ...
2436   Uzbekistan    2009  Medical doctors (per 10,000)          25.71
2467     Viet Nam    2009  Medical doctors (per 10,000)           6.98
2475        Yemen    2009  Medical doctors (per 10,000)           3.17
2484       Zambia    2009  Medical doctors (per 10,000)           0.61
2498     Zimbabwe    2009  Medical doctors (per 10,000)           1.21

[132 rows x 4 columns]

## Dataset to export

In [456]:
doc_2008 = doc_data[doc_data['Period'] == 2008]
doc_2008

                 Location  Period                     Indicator  First Tooltip
8             Afghanistan    2008  Medical doctors (per 10,000)           1.74
58    Antigua and Barbuda    2008  Medical doctors (per 10,000)           5.27
76                Armenia    2008  Medical doctors (per 10,000)          27.43
104             Australia    2008  Medical doctors (per 10,000)          30.06
119               Austria    2008  Medical doctors (per 10,000)          46.17
...                   ...     ...                           ...            ...
2457              Vanuatu    2008  Medical doctors (per 10,000)           1.16
2468             Viet Nam    2008  Medical doctors (per 10,000)           6.65
2476                Yemen    2008  Medical doctors (per 10,000)           3.16
2485               Zambia    2008  Medical doctors (per 10,000)           0.62
2499             Zimbabwe    2008  Medical doctors (per 10,000)           0.60

[133 rows x 4 columns]

## Mortality Rate by Poisoning

In [457]:
poison_data = pd.read_csv(WHS_path/'mortalityRatePoisoning.csv')
poison_data

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Both sexes,1.19
1,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Male,0.53
2,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Female,1.89
3,Afghanistan,Mortality rate attributed to unintentional poi...,2015,Both sexes,1.22
4,Afghanistan,Mortality rate attributed to unintentional poi...,2015,Male,0.55
...,...,...,...,...,...
2740,Zimbabwe,Mortality rate attributed to unintentional poi...,2005,Male,2.85
2741,Zimbabwe,Mortality rate attributed to unintentional poi...,2005,Female,2.62
2742,Zimbabwe,Mortality rate attributed to unintentional poi...,2000,Both sexes,3.44
2743,Zimbabwe,Mortality rate attributed to unintentional poi...,2000,Male,3.75
2744,Zimbabwe,Mortality rate attributed to unintentional poi...,2000,Female,3.15

In [459]:
poison_data.isnull().count()

Location         2745
Indicator        2745
Period           2745
Dim1             2745
First Tooltip    2745
dtype: int64

In [460]:
poison_data[poison_data['First Tooltip'] == 0.0]

Empty DataFrame
Columns: [Location, Indicator, Period, Dim1, First Tooltip]
Index: []

In [461]:
poison_bs = poison_data[poison_data['Dim1'] == 'Both sexes']
poison_bs

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Both sexes,1.19
3,Afghanistan,Mortality rate attributed to unintentional poi...,2015,Both sexes,1.22
6,Afghanistan,Mortality rate attributed to unintentional poi...,2010,Both sexes,1.42
9,Afghanistan,Mortality rate attributed to unintentional poi...,2005,Both sexes,1.54
12,Afghanistan,Mortality rate attributed to unintentional poi...,2000,Both sexes,1.70
...,...,...,...,...,...
2730,Zimbabwe,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.23
2733,Zimbabwe,Mortality rate attributed to unintentional poi...,2015,Both sexes,2.37
2736,Zimbabwe,Mortality rate attributed to unintentional poi...,2010,Both sexes,2.55
2739,Zimbabwe,Mortality rate attributed to unintentional poi...,2005,Both sexes,2.73
2742,Zimbabwe,Mortality rate attributed to unintentional poi...,2000,Both sexes,3.44

Years are all the same, so I picked 2016 and 2015.

In [462]:
poison_bs['Period'].unique()

array([2016, 2015, 2010, 2005, 2000])

In [463]:
poison_bs[poison_bs['Period'] == 2016].count()

Location         183
Indicator        183
Period           183
Dim1             183
First Tooltip    183
dtype: int64

In [464]:
poison_bs[poison_bs['Period'] == 2015].count()

Location         183
Indicator        183
Period           183
Dim1             183
First Tooltip    183
dtype: int64

In [466]:
poison_bs[poison_bs['Period'] == 2010].count()

Location         183
Indicator        183
Period           183
Dim1             183
First Tooltip    183
dtype: int64

In [467]:
poison_bs[poison_bs['Period'] == 2005].count()

Location         183
Indicator        183
Period           183
Dim1             183
First Tooltip    183
dtype: int64

In [468]:
poison_bs[poison_bs['Period'] == 2000].count()

Location         183
Indicator        183
Period           183
Dim1             183
First Tooltip    183
dtype: int64

## Dataset to export

In [470]:
poison_2016 = poison_bs[poison_bs['Period'] == 2016]
poison_2016

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Both sexes,1.19
15,Albania,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.44
30,Algeria,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.77
45,Angola,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.70
60,Antigua and Barbuda,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.39
...,...,...,...,...,...
2670,Venezuela (Bolivarian Republic of),Mortality rate attributed to unintentional poi...,2016,Both sexes,0.29
2685,Viet Nam,Mortality rate attributed to unintentional poi...,2016,Both sexes,0.92
2700,Yemen,Mortality rate attributed to unintentional poi...,2016,Both sexes,3.77
2715,Zambia,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.94
2730,Zimbabwe,Mortality rate attributed to unintentional poi...,2016,Both sexes,2.23

## Dataset to export

In [471]:
poison_2015 = poison_bs[poison_bs['Period'] == 2015]
poison_2015

,Location,Indicator,Period,Dim1,First Tooltip
3,Afghanistan,Mortality rate attributed to unintentional poi...,2015,Both sexes,1.22
18,Albania,Mortality rate attributed to unintentional poi...,2015,Both sexes,0.43
33,Algeria,Mortality rate attributed to unintentional poi...,2015,Both sexes,0.80
48,Angola,Mortality rate attributed to unintentional poi...,2015,Both sexes,2.95
63,Antigua and Barbuda,Mortality rate attributed to unintentional poi...,2015,Both sexes,0.38
...,...,...,...,...,...
2673,Venezuela (Bolivarian Republic of),Mortality rate attributed to unintentional poi...,2015,Both sexes,0.30
2688,Viet Nam,Mortality rate attributed to unintentional poi...,2015,Both sexes,0.93
2703,Yemen,Mortality rate attributed to unintentional poi...,2015,Both sexes,3.74
2718,Zambia,Mortality rate attributed to unintentional poi...,2015,Both sexes,3.06
2733,Zimbabwe,Mortality rate attributed to unintentional poi...,2015,Both sexes,2.37

## Mortality Rate Due to Unsafe Wash Services

In [472]:
wash_data = pd.read_csv(WHS_path/'mortalityRateUnsafeWash.csv')
wash_data

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,13.92
1,Afghanistan,2016,Mortality rate attributed to exposure to unsaf...,Male,12.61
2,Afghanistan,2016,Mortality rate attributed to exposure to unsaf...,Female,15.31
3,Albania,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,0.17
4,Albania,2016,Mortality rate attributed to exposure to unsaf...,Male,0.21
...,...,...,...,...,...
544,Zambia,2016,Mortality rate attributed to exposure to unsaf...,Male,36.62
545,Zambia,2016,Mortality rate attributed to exposure to unsaf...,Female,33.23
546,Zimbabwe,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,24.55
547,Zimbabwe,2016,Mortality rate attributed to exposure to unsaf...,Male,27.07
548,Zimbabwe,2016,Mortality rate attributed to exposure to unsaf...,Female,22.16

In [473]:
wash_data.isnull().count()

Location         549
Period           549
Indicator        549
Dim1             549
First Tooltip    549
dtype: int64

In [474]:
wash_data[wash_data['First Tooltip'] == 0.0]

Empty DataFrame
Columns: [Location, Period, Indicator, Dim1, First Tooltip]
Index: []

In [475]:
wash_data['Indicator'].unique()

array(['Mortality rate attributed to exposure to unsafe WASH services (per 100 000 population) (SDG 3.9.2)'],
      dtype=object)

In [476]:
wash_bs = wash_data[wash_data['Dim1'] == 'Both sexes']
wash_bs

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,13.92
3,Albania,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,0.17
6,Algeria,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,1.87
9,Angola,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,48.81
12,Antigua and Barbuda,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,0.11
...,...,...,...,...,...
534,Venezuela (Bolivarian Republic of),2016,Mortality rate attributed to exposure to unsaf...,Both sexes,1.39
537,Viet Nam,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,1.62
540,Yemen,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,10.20
543,Zambia,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,34.91
546,Zimbabwe,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,24.55

In [477]:
wash_bs['Period'].unique()

array([2016])

## Dataset to export - Ony has 1 year, so maybe ignore

In [478]:
wash_bs

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,13.92
3,Albania,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,0.17
6,Algeria,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,1.87
9,Angola,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,48.81
12,Antigua and Barbuda,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,0.11
...,...,...,...,...,...
534,Venezuela (Bolivarian Republic of),2016,Mortality rate attributed to exposure to unsaf...,Both sexes,1.39
537,Viet Nam,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,1.62
540,Yemen,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,10.20
543,Zambia,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,34.91
546,Zimbabwe,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,24.55

## Neonatal Mortality Rate

In [479]:
neo_mort = pd.read_csv(WHS_path/'neonatalMortalityRate.csv')
neo_mort

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Neonatal mortality rate (per 1000 live births),Both sexes,35.86 [27.77-45.18]
1,Afghanistan,2018,Neonatal mortality rate (per 1000 live births),Both sexes,36.89 [29.34-45.28]
2,Afghanistan,2017,Neonatal mortality rate (per 1000 live births),Both sexes,37.98 [30.95-45.6]
3,Afghanistan,2016,Neonatal mortality rate (per 1000 live births),Both sexes,39.05 [32.59-46.17]
4,Afghanistan,2015,Neonatal mortality rate (per 1000 live births),Both sexes,40.27 [34.34-46.94]
...,...,...,...,...,...
9130,Zimbabwe,1969,Neonatal mortality rate (per 1000 live births),Both sexes,31.66 [26.63-37.36]
9131,Zimbabwe,1968,Neonatal mortality rate (per 1000 live births),Both sexes,31.67 [26.41-37.75]
9132,Zimbabwe,1967,Neonatal mortality rate (per 1000 live births),Both sexes,31.76 [26.17-38.31]
9133,Zimbabwe,1966,Neonatal mortality rate (per 1000 live births),Both sexes,31.96 [25.96-39.16]
9134,Zimbabwe,1965,Neonatal mortality rate (per 1000 live births),Both sexes,32.38 [25.6-40.27]

In [480]:
neo_mort.isnull().count()

Location         9135
Period           9135
Indicator        9135
Dim1             9135
First Tooltip    9135
dtype: int64

In [482]:
neo_mort[neo_mort['First Tooltip'] == '0.0 [0.0-0.0]']

Empty DataFrame
Columns: [Location, Period, Indicator, Dim1, First Tooltip]
Index: []

In [483]:
neo_mort['Indicator'].unique()

array(['Neonatal mortality rate (per 1000 live births)'], dtype=object)

In [484]:
neo_mort['Dim1'].unique()

array(['Both sexes'], dtype=object)

Years go way back, but I ignore after 2000. All years are the same, so I picked 2015 and 2016.

In [485]:
neo_mort['Period'].unique()

array([2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009,
       2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998,
       1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987,
       1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965,
       1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954,
       1953, 1952, 1951])

In [486]:
neo_mort[neo_mort['Period'] == 2019].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [488]:
neo_mort[neo_mort['Period'] == 2018].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [490]:
neo_mort[neo_mort['Period'] == 2017].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [491]:
neo_mort[neo_mort['Period'] == 2016].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [492]:
neo_mort[neo_mort['Period'] == 2015].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [493]:
neo_mort[neo_mort['Period'] == 2014].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [494]:
neo_mort[neo_mort['Period'] == 2013].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [495]:
neo_mort[neo_mort['Period'] == 2012].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [496]:
neo_mort[neo_mort['Period'] == 2011].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [497]:
neo_mort[neo_mort['Period'] == 2010].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [498]:
neo_mort[neo_mort['Period'] == 2009].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [499]:
neo_mort[neo_mort['Period'] == 2008].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [500]:
neo_mort[neo_mort['Period'] == 2007].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [501]:
neo_mort[neo_mort['Period'] == 2006].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [502]:
neo_mort[neo_mort['Period'] == 2005].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [503]:
neo_mort[neo_mort['Period'] == 2004].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [504]:
neo_mort[neo_mort['Period'] == 2003].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [505]:
neo_mort[neo_mort['Period'] == 2002].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [506]:
neo_mort[neo_mort['Period'] == 2001].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

In [507]:
neo_mort[neo_mort['Period'] == 2000].count()

Location         193
Period           193
Indicator        193
Dim1             193
First Tooltip    193
dtype: int64

## Dataset to export

In [508]:
neo_mort_2016 = neo_mort[neo_mort['Period'] == 2016]
neo_mort_2016

,Location,Period,Indicator,Dim1,First Tooltip
3,Afghanistan,2016,Neonatal mortality rate (per 1000 live births),Both sexes,39.05 [32.59-46.17]
36,Albania,2016,Neonatal mortality rate (per 1000 live births),Both sexes,6.33 [5.82-6.82]
77,Algeria,2016,Neonatal mortality rate (per 1000 live births),Both sexes,15.07 [14.46-15.67]
128,Andorra,2016,Neonatal mortality rate (per 1000 live births),Both sexes,1.63 [0.49-5.42]
159,Angola,2016,Neonatal mortality rate (per 1000 live births),Both sexes,29.78 [14.55-53.42]
...,...,...,...,...,...
8900,Venezuela (Bolivarian Republic of),2016,Neonatal mortality rate (per 1000 live births),Both sexes,14.62 [13.24-16.09]
8931,Viet Nam,2016,Neonatal mortality rate (per 1000 live births),Both sexes,11.19 [8.84-13.91]
8974,Yemen,2016,Neonatal mortality rate (per 1000 live births),Both sexes,26.62 [18.58-37.89]
9032,Zambia,2016,Neonatal mortality rate (per 1000 live births),Both sexes,24.25 [20.64-28.7]
9083,Zimbabwe,2016,Neonatal mortality rate (per 1000 live births),Both sexes,27.33 [22.65-32.75]

## Dataset to export

In [509]:
neo_mort_2015 = neo_mort[neo_mort['Period'] == 2015]
neo_mort_2015

,Location,Period,Indicator,Dim1,First Tooltip
4,Afghanistan,2015,Neonatal mortality rate (per 1000 live births),Both sexes,40.27 [34.34-46.94]
37,Albania,2015,Neonatal mortality rate (per 1000 live births),Both sexes,6.03 [5.49-6.54]
78,Algeria,2015,Neonatal mortality rate (per 1000 live births),Both sexes,15.05 [14.4-15.68]
129,Andorra,2015,Neonatal mortality rate (per 1000 live births),Both sexes,1.71 [0.56-5.27]
160,Angola,2015,Neonatal mortality rate (per 1000 live births),Both sexes,30.63 [15.65-53.27]
...,...,...,...,...,...
8901,Venezuela (Bolivarian Republic of),2015,Neonatal mortality rate (per 1000 live births),Both sexes,14.45 [13.64-15.31]
8932,Viet Nam,2015,Neonatal mortality rate (per 1000 live births),Both sexes,11.37 [9.16-13.76]
8975,Yemen,2015,Neonatal mortality rate (per 1000 live births),Both sexes,26.65 [19.45-36.23]
9033,Zambia,2015,Neonatal mortality rate (per 1000 live births),Both sexes,24.53 [21.29-28.42]
9084,Zimbabwe,2015,Neonatal mortality rate (per 1000 live births),Both sexes,27.89 [23.72-32.63]

## New HIV Infections

In [510]:
hiv_data = pd.read_csv(WHS_path/'newHivInfections.csv')
hiv_data

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.01-0.15]
1,Afghanistan,2019,New HIV infections (per 1000 uninfected popula...,Male,0.06 [0.02-0.21]
2,Afghanistan,2019,New HIV infections (per 1000 uninfected popula...,Female,0.03
3,Afghanistan,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.03 [0.01-0.11]
4,Afghanistan,2015,New HIV infections (per 1000 uninfected popula...,Male,0.05 [0.02-0.16]
...,...,...,...,...,...
2545,Zimbabwe,2005,New HIV infections (per 1000 uninfected popula...,Male,7.36 [5.12-10.23]
2546,Zimbabwe,2005,New HIV infections (per 1000 uninfected popula...,Female,8.91 [6.2-12.29]
2547,Zimbabwe,2000,New HIV infections (per 1000 uninfected popula...,Both sexes,11.48 [8.06-15.85]
2548,Zimbabwe,2000,New HIV infections (per 1000 uninfected popula...,Male,10.44 [7.26-14.5]
2549,Zimbabwe,2000,New HIV infections (per 1000 uninfected popula...,Female,12.51 [8.7-17.26]

In [511]:
hiv_data.isnull().count()

Location         2550
Period           2550
Indicator        2550
Dim1             2550
First Tooltip    2550
dtype: int64

In [516]:
hiv_data[hiv_data['First Tooltip'] == '0.0 [0.0-0.0]']

Empty DataFrame
Columns: [Location, Period, Indicator, Dim1, First Tooltip]
Index: []

In [513]:
hiv_data['Indicator']. unique()

array(['New HIV infections (per 1000 uninfected population)'],
      dtype=object)

In [514]:
hiv_bs = hiv_data[hiv_data['Dim1'] == 'Both sexes']
hiv_bs

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.01-0.15]
3,Afghanistan,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.03 [0.01-0.11]
6,Afghanistan,2010,New HIV infections (per 1000 uninfected popula...,Both sexes,0.03 [0.01-0.06]
9,Afghanistan,2005,New HIV infections (per 1000 uninfected popula...,Both sexes,0.02
12,Afghanistan,2000,New HIV infections (per 1000 uninfected popula...,Both sexes,0.01
...,...,...,...,...,...
2535,Zimbabwe,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,2.81 [1.97-3.87]
2538,Zimbabwe,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,3.91 [2.75-5.4]
2541,Zimbabwe,2010,New HIV infections (per 1000 uninfected popula...,Both sexes,6.39 [4.49-8.82]
2544,Zimbabwe,2005,New HIV infections (per 1000 uninfected popula...,Both sexes,8.14 [5.72-11.24]
2547,Zimbabwe,2000,New HIV infections (per 1000 uninfected popula...,Both sexes,11.48 [8.06-15.85]

All years are the same, so I picked 2019 and 2015.

In [517]:
hiv_bs['Period'].unique()

array([2019, 2015, 2010, 2005, 2000])

In [518]:
hiv_bs[hiv_bs['Period'] == 2019].count()

Location         170
Period           170
Indicator        170
Dim1             170
First Tooltip    170
dtype: int64

In [519]:
hiv_bs[hiv_bs['Period'] == 2015].count()

Location         170
Period           170
Indicator        170
Dim1             170
First Tooltip    170
dtype: int64

In [520]:
hiv_bs[hiv_bs['Period'] == 2010].count()

Location         170
Period           170
Indicator        170
Dim1             170
First Tooltip    170
dtype: int64

In [521]:
hiv_bs[hiv_bs['Period'] == 2005].count()

Location         170
Period           170
Indicator        170
Dim1             170
First Tooltip    170
dtype: int64

In [522]:
hiv_bs[hiv_bs['Period'] == 2000].count()

Location         170
Period           170
Indicator        170
Dim1             170
First Tooltip    170
dtype: int64

## Dataset to export

In [523]:
hiv_2019 = hiv_bs[hiv_bs['Period'] == 2019]
hiv_2019

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.01-0.15]
15,Albania,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.03
30,Algeria,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.05 [0.01-0.1]
45,Angola,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.84 [0.59-1.12]
60,Argentina,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.13 [0.1-0.19]
...,...,...,...,...,...
2475,Venezuela (Bolivarian Republic of),2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.19 [0.12-0.26]
2490,Viet Nam,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.05 [0.05-0.06]
2505,Yemen,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.02-0.08]
2520,Zambia,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,3.17 [2.65-3.88]
2535,Zimbabwe,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,2.81 [1.97-3.87]

## Dataset to export

In [524]:
hiv_2015 = hiv_bs[hiv_bs['Period'] == 2015]
hiv_2015

,Location,Period,Indicator,Dim1,First Tooltip
3,Afghanistan,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.03 [0.01-0.11]
18,Albania,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.01-0.08]
33,Algeria,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.05 [0.02-0.07]
48,Angola,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.95 [0.73-1.19]
63,Argentina,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.14 [0.11-0.2]
...,...,...,...,...,...
2478,Venezuela (Bolivarian Republic of),2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.2 [0.14-0.26]
2493,Viet Nam,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.11 [0.09-0.12]
2508,Yemen,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,0.04 [0.02-0.07]
2523,Zambia,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,4.11 [3.45-5.04]
2538,Zimbabwe,2015,New HIV infections (per 1000 uninfected popula...,Both sexes,3.91 [2.75-5.4]

## Nursing and Midwife

In [525]:
midwife_data = pd.read_csv(WHS_path/'nursingAndMidwife.csv')
midwife_data

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,"Nursing and midwifery personnel (per 10,000)",1.76
1,Afghanistan,2016,"Nursing and midwifery personnel (per 10,000)",1.48
2,Afghanistan,2015,"Nursing and midwifery personnel (per 10,000)",1.30
3,Afghanistan,2014,"Nursing and midwifery personnel (per 10,000)",1.48
4,Afghanistan,2013,"Nursing and midwifery personnel (per 10,000)",2.50
...,...,...,...,...
2582,Zimbabwe,2011,"Nursing and midwifery personnel (per 10,000)",13.20
2583,Zimbabwe,2010,"Nursing and midwifery personnel (per 10,000)",8.29
2584,Zimbabwe,2009,"Nursing and midwifery personnel (per 10,000)",9.49
2585,Zimbabwe,1995,"Nursing and midwifery personnel (per 10,000)",15.27
2586,Zimbabwe,1990,"Nursing and midwifery personnel (per 10,000)",14.54

In [526]:
midwife_data.isnull().count()

Location         2587
Period           2587
Indicator        2587
First Tooltip    2587
dtype: int64

In [527]:
midwife_data[midwife_data['First Tooltip'] == 0.0]

Empty DataFrame
Columns: [Location, Period, Indicator, First Tooltip]
Index: []

In [528]:
midwife_data['Indicator'].unique()

array(['Nursing and midwifery personnel (per 10,000)'], dtype=object)

Ignored the years before 2000. I picked 2014 and 2013

In [529]:
midwife_data['Period'].unique()

array([2017, 2016, 2015, 2014, 2013, 2009, 2008, 2007, 2006, 2005, 2012,
       2011, 2010, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996,
       1995, 1994, 1993, 1990, 2018, 1992, 1991])

In [531]:
midwife_data[midwife_data['Period'] == 2017].count()

Location         131
Period           131
Indicator        131
First Tooltip    131
dtype: int64

In [532]:
midwife_data[midwife_data['Period'] == 2016].count()

Location         127
Period           127
Indicator        127
First Tooltip    127
dtype: int64

In [533]:
midwife_data[midwife_data['Period'] == 2015].count()

Location         133
Period           133
Indicator        133
First Tooltip    133
dtype: int64

In [534]:
midwife_data[midwife_data['Period'] == 2014].count()

Location         140
Period           140
Indicator        140
First Tooltip    140
dtype: int64

In [535]:
midwife_data[midwife_data['Period'] == 2013].count()

Location         157
Period           157
Indicator        157
First Tooltip    157
dtype: int64

In [536]:
midwife_data[midwife_data['Period'] == 2012].count()

Location         108
Period           108
Indicator        108
First Tooltip    108
dtype: int64

In [537]:
midwife_data[midwife_data['Period'] == 2011].count()

Location         110
Period           110
Indicator        110
First Tooltip    110
dtype: int64

In [538]:
midwife_data[midwife_data['Period'] == 2010].count()

Location         126
Period           126
Indicator        126
First Tooltip    126
dtype: int64

In [539]:
midwife_data[midwife_data['Period'] == 2009].count()

Location         129
Period           129
Indicator        129
First Tooltip    129
dtype: int64

In [549]:
midwife_data[midwife_data['Period'] == 2008].count()

Location         125
Period           125
Indicator        125
First Tooltip    125
dtype: int64

In [541]:
midwife_data[midwife_data['Period'] == 2007].count()

Location         104
Period           104
Indicator        104
First Tooltip    104
dtype: int64

In [542]:
midwife_data[midwife_data['Period'] == 2006].count()

Location         100
Period           100
Indicator        100
First Tooltip    100
dtype: int64

In [543]:
midwife_data[midwife_data['Period'] == 2005].count()

Location         99
Period           99
Indicator        99
First Tooltip    99
dtype: int64

In [544]:
midwife_data[midwife_data['Period'] == 2004].count()

Location         127
Period           127
Indicator        127
First Tooltip    127
dtype: int64

In [545]:
midwife_data[midwife_data['Period'] == 2003].count()

Location         84
Period           84
Indicator        84
First Tooltip    84
dtype: int64

In [546]:
midwife_data[midwife_data['Period'] == 2002].count()

Location         79
Period           79
Indicator        79
First Tooltip    79
dtype: int64

In [547]:
midwife_data[midwife_data['Period'] == 2001].count()

Location         78
Period           78
Indicator        78
First Tooltip    78
dtype: int64

In [548]:
midwife_data[midwife_data['Period'] == 2000].count()

Location         82
Period           82
Indicator        82
First Tooltip    82
dtype: int64

## Dataset to export

In [550]:
midwife_2014 = midwife_data[midwife_data['Period'] == 2014]
midwife_2014

,Location,Period,Indicator,First Tooltip
3,Afghanistan,2014,"Nursing and midwifery personnel (per 10,000)",1.48
35,Algeria,2014,"Nursing and midwifery personnel (per 10,000)",2.86
61,Antigua and Barbuda,2014,"Nursing and midwifery personnel (per 10,000)",46.87
75,Armenia,2014,"Nursing and midwifery personnel (per 10,000)",51.55
93,Australia,2014,"Nursing and midwifery personnel (per 10,000)",121.10
...,...,...,...,...
2500,United Republic of Tanzania,2014,"Nursing and midwifery personnel (per 10,000)",4.31
2510,Uzbekistan,2014,"Nursing and midwifery personnel (per 10,000)",112.80
2546,Viet Nam,2014,"Nursing and midwifery personnel (per 10,000)",14.30
2561,Yemen,2014,"Nursing and midwifery personnel (per 10,000)",8.79
2579,Zimbabwe,2014,"Nursing and midwifery personnel (per 10,000)",15.37

## Dataset to export

In [551]:
midwife_2013 = midwife_data[midwife_data['Period'] == 2013]
midwife_2013

,Location,Period,Indicator,First Tooltip
4,Afghanistan,2013,"Nursing and midwifery personnel (per 10,000)",2.500
11,Albania,2013,"Nursing and midwifery personnel (per 10,000)",42.890
53,Angola,2013,"Nursing and midwifery personnel (per 10,000)",0.012
62,Antigua and Barbuda,2013,"Nursing and midwifery personnel (per 10,000)",46.010
67,Argentina,2013,"Nursing and midwifery personnel (per 10,000)",42.460
...,...,...,...,...
2511,Uzbekistan,2013,"Nursing and midwifery personnel (per 10,000)",115.600
2547,Viet Nam,2013,"Nursing and midwifery personnel (per 10,000)",2.870
2562,Yemen,2013,"Nursing and midwifery personnel (per 10,000)",8.650
2569,Zambia,2013,"Nursing and midwifery personnel (per 10,000)",1.860
2580,Zimbabwe,2013,"Nursing and midwifery personnel (per 10,000)",14.020

## Healthy Life Expectancy at Birth by Region - IGNORE

## Pharmacists

In [552]:
pharma_data = pd.read_csv(WHS_path/'pharmacists.csv')
pharma_data

         Location  Period                  Indicator  First Tooltip
0     Afghanistan    2016  Pharmacists  (per 10,000)          0.470
1     Afghanistan    2015  Pharmacists  (per 10,000)          0.500
2     Afghanistan    2014  Pharmacists  (per 10,000)          0.510
3     Afghanistan    2012  Pharmacists  (per 10,000)          0.270
4     Afghanistan    2011  Pharmacists  (per 10,000)          0.280
...           ...     ...                        ...            ...
1790     Zimbabwe    2010  Pharmacists  (per 10,000)          0.043
1791     Zimbabwe    2009  Pharmacists  (per 10,000)          0.540
1792     Zimbabwe    2004  Pharmacists  (per 10,000)          0.500
1793     Zimbabwe    1995  Pharmacists  (per 10,000)          0.440
1794     Zimbabwe    1990  Pharmacists  (per 10,000)          0.330

[1795 rows x 4 columns]

In [553]:
pharma_data.isnull().count()

Location         1795
Period           1795
Indicator        1795
First Tooltip    1795
dtype: int64

In [555]:
pharma_data[pharma_data['First Tooltip'] == 0.0]

Empty DataFrame
Columns: [Location, Period, Indicator, First Tooltip]
Index: []

In [556]:
pharma_data['Indicator'].unique()

array(['Pharmacists  (per 10,000)'], dtype=object)

Ignore data before 2000. These years aren't looking strong. Most of the years have under 100.

In [557]:
pharma_data['Period'].unique()

array([2016, 2015, 2014, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
       2001, 2013, 2003, 2002, 2000, 1999, 1994, 1993, 1992, 1991, 1990,
       2018, 2004, 1998, 1997, 1995, 2017, 1996])

In [558]:
pharma_data[pharma_data['Period'] == 2018].count()

Location         51
Period           51
Indicator        51
First Tooltip    51
dtype: int64

In [559]:
pharma_data[pharma_data['Period'] == 2017].count()

Location         73
Period           73
Indicator        73
First Tooltip    73
dtype: int64

In [560]:
pharma_data[pharma_data['Period'] == 2016].count()

Location         79
Period           79
Indicator        79
First Tooltip    79
dtype: int64

In [561]:
pharma_data[pharma_data['Period'] == 2015].count()

Location         81
Period           81
Indicator        81
First Tooltip    81
dtype: int64

In [562]:
pharma_data[pharma_data['Period'] == 2014].count()

Location         84
Period           84
Indicator        84
First Tooltip    84
dtype: int64

In [563]:
pharma_data[pharma_data['Period'] == 2013].count()

Location         77
Period           77
Indicator        77
First Tooltip    77
dtype: int64

In [564]:
pharma_data[pharma_data['Period'] == 2012].count()

Location         89
Period           89
Indicator        89
First Tooltip    89
dtype: int64

In [566]:
pharma_data[pharma_data['Period'] == 2011].count()

Location         90
Period           90
Indicator        90
First Tooltip    90
dtype: int64

In [567]:
pharma_data[pharma_data['Period'] == 2010].count()

Location         95
Period           95
Indicator        95
First Tooltip    95
dtype: int64

In [568]:
pharma_data[pharma_data['Period'] == 2009].count()

Location         100
Period           100
Indicator        100
First Tooltip    100
dtype: int64

In [569]:
pharma_data[pharma_data['Period'] == 2008].count()

Location         95
Period           95
Indicator        95
First Tooltip    95
dtype: int64

In [570]:
pharma_data[pharma_data['Period'] == 2007].count()

Location         84
Period           84
Indicator        84
First Tooltip    84
dtype: int64

In [571]:
pharma_data[pharma_data['Period'] == 2006].count()

Location         72
Period           72
Indicator        72
First Tooltip    72
dtype: int64

In [572]:
pharma_data[pharma_data['Period'] == 2005].count()

Location         72
Period           72
Indicator        72
First Tooltip    72
dtype: int64

In [573]:
pharma_data[pharma_data['Period'] == 2004].count()

Location         103
Period           103
Indicator        103
First Tooltip    103
dtype: int64

In [574]:
pharma_data[pharma_data['Period'] == 2003].count()

Location         58
Period           58
Indicator        58
First Tooltip    58
dtype: int64

In [575]:
pharma_data[pharma_data['Period'] == 2002].count()

Location         60
Period           60
Indicator        60
First Tooltip    60
dtype: int64

In [576]:
pharma_data[pharma_data['Period'] == 2001].count()

Location         61
Period           61
Indicator        61
First Tooltip    61
dtype: int64

In [577]:
pharma_data[pharma_data['Period'] == 2000].count()

Location         57
Period           57
Indicator        57
First Tooltip    57
dtype: int64

# Ignore Pharmacist dataset unless selecting 2004 or 2009.

## Population with Household Health Expenditures Greater than 10%

In [578]:
he10_data = pd.read_csv(WHS_path/'population10SDG3.8.2.csv')
he10_data

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2013,Population with household expenditures on heal...,Total,14.63
1,Afghanistan,2013,Population with household expenditures on heal...,Urban,11.11
2,Afghanistan,2013,Population with household expenditures on heal...,Rural,15.73
3,Afghanistan,2007,Population with household expenditures on heal...,Total,4.84
4,Afghanistan,2007,Population with household expenditures on heal...,Urban,2.25
...,...,...,...,...,...
1888,Zambia,2004,Population with household expenditures on heal...,Urban,3.30
1889,Zambia,2004,Population with household expenditures on heal...,Rural,2.45
1890,Zimbabwe,2007,Population with household expenditures on heal...,Total,2.09
1891,Zimbabwe,2007,Population with household expenditures on heal...,Urban,4.19
1892,Zimbabwe,2007,Population with household expenditures on heal...,Rural,1.07

In [579]:
he10_data.isnull().count()

Location         1893
Period           1893
Indicator        1893
Dim1             1893
First Tooltip    1893
dtype: int64

In [580]:
he10_data[he10_data['First Tooltip'] == 0.0]

,Location,Period,Indicator,Dim1,First Tooltip
1656,Timor-Leste,2011,Population with household expenditures on heal...,Urban,0.0
1658,Timor-Leste,2007,Population with household expenditures on heal...,Total,0.0
1659,Timor-Leste,2007,Population with household expenditures on heal...,Urban,0.0
1660,Timor-Leste,2007,Population with household expenditures on heal...,Rural,0.0

In [581]:
he10_data['Indicator'].unique()

array(['Population with household expenditures on health greater than 10% of total household expenditure or income (SDG 3.8.2) (%)'],
      dtype=object)

In [585]:
he10_tot = he10_data[he10_data['Dim1'] == 'Total']
he10_tot

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2013,Population with household expenditures on heal...,Total,14.63
3,Afghanistan,2007,Population with household expenditures on heal...,Total,4.84
6,Albania,2012,Population with household expenditures on heal...,Total,16.72
9,Albania,2008,Population with household expenditures on heal...,Total,13.91
12,Albania,2005,Population with household expenditures on heal...,Total,19.51
...,...,...,...,...,...
1878,Yemen,1998,Population with household expenditures on heal...,Total,6.09
1881,Zambia,2010,Population with household expenditures on heal...,Total,0.29
1884,Zambia,2006,Population with household expenditures on heal...,Total,1.85
1887,Zambia,2004,Population with household expenditures on heal...,Total,2.79
1890,Zimbabwe,2007,Population with household expenditures on heal...,Total,2.09

All years have too low of value counts

In [586]:
he10_tot['Period'].unique()

array([2013, 2007, 2012, 2008, 2005, 2002, 1996, 2004, 2011, 2010, 2009,
       2006, 2003, 2001, 1999, 2016, 2000, 2015, 2014, 1998, 1997, 2017,
       1993, 1995, 1986, 1994, 1992, 1988, 1987, 1985, 1991, 2018, 1990])

In [587]:
he10_tot[he10_tot['Period'] == 2018].count()

Location         2
Period           2
Indicator        2
Dim1             2
First Tooltip    2
dtype: int64

In [588]:
he10_tot[he10_tot['Period'] == 2017].count()

Location         3
Period           3
Indicator        3
Dim1             3
First Tooltip    3
dtype: int64

In [589]:
he10_tot[he10_tot['Period'] == 2016].count()

Location         22
Period           22
Indicator        22
Dim1             22
First Tooltip    22
dtype: int64

In [590]:
he10_tot[he10_tot['Period'] == 2015].count()

Location         23
Period           23
Indicator        23
Dim1             23
First Tooltip    23
dtype: int64

In [591]:
he10_tot[he10_tot['Period'] == 2014].count()

Location         31
Period           31
Indicator        31
Dim1             31
First Tooltip    31
dtype: int64

In [592]:
he10_tot[he10_tot['Period'] == 2013].count()

Location         30
Period           30
Indicator        30
Dim1             30
First Tooltip    30
dtype: int64

In [593]:
he10_tot[he10_tot['Period'] == 2012].count()

Location         39
Period           39
Indicator        39
Dim1             39
First Tooltip    39
dtype: int64

In [594]:
he10_tot[he10_tot['Period'] == 2011].count()

Location         35
Period           35
Indicator        35
Dim1             35
First Tooltip    35
dtype: int64

In [595]:
he10_tot[he10_tot['Period'] == 2010].count()

Location         55
Period           55
Indicator        55
Dim1             55
First Tooltip    55
dtype: int64

In [596]:
he10_tot[he10_tot['Period'] == 2009].count()

Location         37
Period           37
Indicator        37
Dim1             37
First Tooltip    37
dtype: int64

In [597]:
he10_tot[he10_tot['Period'] == 2008].count()

Location         35
Period           35
Indicator        35
Dim1             35
First Tooltip    35
dtype: int64

In [598]:
he10_tot[he10_tot['Period'] == 2007].count()

Location         44
Period           44
Indicator        44
Dim1             44
First Tooltip    44
dtype: int64

In [599]:
he10_tot[he10_tot['Period'] == 2006].count()

Location         32
Period           32
Indicator        32
Dim1             32
First Tooltip    32
dtype: int64

In [600]:
he10_tot[he10_tot['Period'] == 2005].count()

Location         38
Period           38
Indicator        38
Dim1             38
First Tooltip    38
dtype: int64

In [601]:
he10_tot[he10_tot['Period'] == 2004].count()

Location         39
Period           39
Indicator        39
Dim1             39
First Tooltip    39
dtype: int64

In [602]:
he10_tot[he10_tot['Period'] == 2003].count()

Location         35
Period           35
Indicator        35
Dim1             35
First Tooltip    35
dtype: int64

In [603]:
he10_tot[he10_tot['Period'] == 2002].count()

Location         37
Period           37
Indicator        37
Dim1             37
First Tooltip    37
dtype: int64

In [604]:
he10_tot[he10_tot['Period'] == 2001].count()

Location         27
Period           27
Indicator        27
Dim1             27
First Tooltip    27
dtype: int64

In [605]:
he10_tot[he10_tot['Period'] == 2000].count()

Location         30
Period           30
Indicator        30
Dim1             30
First Tooltip    30
dtype: int64

## Ignore Health Expenditure 10% data

## Population with Household Health Expenditures Greater than 25%

In [608]:
he25 = pd.read_csv(WHS_path/'population25SDG3.8.2.csv')
he25

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2013,Population with household expenditures on heal...,Total,2.01
1,Afghanistan,2013,Population with household expenditures on heal...,Urban,1.49
2,Afghanistan,2013,Population with household expenditures on heal...,Rural,2.18
3,Afghanistan,2007,Population with household expenditures on heal...,Total,0.07
4,Afghanistan,2007,Population with household expenditures on heal...,Urban,0.00
...,...,...,...,...,...
1888,Zambia,2004,Population with household expenditures on heal...,Urban,0.66
1889,Zambia,2004,Population with household expenditures on heal...,Rural,0.45
1890,Zimbabwe,2007,Population with household expenditures on heal...,Total,0.71
1891,Zimbabwe,2007,Population with household expenditures on heal...,Urban,1.35
1892,Zimbabwe,2007,Population with household expenditures on heal...,Rural,0.40

In [609]:
he25_tot = he25[he25['Dim1'] == 'Total']
he25_tot

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2013,Population with household expenditures on heal...,Total,2.01
3,Afghanistan,2007,Population with household expenditures on heal...,Total,0.07
6,Albania,2012,Population with household expenditures on heal...,Total,4.95
9,Albania,2008,Population with household expenditures on heal...,Total,4.08
12,Albania,2005,Population with household expenditures on heal...,Total,4.50
...,...,...,...,...,...
1878,Yemen,1998,Population with household expenditures on heal...,Total,1.35
1881,Zambia,2010,Population with household expenditures on heal...,Total,0.01
1884,Zambia,2006,Population with household expenditures on heal...,Total,0.43
1887,Zambia,2004,Population with household expenditures on heal...,Total,0.53
1890,Zimbabwe,2007,Population with household expenditures on heal...,Total,0.71

All the years don't have enough to be useable for us.

In [610]:
he25_tot['Period'].unique()

array([2013, 2007, 2012, 2008, 2005, 2002, 1996, 2004, 2011, 2010, 2009,
       2006, 2003, 2001, 1999, 2016, 2000, 2015, 2014, 1998, 1997, 2017,
       1993, 1995, 1986, 1994, 1992, 1988, 1987, 1985, 1991, 2018, 1990])

In [611]:
he25_tot[he25_tot['Period'] == 2018].count()

Location         2
Period           2
Indicator        2
Dim1             2
First Tooltip    2
dtype: int64

In [612]:
he25_tot[he25_tot['Period'] == 2017].count()

Location         3
Period           3
Indicator        3
Dim1             3
First Tooltip    3
dtype: int64

In [613]:
he25_tot[he25_tot['Period'] == 2016].count()

Location         22
Period           22
Indicator        22
Dim1             22
First Tooltip    22
dtype: int64

In [614]:
he25_tot[he25_tot['Period'] == 2015].count()

Location         23
Period           23
Indicator        23
Dim1             23
First Tooltip    23
dtype: int64

In [615]:
he25_tot[he25_tot['Period'] == 2014].count()

Location         31
Period           31
Indicator        31
Dim1             31
First Tooltip    31
dtype: int64

In [616]:
he25_tot[he25_tot['Period'] == 2013].count()

Location         30
Period           30
Indicator        30
Dim1             30
First Tooltip    30
dtype: int64

In [617]:
he25_tot[he25_tot['Period'] == 2012].count()

Location         39
Period           39
Indicator        39
Dim1             39
First Tooltip    39
dtype: int64

In [618]:
he25_tot[he25_tot['Period'] == 2011].count()

Location         35
Period           35
Indicator        35
Dim1             35
First Tooltip    35
dtype: int64

In [619]:
he25_tot[he25_tot['Period'] == 2010].count()

Location         55
Period           55
Indicator        55
Dim1             55
First Tooltip    55
dtype: int64

In [620]:
he25_tot[he25_tot['Period'] == 2009].count()

Location         37
Period           37
Indicator        37
Dim1             37
First Tooltip    37
dtype: int64

In [621]:
he25_tot[he25_tot['Period'] == 2008].count()

Location         35
Period           35
Indicator        35
Dim1             35
First Tooltip    35
dtype: int64

In [622]:
he25_tot[he25_tot['Period'] == 2007].count()

Location         44
Period           44
Indicator        44
Dim1             44
First Tooltip    44
dtype: int64

In [623]:
he25_tot[he25_tot['Period'] == 2006].count()

Location         32
Period           32
Indicator        32
Dim1             32
First Tooltip    32
dtype: int64

In [624]:
he25_tot[he25_tot['Period'] == 2005].count()

Location         38
Period           38
Indicator        38
Dim1             38
First Tooltip    38
dtype: int64

In [625]:
he25_tot[he25_tot['Period'] == 2004].count()

Location         39
Period           39
Indicator        39
Dim1             39
First Tooltip    39
dtype: int64

In [626]:
he25_tot[he25_tot['Period'] == 2003].count()

Location         35
Period           35
Indicator        35
Dim1             35
First Tooltip    35
dtype: int64

In [627]:
he25_tot[he25_tot['Period'] == 2002].count()

Location         37
Period           37
Indicator        37
Dim1             37
First Tooltip    37
dtype: int64

In [628]:
he25_tot[he25_tot['Period'] == 2001].count()

Location         27
Period           27
Indicator        27
Dim1             27
First Tooltip    27
dtype: int64

In [629]:
he25_tot[he25_tot['Period'] == 2000].count()

Location         30
Period           30
Indicator        30
Dim1             30
First Tooltip    30
dtype: int64

## Ignore Popultion Health Expenditures over 25% dataset

## Women Reproductive Age

In [630]:
repo_data = pd.read_csv(WHS_path/'reproductiveAgeWomen.csv')
repo_data

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Married or in-union women of reproductive age ...,2016,42.1
1,Albania,Married or in-union women of reproductive age ...,2009,12.9
2,Algeria,Married or in-union women of reproductive age ...,2013,77.2
3,Angola,Married or in-union women of reproductive age ...,2016,24.2
4,Armenia,Married or in-union women of reproductive age ...,2016,40.2
...,...,...,...,...
114,Vanuatu,Married or in-union women of reproductive age ...,2013,50.7
115,Viet Nam,Married or in-union women of reproductive age ...,2014,69.7
116,Yemen,Married or in-union women of reproductive age ...,2013,46.9
117,Zambia,Married or in-union women of reproductive age ...,2014,63.8
118,Zimbabwe,Married or in-union women of reproductive age ...,2015,85.2

At only 119 rows from the start, there is no way that this will work.

## Ignore Women Repoductive Age dataset

## Road Traffic Deaths

In [632]:
road_data = pd.read_csv(WHS_path/'roadTrafficDeaths.csv')
road_data

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Estimated road traffic death rate (per 100 000...,2016,15.1
1,Albania,Estimated road traffic death rate (per 100 000...,2016,13.6
2,Angola,Estimated road traffic death rate (per 100 000...,2016,23.6
3,Antigua and Barbuda,Estimated road traffic death rate (per 100 000...,2016,7.9
4,Argentina,Estimated road traffic death rate (per 100 000...,2016,14.0
...,...,...,...,...
170,Uzbekistan,Estimated road traffic death rate (per 100 000...,2016,11.5
171,Vanuatu,Estimated road traffic death rate (per 100 000...,2016,15.9
172,Venezuela (Bolivarian Republic of),Estimated road traffic death rate (per 100 000...,2016,33.7
173,Viet Nam,Estimated road traffic death rate (per 100 000...,2016,26.4
174,Zimbabwe,Estimated road traffic death rate (per 100 000...,2016,34.7

In [633]:
road_data['Period'].unique()

array([2016])

This dataset only has 2016 data. Not useful to us.

## Ingore Road Traffic Death dataset. Only 1 year.

## Safely Managed Sanitization Services

In [634]:
sani_data = pd.read_csv(WHS_path/'safelySanitization.csv')
sani_data

,Location,Indicator,Period,Dim1,First Tooltip
0,Albania,Population using safely managed sanitation ser...,2017,Total,39.86
1,Albania,Population using safely managed sanitation ser...,2017,Urban,40.17
2,Albania,Population using safely managed sanitation ser...,2017,Rural,39.39
3,Albania,Population using safely managed sanitation ser...,2016,Total,39.85
4,Albania,Population using safely managed sanitation ser...,2016,Urban,40.17
...,...,...,...,...,...
3650,Zimbabwe,Population using safely managed sanitation ser...,2004,Urban,22.81
3651,Zimbabwe,Population using safely managed sanitation ser...,2003,Urban,23.31
3652,Zimbabwe,Population using safely managed sanitation ser...,2002,Urban,23.31
3653,Zimbabwe,Population using safely managed sanitation ser...,2001,Urban,23.31
3654,Zimbabwe,Population using safely managed sanitation ser...,2000,Urban,23.31

## Tobacco Age 15

In [635]:
tob_data = pd.read_csv(WHS_path/'tobaccoAge15.csv')
tob_data

,Location,Indicator,Period,Dim1,First Tooltip
0,Albania,Age-standardized prevalence of current tobacco...,2018,Both sexes,29.2
1,Albania,Age-standardized prevalence of current tobacco...,2018,Male,50.5
2,Albania,Age-standardized prevalence of current tobacco...,2018,Female,7.9
3,Albania,Age-standardized prevalence of current tobacco...,2017,Both sexes,29.3
4,Albania,Age-standardized prevalence of current tobacco...,2017,Male,50.6
...,...,...,...,...,...
4018,Zimbabwe,Age-standardized prevalence of current tobacco...,2005,Male,31.6
4019,Zimbabwe,Age-standardized prevalence of current tobacco...,2005,Female,2.3
4020,Zimbabwe,Age-standardized prevalence of current tobacco...,2000,Both sexes,18.3
4021,Zimbabwe,Age-standardized prevalence of current tobacco...,2000,Male,33.7
4022,Zimbabwe,Age-standardized prevalence of current tobacco...,2000,Female,2.9

In [636]:
tob_data.isnull().count()

Location         4023
Indicator        4023
Period           4023
Dim1             4023
First Tooltip    4023
dtype: int64

This is actually the most interesting thing I've come across in all these datasets. I guess North Korea doesn't think it's proper for women to use tobacco. Super interesting! In this case, I plan on using the total category, not femail category, but this likely skews the total category, so I will need to eliminate North Korea from the final dataset.

## Be sure to eliminate the Democratic People's Republic of Korea from final dataset

In [637]:
tob_data[tob_data['First Tooltip'] == 0.0]

,Location,Indicator,Period,Dim1,First Tooltip
1028,Democratic People's Republic of Korea,Age-standardized prevalence of current tobacco...,2018,Female,0.0
1031,Democratic People's Republic of Korea,Age-standardized prevalence of current tobacco...,2017,Female,0.0
1034,Democratic People's Republic of Korea,Age-standardized prevalence of current tobacco...,2016,Female,0.0
1037,Democratic People's Republic of Korea,Age-standardized prevalence of current tobacco...,2015,Female,0.0
1040,Democratic People's Republic of Korea,Age-standardized prevalence of current tobacco...,2014,Female,0.0
1043,Democratic People's Republic of Korea,Age-standardized prevalence of current tobacco...,2013,Female,0.0
1046,Democratic People's Republic of Korea,Age-standardized prevalence of current tobacco...,2010,Female,0.0
1049,Democratic People's Republic of Korea,Age-standardized prevalence of current tobacco...,2005,Female,0.0
1052,Democratic People's Republic of Korea,Age-standardized prevalence of current tobacco...,2000,Female,0.0

In [638]:
tob_data['Indicator'].unique()

array(['Age-standardized prevalence of current tobacco smoking among persons aged 15 years and older'],
      dtype=object)

In [639]:
tob_bs = tob_data[tob_data['Dim1'] == 'Both sexes']
tob_bs

,Location,Indicator,Period,Dim1,First Tooltip
0,Albania,Age-standardized prevalence of current tobacco...,2018,Both sexes,29.2
3,Albania,Age-standardized prevalence of current tobacco...,2017,Both sexes,29.3
6,Albania,Age-standardized prevalence of current tobacco...,2016,Both sexes,29.7
9,Albania,Age-standardized prevalence of current tobacco...,2015,Both sexes,29.9
12,Albania,Age-standardized prevalence of current tobacco...,2014,Both sexes,30.1
...,...,...,...,...,...
4008,Zimbabwe,Age-standardized prevalence of current tobacco...,2014,Both sexes,14.7
4011,Zimbabwe,Age-standardized prevalence of current tobacco...,2013,Both sexes,14.9
4014,Zimbabwe,Age-standardized prevalence of current tobacco...,2010,Both sexes,15.6
4017,Zimbabwe,Age-standardized prevalence of current tobacco...,2005,Both sexes,17.0
4020,Zimbabwe,Age-standardized prevalence of current tobacco...,2000,Both sexes,18.3

All years have the same value, so I pick 2015 and 2016.

In [640]:
tob_bs['Period'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2010, 2005, 2000])

In [642]:
tob_bs[tob_bs['Period'] == 2018].count()

Location         149
Indicator        149
Period           149
Dim1             149
First Tooltip    149
dtype: int64

In [643]:
tob_bs[tob_bs['Period'] == 2017].count()

Location         149
Indicator        149
Period           149
Dim1             149
First Tooltip    149
dtype: int64

In [644]:
tob_bs[tob_bs['Period'] == 2016].count()

Location         149
Indicator        149
Period           149
Dim1             149
First Tooltip    149
dtype: int64

In [645]:
tob_bs[tob_bs['Period'] == 2015].count()

Location         149
Indicator        149
Period           149
Dim1             149
First Tooltip    149
dtype: int64

In [646]:
tob_bs[tob_bs['Period'] == 2014].count()

Location         149
Indicator        149
Period           149
Dim1             149
First Tooltip    149
dtype: int64

In [647]:
tob_bs[tob_bs['Period'] == 2013].count()

Location         149
Indicator        149
Period           149
Dim1             149
First Tooltip    149
dtype: int64

In [648]:
tob_bs[tob_bs['Period'] == 2010].count()

Location         149
Indicator        149
Period           149
Dim1             149
First Tooltip    149
dtype: int64

In [649]:
tob_bs[tob_bs['Period'] == 2005].count()

Location         149
Indicator        149
Period           149
Dim1             149
First Tooltip    149
dtype: int64

In [650]:
tob_bs[tob_bs['Period'] == 2000].count()

Location         149
Indicator        149
Period           149
Dim1             149
First Tooltip    149
dtype: int64

## Dataset to export

In [651]:
tob_2016 = tob_bs[tob_bs['Period'] == 2016]
tob_2016

,Location,Indicator,Period,Dim1,First Tooltip
6,Albania,Age-standardized prevalence of current tobacco...,2016,Both sexes,29.7
33,Algeria,Age-standardized prevalence of current tobacco...,2016,Both sexes,19.1
60,Andorra,Age-standardized prevalence of current tobacco...,2016,Both sexes,33.9
87,Argentina,Age-standardized prevalence of current tobacco...,2016,Both sexes,23.6
114,Armenia,Age-standardized prevalence of current tobacco...,2016,Both sexes,27.5
...,...,...,...,...,...
3894,Uzbekistan,Age-standardized prevalence of current tobacco...,2016,Both sexes,12.6
3921,Vanuatu,Age-standardized prevalence of current tobacco...,2016,Both sexes,24.8
3948,Yemen,Age-standardized prevalence of current tobacco...,2016,Both sexes,21.7
3975,Zambia,Age-standardized prevalence of current tobacco...,2016,Both sexes,15.2
4002,Zimbabwe,Age-standardized prevalence of current tobacco...,2016,Both sexes,14.3

# Dataset to export

In [652]:
tob_2015 = tob_bs[tob_bs['Period'] == 2015]
tob_2015

,Location,Indicator,Period,Dim1,First Tooltip
9,Albania,Age-standardized prevalence of current tobacco...,2015,Both sexes,29.9
36,Algeria,Age-standardized prevalence of current tobacco...,2015,Both sexes,19.3
63,Andorra,Age-standardized prevalence of current tobacco...,2015,Both sexes,34.2
90,Argentina,Age-standardized prevalence of current tobacco...,2015,Both sexes,24.6
117,Armenia,Age-standardized prevalence of current tobacco...,2015,Both sexes,27.9
...,...,...,...,...,...
3897,Uzbekistan,Age-standardized prevalence of current tobacco...,2015,Both sexes,12.8
3924,Vanuatu,Age-standardized prevalence of current tobacco...,2015,Both sexes,25.1
3951,Yemen,Age-standardized prevalence of current tobacco...,2015,Both sexes,22.2
3978,Zambia,Age-standardized prevalence of current tobacco...,2015,Both sexes,15.4
4005,Zimbabwe,Age-standardized prevalence of current tobacco...,2015,Both sexes,14.5

## UHC Coverage - IGNORE

## Under 5 Mortality Rate

In [654]:
under5_mort = pd.read_csv(WHS_path/'under5MortalityRate.csv')
under5_mort

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
1,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Male,63.83 [50.04-79.16]
2,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Female,56.57 [44.54-70.18]
3,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Both sexes,62.54 [50.64-75.41]
4,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Male,66.08 [53.41-79.76]
...,...,...,...,...,...
29994,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Both sexes,96.97 [87.36-107.7]
29995,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Male,102.6 [92.14-114]
29996,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Female,91.04 [81.92-101.5]
29997,Timor-Leste,2001,Under-five mortality rate (probability of dyin...,Both sexes,102.5 [92.72-113.3]
29998,Timor-Leste,2001,Under-five mortality rate (probability of dyin...,Male,108.2 [97.57-120]

In [655]:
under5_mort.isnull().count()

Location         29999
Period           29999
Indicator        29999
Dim1             29999
First Tooltip    29999
dtype: int64

In [656]:
under5_mort[under5_mort['First Tooltip'] == '0.0 [0.0-0.0]']

Empty DataFrame
Columns: [Location, Period, Indicator, Dim1, First Tooltip]
Index: []

In [657]:
under5_mort['Indicator'].unique()

array(['Under-five mortality rate (probability of dying by age 5 per 1000 live births)'],
      dtype=object)

In [659]:
under5_bs = under5_mort[under5_mort['Dim1'] == 'Both sexes']
under5_bs

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
3,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Both sexes,62.54 [50.64-75.41]
6,Afghanistan,2017,Under-five mortality rate (probability of dyin...,Both sexes,64.94 [53.74-76.83]
9,Afghanistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,67.57 [57.07-78.65]
12,Afghanistan,2015,Under-five mortality rate (probability of dyin...,Both sexes,70.44 [60.72-80.86]
...,...,...,...,...,...
29985,Timor-Leste,2005,Under-five mortality rate (probability of dyin...,Both sexes,81.27 [71.55-92.09]
29988,Timor-Leste,2004,Under-five mortality rate (probability of dyin...,Both sexes,86.34 [76.74-96.94]
29991,Timor-Leste,2003,Under-five mortality rate (probability of dyin...,Both sexes,91.59 [82-102.1]
29994,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Both sexes,96.97 [87.36-107.7]
29997,Timor-Leste,2001,Under-five mortality rate (probability of dyin...,Both sexes,102.5 [92.72-113.3]

The years had almost all the same counts, so I picked 2015 and 2016.

In [661]:
under5_bs['Period'].unique()

array([2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009,
       2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998,
       1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987,
       1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965,
       1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954,
       1953, 1952, 1951, 1950])

In [662]:
under5_bs[under5_bs['Period'] == 2019].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [663]:
under5_bs[under5_bs['Period'] == 2018].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [664]:
under5_bs[under5_bs['Period'] == 2017].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [665]:
under5_bs[under5_bs['Period'] == 2016].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [666]:
under5_bs[under5_bs['Period'] == 2015].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [667]:
under5_bs[under5_bs['Period'] == 2014].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [668]:
under5_bs[under5_bs['Period'] == 2013].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [669]:
under5_bs[under5_bs['Period'] == 2012].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [670]:
under5_bs[under5_bs['Period'] == 2011].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [671]:
under5_bs[under5_bs['Period'] == 2010].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [672]:
under5_bs[under5_bs['Period'] == 2009].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [673]:
under5_bs[under5_bs['Period'] == 2008].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [674]:
under5_bs[under5_bs['Period'] == 2007].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [675]:
under5_bs[under5_bs['Period'] == 2006].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [676]:
under5_bs[under5_bs['Period'] == 2005].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [677]:
under5_bs[under5_bs['Period'] == 2004].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [678]:
under5_bs[under5_bs['Period'] == 2003].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [679]:
under5_bs[under5_bs['Period'] == 2002].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [680]:
under5_bs[under5_bs['Period'] == 2001].count()

Location         172
Period           172
Indicator        172
Dim1             172
First Tooltip    172
dtype: int64

In [681]:
under5_bs[under5_bs['Period'] == 2000].count()

Location         171
Period           171
Indicator        171
Dim1             171
First Tooltip    171
dtype: int64

## Dataset to export

In [682]:
under5_2016 = under5_bs[under5_bs['Period'] == 2016]
under5_2016

,Location,Period,Indicator,Dim1,First Tooltip
9,Afghanistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,67.57 [57.07-78.65]
183,Albania,2016,Under-five mortality rate (probability of dyin...,Both sexes,9.42 [9.08-9.8]
309,Algeria,2016,Under-five mortality rate (probability of dyin...,Both sexes,24.79 [24.25-25.34]
507,Andorra,2016,Under-five mortality rate (probability of dyin...,Both sexes,3.37 [1.1-10.78]
612,Angola,2016,Under-five mortality rate (probability of dyin...,Both sexes,84.21 [42.56-146.4]
...,...,...,...,...,...
29187,Switzerland,2016,Under-five mortality rate (probability of dyin...,Both sexes,4.25 [4.06-4.45]
29397,Syrian Arab Republic,2016,Under-five mortality rate (probability of dyin...,Both sexes,23.27 [15.09-28.55]
29598,Tajikistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,36.82 [27.93-48.82]
29742,Thailand,2016,Under-five mortality rate (probability of dyin...,Both sexes,10.32 [9.06-12.38]
29952,Timor-Leste,2016,Under-five mortality rate (probability of dyin...,Both sexes,49.01 [32.03-74.01]

## Dataset to export

In [683]:
under5_2015 = under5_bs[under5_bs['Period'] == 2015]
under5_2015

,Location,Period,Indicator,Dim1,First Tooltip
12,Afghanistan,2015,Under-five mortality rate (probability of dyin...,Both sexes,70.44 [60.72-80.86]
186,Albania,2015,Under-five mortality rate (probability of dyin...,Both sexes,9.57 [9.23-9.94]
312,Algeria,2015,Under-five mortality rate (probability of dyin...,Both sexes,25.18 [24.61-25.75]
510,Andorra,2015,Under-five mortality rate (probability of dyin...,Both sexes,3.53 [1.23-10.59]
615,Angola,2015,Under-five mortality rate (probability of dyin...,Both sexes,88.2 [46.58-149.6]
...,...,...,...,...,...
29190,Switzerland,2015,Under-five mortality rate (probability of dyin...,Both sexes,4.31 [4.15-4.47]
29400,Syrian Arab Republic,2015,Under-five mortality rate (probability of dyin...,Both sexes,23.18 [15.76-28.16]
29601,Tajikistan,2015,Under-five mortality rate (probability of dyin...,Both sexes,37.75 [30.11-47.75]
29745,Thailand,2015,Under-five mortality rate (probability of dyin...,Both sexes,10.8 [9.5-12.75]
29955,Timor-Leste,2015,Under-five mortality rate (probability of dyin...,Both sexes,50.76 [34.49-73.94]

## WHO Region Life Expectancy at Birth - IGNORE